.error {
  color: hsl(0, 100%, 50%);
  font-weight: normal;
}
.loadingmessage {
  color: hsl(184, 100%, 41%);
  margin-bottom: 14px;
  text-align: center;
}
.user_exist {
  text-align: center;
}
.otp_succes_message{
	display:none;
	text-transform:capitalize;
	color:green;
}
.failure_message_login {
  color: red;
}
.loadingmessage_login {
  color: hsl(184, 100%, 41%);
}
.succes_message_login {
  color: hsl(120, 100%, 25%);
  text-align: center;
}
.see_my {
  background-color: hsl(0, 0%, 100%);
  border: 2px solid hsl(0, 0%, 87%);
  left: 0;
  padding: 7px 2px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 63px;
  display: block;
}
.login-content {
  color: hsl(0, 0%, 100%);
  margin-top: 10%;
  text-align: center;
  position: absolute;
  bottom: 8%;
  left: 25%;
}
.login-content p{
  text-align: left;
}
.login-content p::after {
  background-color: #0080ff;
  content: "";
  display: block;
  height: 3px;
  margin-top: 10px;
  width: 60px;
}
.login-bg {

  height: 680px !important;
  
}
.logo {
  margin-left: 0 !important;
}
/**********************
Rajat CSS
************************/
.winning_box {
  margin: 0 auto;
  position: relative;
  width: 680px;
}
.prize {
  float: left;
  width: 10%;
}
.smily {
  float: left;
  width: 70%;
}
.boy {
  float: left;
  width: 10%;
}
.boy > img {
  height: 200px;
  margin-top: -25px;
}
.smily > img {
  margin-top: 5px;
  width: 100%;
}
.prize > img {
  height: 80px;
  margin-top: 55px;
}

.frnd-bg {
  height: 450px !important;
}
.frnd-bg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  height: 500px;
  position: relative;
  top: 0;
}
.frnd-right {
  background: #2e2e2e none repeat scroll 0 0;
  height: 450px;
}
.frnd-right > p {
  border-bottom: 1px solid #fff;
  color: #fff;
  padding: 20px 30px;
}
.frnd-right p:last-child {
    border-bottom: none;
}
/**********************
Rajat CSS
************************/
/********Charts CSS*******/
.amcharts-chart-div {
  height: 500px !important;
}
.amcharts-chart-div > a {
  display: none !important;
}
.questionNoOutter .quesNo {
  font-weight: bold;
  height: 31px;
  line-height: 22px;
  width: 31px;
}
.questionNoOutter ul li {
  border: 1px solid hsl(180, 12%, 86%);
  border-radius: 50px;
  color: hsl(0, 0%, 40%);
  float: left;
  font-family: calibri,calibriregular;
  font-size: 16px;
  height: 35px;
  line-height: 32px;
  margin-right: 10px;
  position: relative;
  text-align: center;
  width: 35px;
}
.questionNoOutter li {
  list-style: outside none none !important;
}
.questionNoOutter ul li .questionIcons {
  background: hsla(0, 0%, 0%, 0) url("questionIcons.png") no-repeat scroll 0 -2px;
  height: 10px;
  position: absolute;
  right: -1px;
  top: -5px;
  width: 10px;
}
.questionIcons.wrongAnswer {
  background-position: 0 -15px !important;
}
.questionIcons.notattempted {
  background-position: 0 -27px !important;
}
.rightAnswerExpla {
  border: 2px solid hsl(185, 19%, 88%);
  border-radius: 5px;
  box-sizing: border-box;
  float: left;
  margin-bottom: 20px;
  margin-top: 30px;
  padding: 25px;
  position: relative;
  width: 100%;
}
.rightAnswerExpla {
  border: 2px solid hsl(185, 19%, 88%);
  border-radius: 5px;
  box-sizing: border-box;
  float: left;
  margin-bottom: 20px;
  margin-top: 30px;
  padding: 25px;
  position: relative;
  width: 100%;
}
.rightAnswerExpla i.ExplanationMark {
  background: hsla(0, 0%, 0%, 0) url("answerBoxArrow.png") no-repeat scroll 0 0;
  height: 13px;
  left: 25px;
  position: absolute;
  top: -13px;
  width: 25px;
}
.QBYQ_questioncorrect {
  background: hsla(0, 0%, 0%, 0) url("tickIcon.png") no-repeat scroll 0 0.5em;
  color: hsl(0, 0%, 20%);
  line-height: 2.1em;
  padding-left: 2em;
  text-align: left;
}
.QBYQ_questionIncorrect {
  background: hsla(0, 0%, 0%, 0) url("crossIcon.png") no-repeat scroll 0 0.5em;
  color: hsl(0, 0%, 20%);
  line-height: 2.1em;
  padding-left: 2em;
  text-align: left;
}
.question-type {
  margin-bottom: 50px;
}
.span_hover {
    border: 1px solid #00c1cf !important;
}
.btn-group3.text-center {
  background: #ffffff none repeat scroll 0 0;
  bottom: 0;
  box-shadow: 0 0 2px 0 #777777;
  left: 0;
  padding: 10px 0;
  position: fixed;
  width: 75%;
}
/***********Added By shubham 09 Aug 2017**************/
.section-dashboard .box-point {
  min-height: 488px;
}





