html {
  height: 100%;
}
body {
  min-height: 100%;
}
@font-face {
    font-family: 'HelveticaLTStd-Bold';
    src: url('../fonts/helvitica/HelveticaLTStd-Bold.otf');
}
@font-face {
    font-family: 'HelveticaLTStd-Light';
    src: url('../fonts/helvitica/HelveticaLTStd-Light.otf');
}
@font-face {
    font-family: 'HelveticaLTStd-Roman';
    src: url('../fonts/helvitica/HelveticaLTStd-Roman.otf');
}
@font-face {
    font-family: 'HelveticaLTStd-oblique';
    src: url('../fonts/helvitica/HelveticaLTStd-Obl.otf');
}
@font-face {
    font-family: 'Heavitas';
    src: url('../fonts/helvitica/Heavitas.ttf');
}
@font-face {
    font-family: 'LemonMilk';
    src: url('../fonts/helvitica/LemonMilk_0.otf');
}


body{
    font-family: 'HelveticaLTStd-Roman';
    color: #222;
    background-color: #fff;
}

/** main end **/

/** header css **/
.main-menu .navbar-nav li.cart a {position: relative;}
.main-menu .navbar-nav li.cart a .badge {
    position: absolute;
    top: 2px;
    left: 18px;
    background: #404041;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    font-size: 12px;
    line-height: 0;
    padding: 9px 0 0 0;
}
header.header-main {
    color: #ffffff;
    position: relative;
    z-index: 1000;
    box-shadow: 0px 6px 10px #eee;
}
.navbar-toggle {margin-top: 6px;margin-bottom: 6px;border-color: #C84724 !important;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {background-color: #C84724;}
.navbar-default .navbar-toggle:focus .icon-bar, 
.navbar-default .navbar-toggle:hover .icon-bar{background-color: #fff;}
.navbar-default .navbar-toggle .icon-bar{background-color: #C84724;}
.navbar {min-height: auto;}
.logo { padding: 0 40px 0 15px;height: auto;}
.logo img{width: 270px;}
.main-menu {
    margin: 0;
    padding: 0;
    background: #fff;
    border: none;
    border-radius: 0;
}
.main-menu .navbar-collapse{background-color: transparent;}
.main-menu .navbar-nav > li > a {
    padding: 14px 13px;
    background: transparent;
    color: #404041;
    outline: none;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'HelveticaLTStd-Roman';
}
.main-menu .navbar-nav > li > a:hover{color: #C84724;}
.main-menu .navbar-nav > li > a:active,
.main-menu .navbar-nav > li > a:focus{font-family: 'HelveticaLTStd-Bold';color: #C84724;}
.main-menu .navbar-nav > li.cart a img{height: 20px;}
.navbar-fixed-top {
    position: fixed !important;
    left: 0;
    right: 0;
    top: 0;
    border: none;
}
.navbar-fixed-top .social-links {padding: 14px 15px 14px 0;}
.social-links{margin: 0;padding: 14px 0;float: right;}
.social-links li {
    display: inline-block;
    margin-right: 0px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    padding: 0;
    border: 2px solid #404041;
    text-align: center;
    color: #404041;
    font-family: 'HelveticaLTStd-Light';
    line-height: 15px;
}
.social-links li:nth-child(1){
    width: auto;
    border-radius: 0;
    border:none;
    margin-right: 10px;
}
.social-links li:nth-child(1) a{font-size: 15px;}
.social-links li:nth-child(1):hover{background-color: transparent;}
.social-links li:nth-child(1):hover a{color: #404041;}
.social-links li:nth-child(1) a:hover{text-decoration: underline;color: #404041;}
.social-links li:nth-child(1) span{font-family: 'HelveticaLTStd-Bold';}
.social-links li:hover{
    cursor: pointer;
    background-color: #404041;
    -webkit-transition: .6s ease;
    -o-transition: .6s ease;
    transition: .6s ease;}
.social-links li a{font-size: 11px;color: #404041;}
.social-links li:hover a{color: #fff; text-decoration: none;-webkit-transition: .2s ease;-o-transition: .2s ease;transition: .2s ease;}

.new-biz-dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style: none;
    width: 240px;
    margin-left: 18px;
    right: 10px;
}
.new-biz-dropdown .dropdown-content {
    list-style: none;
}

.new-biz-dropdown .dropdown-content .media-body {
  color: #000;
}



.new-biz-dropdown.dropdown:hover .dropdown-content {
    display: block;
    padding: 0;
}
.new-biz-dropdown .dropdown-content a {
    color: black;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    font-size: 12px;
}
.new-biz-dropdown .dropdown-content a:hover {
    background-color: rgb(21, 5, 57);
    color: #fff;
}
.new-biz-dropdown .dropbtn img {
  border-radius: 50%;
  border: 1px solid lightgray;
  height: 40px;
}
.profil-dropdown .media {
  padding: 25px 25px 10px;
}
.new-biz-dropdown{
  text-align: left !important;
}
.profil-dropdown .media .media-left img {
  border-radius: 50%;
  height: 40px !important;
}
.logo img {
  width: 270px;
}
.new-biz-dropdown .user-pic {
  padding: 5px 17px;
}
.main-menu .navbar-nav > li > a {
  padding: 5px 13px;
}
/** header end **/





/*24 may new added css*/
.btn-common {
    background-color: #150539;
    color: #fff;
    text-transform: uppercase;
    font-family: 'LemonMilk';
    font-size: 14px;
    text-align: center;
    padding: 4px 10px;
    border-radius: 8px;
    max-width: 216px;
    width: 100%;
    padding: 12px 15px;
    border-radius: 7px;
    color: #FFF;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
}
.btn-common:hover, .btn-common:active, .btn-common:focus{color: #fff;}
.btn-common:hover, .btn-register:hover{
    transform: scale(1.1);
    transition: all ease-in-out .5s;
}
.btn-register:hover, .btn-register:active, .btn-register:focus{color: #fff;}
.btn-register{
    display: inline-block;
    position: relative;
    max-width: 216px;
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #C74724;
    border-radius: 7px;
    color: #FFF;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    background: #C74724;
    background: -moz-linear-gradient(top,#C74724 0,#AA3B21 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#C74724),color-stop(100%,#AA3B21));
    background: -webkit-linear-gradient(top,#C74724 0,#AA3B21 100%);
    background: -o-linear-gradient(top,#C74724 0,#AA3B21 100%);
    background: -ms-linear-gradient(top,#C74724 0,#AA3B21 100%);
    background: linear-gradient(to bottom,#C74724 0,#AA3B21 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C74724',endColorstr='#AA3B21',GradientType=0);
    box-shadow: inset 0 0 3px 1px #AA3B21;
    font-family: 'LemonMilk';
    font-size: 14px;
}
.common-heading {
  font-family: 'HelveticaLTStd-Bold';
  text-align: center;
  color: #150539;
  font-size: 22px;
  margin: 0 0 35px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.question-head .common-heading{
text-align: left;
margin: 0 0 12px;
}
button, a{
  outline: none !important;
}
.twoAnalysisBox .panel-primary{
  border-color: #C74724;
}





/** body css **/

/** parallax area **/
.parallax {
    background-attachment: fixed !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-overlay {background-color: rgba(0, 0, 0, 0.5);padding: 40px 0;}
/** parallax end **/


.section-issues{color: #fff;}
.section-issues .parallax-overlay{
    height: 645px;padding: 60px 0;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.breadcrumb-style1{border-bottom: 1px solid #ccc;background-color: rgba(255, 255, 255, 0.5);border-radius: 0;list-style: outside none none;margin-bottom: 40px;padding: 8px 15px;}
.breadcrumb > li + li:before {color: #222; content: "\f0a4";padding: 0 5px;font-family: "FontAwesome";margin:0 6px;}
.breadcrumb > li a {color: #fdcb49;}
.breadcrumb > li.active {color: #222;}




.section-dashboard {padding: 30px 0;}
.main-container {
  width: 1024px;
}

.media.media-user  .media-object {
  display: block;
  width: 90px;
}

.media.media-user  .media-body {
  padding: 10px 20px;
}
.media.media-user  .media-body .progress {
  background-color: #e8e8e8;
  border-radius: 5px;
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.1) inset;
  height: 5px;
  margin-bottom: 0px;
  margin-top: 12px;
  overflow: hidden;
  width: 90%;
  float: left;
}
.bg-green{background-color:#acd373;}
.award-progress {
  float: left;
  position:relative;
}
.award-progress {
  background-color: hsl(0, 0%, 91%);
  border-radius: 5px;
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.1) inset;
  height: 5px;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
  width: 12%;
  
  margin-left: 5px;
}
.award-progress > img {
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: -95px;
  height: 90px;
  width: auto;
}
.media.media-user .pull-left {
  margin-left: 10px;
}
.box-feature{ border-radius: 4px;padding: 15px; color:#fff;}
.box-feature .heading-white {font-size: 20px;margin: 0 0 4px;}
.box-feature > p {font-size: 20px;}
.box-feature > p {font-size: 20px;margin: 10px 0;}
.box-feature .progress{height: 4px;margin-bottom: 0;}
.box-blue{background-color:#4eaeeb;}
.box-pink{background-color:#ee5086;}
.box-sky{background-color:#C74724;}
.box-light{background-color:#80c5dd;}
.box-green{background-color:#a5ce47;}
.bg-blue{background-color:#1c61a7;}
.bg-light{background-color:#8bd3ec;}
.bg-green2{background-color:#9ac23e;}
.box-point{box-shadow: 1px 10px 18px 0 #ddd; background-color:#fff;padding: 35px 0px;max-height: 520px;min-height: auto;
overflow: auto;border-radius: 8px;}
.box-point .heading-black{font-size: 22px;float: left;margin: 0 0 10px;}
.number {
  float: right;
  font-size: 22px;
  margin: 0 0 10px;
  line-height: 1.1;
}
.heading-box > p { color:#b0b0b0;font-size: 12px;}
.semi-chart {
 position: absolute;
 top: 100px;

}
.highcharts-background {
  fill: hsla(0, 0%, 0%, 0);
}
.highcharts-title {
  display: none;
}
.highcharts-button-symbol {
  display: none;
}
.highcharts-credits {
  display: none;
}
.highcharts-container {top: -5.067px !important;left: -4.5px !important;}
.heading-box {
  padding: 10px 15px;
}
.total-number{float:left;color:#000;}
.title{float:right;color:#000;}
.progress-box .progress{height: 4px;margin-bottom: 30px;margin-top: 5px;}
.progress-box {
  bottom: 0px;
  display: block;
  left: 0;
  padding: 0 30px;
  position: absolute;
  right: 0;
  width: 100%;
}
.bg-pink{background-color:#f48fb1;}
.bg-light-blue{background-color:#a0acf0;}
.bg-orange{background-color:#ffab91;}
.bg-violet{background-color:#ce93d8;}
.box-chart{box-shadow: 1px 10px 18px 0 #ddd; background-color:#fff;padding: 35px 15px;border-radius: 8px;}
.box-chart .heading-black{font-size: 22px;margin: 0 0 10px;}
.box-chart > p { color:#b0b0b0;}
.canvasjs-chart-credit {display: none;}
.box-activity{box-shadow: 1px 10px 18px 0 #ddd; background-color:#fff;padding: 35px 15px;border-radius: 8px;}
.box-activity .heading-black{font-size: 22px;margin: 0 0 10px;}
.box-activity > p { color:#b0b0b0;}
.activity {
  font-size: 13px;
  color:#9d9d9d;
}
.topic-name {
  
  font-size: 13px;
  color:#9d9d9d;
}
.media.media-activity {border-bottom: 1px solid #ddd; padding: 20px 0;margin-top: 0;}
.media-last{border-bottom:none !important; padding: 20px 0 22px !important;}
.media-activity .media-body {
  padding-left: 12px;
  padding-top: 0;
}
.box-board{box-shadow: 1px 10px 18px 0 #ddd; background-color:#fff;padding: 34px 15px;border-radius: 8px;}
.box-board .heading-black{font-size: 22px;margin: 0 0 10px;}
.box-board > p { color:#b0b0b0;}
.table-board {margin-bottom: 0px;color:#9d9d9d;}
.table-board tr th {border: medium none !important; background-color:#f8f8f8;padding: 8px 8px !important;font-weight: normal;}
.table-board tr th ,.table-board tr td{text-align:center;}
.table-board tr td{padding: 10px 20px !important;position: relative; border:none !important; border-bottom:1px solid #ddd !important;}
.number1 {
  left: 4px;
  position: absolute;
  top: 9px;
 
}
.number2 {
  right: 4px;
  position: absolute;
  top: 9px;
  
}
.table-board .progress {
  height: 3px;
  margin-bottom: 0;
  margin-top: 9px;
  vertical-align: middle;
  width: 94%;
  margin-left: 2px;
}

 tr:nth-child(odd) {
  background-color: #f8f8f8;
}
 tr:nth-child(even) {
  background-color: #fff;
}
.bg-sky{background-color:#03a9f4;}
.bg-red2{background-color:#ec3b57;}
.bg-yellow{background-color:#ff9800;}
.sort-btn .nice-select{background-color:transparent; border:none; border-bottom:1px solid #fff; border-radius:0;}
.sort-btn .current{color:#fff;}
.input-group.sort-btn {margin-top: 10px;}
.sort-btn  .nice-select::after{content: "";font-family: FontAwesome; border:none;transform: none;top: 14%; color:#fff;}
.sort-btn  .nice-select.open::after {transform: rotate(0deg);}
.bg-blue2{background-color:#C74724;}
.box-white{background-color: #fff;box-shadow: 1px 10px 18px 0 #ddd;padding: 35px 0;border-radius: 8px;}
.progress-result .progress { height: 5px;width: 85%;float: left;}
.progress-result {margin-left: 15%;margin-top: 30px;}
.btn-green{background-color:#97de06; border-color:#97de06; color:#fff;padding: 5px 30px;border-radius: 20px;margin-top: 10px;}
.btn-green:hover,.btn-green:focus,.btn-green:active{ color:#fff;}
.media-video .media-object {
  width: 150px;
}
.media-video .pull-left {
  display: block;
  width: 150px;
  position:relative;
}
.media-video .media-body {
  padding-left: 25px;
}
.play-icon-block {
  left: 28%;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  top: 28%;
}
.media-user .pull-left {color:#000;}
.media-user .pull-left p{ margin-top:6px;}
.number-count {
  font-size: 42px;
  text-align: right;
   font-family: 'CALIBRIB';
}
.bg-yellow2{background-color:#fff570;}
.bg-orange2{background-color:#f2ca00;}
.bg-green2{background-color:#c1ff70;}
.percentage {
  text-align: right;
}
.bg-1{background-color:#4eaeeb;}
.bg-2{background-color:#97de06;}
.bg-3{background-color:#C74724;}
.bg-4{background-color:#ff97c4;}
.box-chart{position:relative;}
.progress-bar2 {
  background-color: hsla(0, 0%, 0%, 0);
  box-shadow: none;
  height: 60px;
  margin: 0;
  position: absolute;
  right: 35px;
  top: 18px;
  width: 60px;
}
.heading-box .progress-bar2{top:30px;}
.media-blue .pull-left {
  background-color: #457fc9;
  display: block;
  height: 70px;
  margin: 0 auto;
  text-align: center;
  width: 75px;
  padding: 14px 0;
}
.media-green .pull-left {
  background-color: #78b83e;
  display: block;
  height: 70px;
  margin: 0 auto;
  text-align: center;
  width: 75px;
  padding: 14px 0;
}
.media-orange .pull-left {
  background-color: #ff9800;
  display: block;
  height: 70px;
  margin: 0 auto;
  text-align: center;
  width: 75px;
  padding: 8px 0;
}
.media-red .pull-left {
  background-color: #fd3235;
  display: block;
  height: 70px;
  margin: 0 auto;
  text-align: center;
  width: 75px;
  padding: 14px 0;
}
.media-activity .media-object {
  margin: 0 auto;
  text-align: center;
  width: 50px;
}
.media-orange .media-object{width:38px;}
.bottom-box{background-color: #fff;box-shadow: 1px 10px 18px 0 #ddd;padding: 8px 0; border-left:10px solid #C74724;border-radius: 8px;}

.btn-renew{background-color:#C74724; border-color:#C74724; color:#fff;padding: 5px 25px;border-radius: 20px;}
.btn-renew:hover,.btn-renew:focus,.btn-renew:active{ color:#fff;}
.bottom-content{float:left;margin-top: 10px;}
.bottom-btn{float:right;margin-top: 4px;}
.login-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  bottom: 0;
  height: 100%;
  position: fixed;
  top: 0;
  width: 931px;
}
.col-right {
  bottom: 0;
  height: 100%;
  position: fixed;
  top: 0;
  width: 435px;
  background-color:#fff;
}
.section-login{overflow:hidden; position:relative;}
.panel-login {border-radius: 0; border:none; box-shadow:none;}
.panel-login .panel-heading{background-color:#fff;text-align: right;}
.panel-login .panel-heading img {width: 110px;}

.form-login .form-control {border-radius: 20px;height: 38px;}
.form-control:focus {border-color: #C74724; }
.form-login .input-group-addon{border-radius: 20px;border-bottom-right-radius: 0 !important;border-top-right-radius: 0  !important; background-color:#fff;}
.form-login .input-group{margin-bottom:20px;}
.panel-login .panel-body {padding: 50px 80px;}

.btn-login{background-color:#C74724; border-color:#C74724; color:#fff; border-radius:20px;padding: 8px 12px; transition:all ease-in-out 0.6s;}
.btn-login:hover,.btn-login:focus,.btn-login:active{background-color:#000; border-color:#000; color:#fff; }
.panel-login .panel-footer {bottom: 0;position: fixed;text-align: center;width: 435px;}
.panel-login .panel-footer > a {clear: both;color: hsl(0, 0%, 47%);}
.login-list{list-style:none;padding: 0px;margin-bottom: 40px;}
.login-list li{ display:inline-block;}
.login-list li a {padding: 10px; color:#777;}
.login-list li.active a {border-bottom: 3px solid #C74724;}
/*.form-box{margin-top:30%;}*/
.banner-content{color:#fff;}
.banner-content .heading-white{font-size: 50px;}
.banner-content p {font-size: 16px;}
.banner-content p:after{background-color:#C74724; height:3px; width:60px; content:""; display:block; margin-top:10px;} 
.banner-content {bottom: 20%;left: 10%;position: absolute;}
.form-box2 .form-login .input-group {margin-bottom: 15px;}
.content {
  left: 43%;
  position: absolute;
  top: 30%;
}
.section-topic{ padding:30px 0;}
.media-topic .media-object {border-radius: 8px;}
.media-topic .media-body {padding-top: 25px;}
.media-topic .media-body .heading-blue {font-size: 20px;}

.btn-blue {
  background-color: rgba(0, 0, 0, 0);
  border-color: #C74724;
  border-radius: 6px;
  color: #C74724;
  padding: 6px 25px;
}
.btn-blue:hover,.btn-blue:focus,.btn-blue:active{ background-color:#C74724; border-color:#C74724; color:#fff;}
.btn-blue-border {
  background-color: #fff;
  border-color: #C74724 ;
  border-radius: 20px;
  color:#C74724 ;
  padding: 6px 25px;
}
.btn-blue-border:hover,.btn-blue-border:focus,.btn-blue-border:active{ background-color:#C74724 ; border-color:#C74724 ; color:#fff;}
.btn-padding {padding: 6px 42px;}
.btn-group2 {
  margin-top: 46px;
}

.section-video{padding:20px 0;}
.video-box {
  border-bottom: 1px solid hsl(0, 0%, 87%);
  border-radius: 20px;
  padding: 20px 0;
}
.panel-video{box-shadow: 1px 10px 18px 0 #ddd;border-radius: 10px; position:relative;}
.panel-video .panel-heading{padding: 25px 0; text-align:center; color:#fff;border-top-left-radius: 10px;border-top-right-radius: 10px;}
.panel-blue .panel-heading{background-color:#5782ec;}
.panel-video .panel-footer{background-color:#fff; text-align:center; border:1px solid #eee;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;padding: 15px;}
.panel-video .panel-footer a{color:#6a57ec;font-size: 16px;}
.panel-video .panel-footer img {margin-left: 5px;}
.heading-small {font-size: 16px;margin-bottom: 5px;}
.heading-large {font-size: 20px;}
.video-detail {
  /*margin: 60px 0;*/
}
.icon-box {
  float: left;
  padding-right: 20px;
}
.video-heading {
  float: left;
  padding-top: 15px;
}
.panel-pink .panel-heading{background-color:#ee5086;}
.panel-sky .panel-heading{background-color:#C74724;}
.panel-green .panel-heading{background-color:#78b83e;}
.panel-orange .panel-heading{background-color:#ffc155;}
.lapi-img {left: 50px;position: absolute;top: 38px;}
.banner-bottom{background-repeat:no-repeat; background-size:cover; background-position: center center; height:300px;
border-radius: 10px;}
.sem-info{color:#fff;padding: 32px 0; text-align:center; width: 27%; float: left; margin-right: 10px;}
.sem-info .heading-small,.sem-info .heading-large,.sem-info .laptop{margin-bottom:18px;}
.btn-white{background-color:#fff; border-color:#fff; border-radius:20px; color:#000;padding: 6px 55px;}
.section-bottom {
  border-top: 1px solid #ddd;
  box-shadow: 0 0 4px 0 #ddd;
  padding: 20px 0;
}
.media-content {float: left;padding-top: 30px;}
.media-video2 .media-body .btn-green{padding: 6px 40px;margin-left: 30px;margin-top: 40px;}

.nav-login { border-bottom: none; }
    .nav-login > li.active > a, .nav-login > li.active > a:focus, .nav-login > li.active > a:hover { border-width: 0; }
    .nav-login > li > a { border: none; color: #666; }
        .nav-login > li.active > a, .nav-login > li > a:hover { border: none; color: #C74724!important; background: transparent; }
        .nav-login > li > a::after { content: ""; background: #C74724; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
    .nav-login > li.active > a::after, .nav-login > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{padding:20px}
.section-video-desc{padding:20px 0;}
.section-video-desc .heading-blue{font-size:20px;}
.panel-desc{background-color: #fff;box-shadow: 0 0 11px 0 #e3e3e3;border-radius: 8px;border: medium none;padding: 8px;
min-height: 370px;margin: 0;}
.panel-desc .panel-heading{background-color: #fff; border:none; color:#C74724 ; font-size:16px;}
.title1{float:lefta;}
.type1{float:right;}
.video-info{margin-bottom:20px;}
.video-des{background-repeat:no-repeat; background-size:cover; background-position:center center; height:370px;border-radius: 8px;margin-top: 11%; position:relative;}
.video-des .play-icon-block {left: 40%;top: 45%;}
.video-des .play-icon-block img {width: 140px;}
.video-content{padding:20px;min-height: 240px;background-color: #fff;box-shadow: 0 0 11px 0 #e3e3e3;border-radius: 8px;}
.video-btn .btn {margin-bottom: 10px;width: 90%;}
.video-btn {min-height: 240px;padding: 40px 15px 0; text-align: center;background-color: #fff;box-shadow: 0 0 11px 0 #e3e3e3;border-radius: 8px;}
.video-btn .btn img {width: 24px;}
.section-analysis{padding:20px 0;}
.analysis-box{background-color: #fff;box-shadow: 0 0 11px 0 #e3e3e3;border-radius: 8px;border: medium none;padding:}
.student-info {
  border-right: 1px solid #ddd;
  text-align: center;
  padding:32px 0 0;
  min-height: 220px;
}
.student-info > img {
  width: 95px;
}
.point {
  font-size: 16px;
   font-family: 'CALIBRIB';
}
.response {
  margin-top: 10px;
}
.student-details {
  padding: 50px 0 0;
  text-align: center;
}
.student-details .progress{height: 6px;margin: 10px auto;width: 60%;}
.student-details  .heading-black{margin: 0 0 10px; color:#777;}
.student-details p{color:#777;margin: 0;}
.energy-number {
  font-size: 50px;
  color:#eb4e92;
  font-family: 'CALIBRIB';
}
.student-details .progress .bg-red2 {
  background-color: #eb4e92;
}
.btn-green2{background-color:#21e2b4;}
.bg-voilet2{background-color:#ba00cf;}
.color-green{color:#21e2b4;}
.color-voilet{color:#ba00cf;}
.btn-retake{background-color:#fff; border-color:#C74724 ; border-radius:20px; color:#777;font-size: 16px;padding: 8px 38px;}
.btn-view{background-color:#C74724 ; border-color:#C74724 ; border-radius:20px; color:#fff;padding: 8px 15px;font-size: 15px;}
.color-blue{color:#C74724 ;}
.table-practice{background-color: #fff;box-shadow: 0 0 11px 0 #e3e3e3;border-radius: 8px;border: medium none;padding:}
.table-practice .progress{height:20px; margin-top:0;	}
.pro-red{background-color:#f05550;}
.table-practice .number1 {top: 25px;font-size: 16px;}
.table-practice .number2 {right: -5px;top: 8px;font-size: 16px;}
.sheetno , .chapterno{font-size: 16px;margin-top: 10px;}.accuracy {
  margin-bottom: 4px;
  text-align: left;
}
.table-practice tr:nth-child(2n+1) {
	background-color:#fff;
  
}
.table-practice tr td{ border:none !important;}
.table-analysis{background-color: #fff;box-shadow: 0 0 11px 0 #e3e3e3;border-radius: 8px;border: medium none;padding:}
.pro-blue{background-color:#C74724;}
.pro-green{background-color:#97de06;}
.pro-yellow{background-color:#f9de90;}
.view {position: absolute;right: 0;top: 4px;}
.col-analysis {position: relative;}
.section-analysis .heading-black{margin: 0 0 10px;}
.btn-test{background-color:#C74724; border-color:#C74724; color:#fff;padding: 9px 29px;}
.section-test{padding:60px 0 20px;}
.question-no {
  border-bottom: 2px solid #C74724;
  width: 100%;
}
.question-no span{font-weight:bold; margin-bottom:5px;}
.question {
  margin-top: 2%;
}
.q-option {
  margin-top: 15px;
  padding: 0 15px;
}
.other-option {
  color: hsl(0, 0%, 47%);
  list-style: outside none none;
  padding: 0 8px;
  margin-top:20px;
}
.other-option  li{margin-bottom:20px;}
.other-option span {
  border: 1px solid hsl(0, 0%, 47%);
  border-radius: 50%;
  display: inline-block;
  height: 20px;
  margin-right: 10px;
  padding-bottom: 0;
  padding-left: 0;
  padding-top: 0;
  text-align: center;
  width: 20px;
}
.btn-save{background-color:#fff; border-color:#C74724; color:#444; padding:6px 50px; border-radius:0;}
.btn-save:hover,.btn-save:focus,.btn-save:active{background-color:#C74724; border-color:#C74724; color:#fff;}
.btn-reveiw{background-color:#fff; border-color:#C74724; color:#444;padding:6px 25px; border-radius:0; margin-bottom: 5px;}
.btn-reveiw:hover,.btn-reveiw:focus,.btn-reveiw:active{background-color:#C74724; border-color:#C74724; color:#fff;}
.btn-clear{background-color:#fff; border-color:#C74724; color:#444;padding:6px 30px; border-radius:0;}
.btn-clear:hover,.btn-clear:focus,.btn-clear:active{background-color:#C74724; border-color:#C74724; color:#fff;}
.left-side {
  padding: 0 0 0 35px;
  width: 900px;

}

.marking_section
{
   position: relative !important;
  width: 100% !important;
}
.btn-red{background-color:#d50000;  border-color:#d50000; color:#fff;height: 45px;
  padding: 10px 0;
  text-align: center;
  width: 45px;
  }
.btn-yellow{background-color:#CCCC00;  border-color:#CCCC00; color:#fff;height: 45px;
  padding: 10px 0;
  text-align: center;
  width: 45px;
  }
.btn-red:hover,.btn-red:focus,.btn-red:active{ color:#fff;}
.btn-number {
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 27%);
  height: 45px;
  padding: 10px 0;
  text-align: center;
  width: 45px;
}
.right-side{background-color:#eee;}
.btn-group4 {
  min-height: 165px;
  overflow: auto;
  text-align: center;
}
.btn-group4.new{
  max-height: 195px;
  min-height: 195px;
}
.btn-group4 .btn {
  margin: 2px;
}
.right-side {
	background-color: #ffd6a6;
	height: 100%;
	padding: 65px 0 0;
	position: fixed;
	top: 0;
	width: 360px;
	right: 0;
	z-index: 5;
	overflow:auto;
}
.btn-group5 .btn.btn-feature{
  background: #fff none repeat scroll 0 0;
  border-color: #fff;
  border-radius: 20px;
  color: #000;
  margin-bottom: 3px;
  padding: 9px 40px;
  width: 100%;
}
.btn-group3 .btn.btn-feature {
  border-color:#C74724;
  border-radius: 5px;
  color: #C74724;
  margin-bottom: 3px;
  padding: 9px 40px;
  font-weight: bold;
}
.btn.btn-feature:hover,.btn.btn-feature:focus,.btn.btn-feature:active { border-color: transparent; background: #C74724 none repeat scroll 0 0; color: #fff!important;}
.test-right{
  z-index: 1;
}


.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}
.chk .checkbox .cr {
  background-color: #4caf50 ;
  border-radius: 0 !important;
  border-color:#4caf50 ;
}
.chk .checkbox2 .cr {
  background-color: #f44336 ;
  border-radius: 0 !important;
  border-color:#f44336 ;
}
.chk .checkbox3 .cr {
  background-color: #7b1fa2 ;
  border-radius: 0 !important;
  border-color:#7b1fa2 ;
}
.chk .checkbox4 .cr {
  background-color: #fff ;
  border-radius: 0 !important;
  border-color:#fff ;
}
.chk .checkbox5 .cr {
  background-color: #cccc00 ;
  border-radius: 0 !important;
  border-color:#cccc00 ;
}
.nav.navbar.navbar-right.navbar-timer span{
  font-size: 1.7em; padding-left: 10px;
  float: left;
}
.chk {
  text-align: center;
  list-style: outside none none;
  padding:0;
  margin-top:15px;
  
}
.chk > li {
  float: left;
  width: 130px;
}
.checkbox label{position:relative;}
.title2 {
  left: 50px;
  position: absolute;
  width: 110px;
  text-align: left;
}


.chk .checkbox .cr .cr-icon, .chk .radio .cr .cr-icon {
  color: #fff ;
}
.btn-group5 {
  padding: 0 40px;
  margin-top:15px;
}
.title2.mark-review {
  width: 203px;
}
.navbar-timer{color:#fff; margin:0;}
.nav.navbar.navbar-right.navbar-timer > li {padding: 10px;}
.btn-green3 {
  background-color: #4caf50;
  border-color: #4caf50;
  color: #fff;
  height: 45px;
  padding: 10px 0;
  text-align: center;
  width: 45px;
}
.btn-green3:hover,.btn-green3:focus, .btn-green3:active{ color#000;}
.btn-violet {
  background-color: #7b1fa2;
  border-color: #7b1fa2;
  color: #fff;
  height: 45px;
  padding: 10px 0;
  text-align: center;
  width: 45px;
}
.btn-violet:hover,.btn-violet:focus, .btn-violet:active{ color#000;}
.other-option a{color:#777;}
.other-option li a:hover,.other-option li a:focus,other-option li a:active{ color:#C74724;}

/** summary Analysis css end **/

.tab-dept {
    float: left;
    border: none;
    background-color: #f1f1f1;
    width: 100%;
    //height: 600px;
}
.tab.tab-dept > a {
  display: block;
  float: left;
  width: 50%;
}
.taba{background: #C74724 ;}
.tab.tab-dept .taba img {
  float: left;
  height: auto;
  transform: translate(10px, 18px);
  width: 13%;
}
.tab.tab-dept .taba button {
  float: left;
  width: 75%;
}


/* Style the buttons inside the tab */
.tab-dept button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 29px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}
.tab-dept button:hover {
    color:#fff;
  }
/* Change background color of buttons on hover */
/*.tab-dept button:hover {
    background-color: #ddd;
}
*/
/* Create an active/current "tab button" class */
.tab-dept button.active {
    background-color: #ccc;
}
.tab-dept button.active {
  background-color: #C74724 ; color:#fff;
}
/* Style the tab content */
.analysis-box .tabcontent {
    float: left;
    padding: 0px 12px;
    border: none;
    width: 100%;
    border-left: none;
    height: auto;
}

.analysis-box {
  background-color: hsl(0, 0%, 100%);
  border-radius: 8px;
  box-shadow: 1px 10px 18px 0 hsl(0, 0%, 87%);
 /* max-height: 1600px;
  min-height: 1600px;*/
  text-align: center;
}

.section-dept {
  padding: 40px 0;
}
/*********End Summry Analysis*******/

label > input{ /* HIDE RADIO */
 visibility: hidden; /* Makes input not-clickable */
 position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
 cursor:pointer;
 border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
 border:2px solid #C74724;
 border-radius: 50%;
}

.nav.navbar.navbar-right.navbar-timer #exam-time-left {
  font-size: 25px;

}

  /** practice modal css **/    
.modal-practice {top: 60px;}     /*summary analysis css */
.modal-practice .modal-header{ background-color:#C74724; color:#fff;}   
.modal-practice .modal-dialog {    
  margin: 30px auto;      
  
}

.modal-practice .modal-dialog .btn-blue-border {margin: 0 0 20px;padding: 6px 40px;}    
.modal-practice .modal-body {text-align: center;}     
.modal-practice .modal-dialog  .modal-content {border-radius: 10px;}      
.modal-practice .modal-header{border-top-left-radius:10px;border-top-right-radius:10px;}      
/** practice modal css end**/

 /*summary analysis css */
.panel-summary{
  background-color: hsl(0, 0%, 100%);
  box-shadow: 1px 10px 18px 0 hsl(0, 0%, 87%);
  border:none;
  margin-top: 40px;
 
}
.panel-summary .panel-heading {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #8b82ff , #0ed9e8); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #8b82ff, #0ed9e8); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #8b82ff, #0ed9e8); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #8b82ff , #0ed9e8); /* Standard syntax */
  text-align:center;
  color:#fff;
  border:none;
  padding: 18px 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.circle-score {
  
  border-radius: 50%;
  height: 200px;
  padding: 48px 0;
  text-align: center;
  width: 200px;
}
.score-no {
  font-size: 20px;
  margin-top: 10px;
   font-family: 'CALIBRIB';
}
.score1 {
  border: 2px solid hsl(50, 100%, 77%);
  left: 22%;
  position: absolute;
  top: 35%;
  z-index: 0;
}
.score2 {
  background-color: hsl(0, 0%, 100%);
  border: 2px solid hsl(204, 98%, 79%);
  left: 40%;
  position: absolute;
  top: 25%;
  z-index: 4;
}
.score3 {
  border: 2px solid hsl(76, 100%, 47%);
  position: absolute;
  right: 22%;
  top: 35%;
  z-index: 0;
}
.panel-summary .panel-body {
  height: 300px;
}
.question-box{ margin: 0 9px; background-color: hsl(0, 0%, 100%);box-shadow: 5px 2px 10px 1px #ddd; width: 227px;}
.question-info {
  padding: 25px 18px; font-size: 16px;
}
.box-1 {background: #C74724 none repeat scroll 0 0;color: #ffffff;margin-left: 0;}
.box-2 {background: #150539 none repeat scroll 0 0;color: #ffffff;margin-left: 0;}
.box-3 {background: #C74724 none repeat scroll 0 0;color: #ffffff;margin-left: 0;}
.box-4 {background: #150539 none repeat scroll 0 0;color: #ffffff;margin-right: 0;}
.media-avg {
  background-color: hsl(0, 0%, 100%);
  box-shadow: 5px 2px 10px 1px hsl(0, 0%, 87%);
  min-height: 150px;
  padding: 52px 30px 0;
}
.media-avg .media-body {position:relative;padding: 14px 18px 0;}
.media-avg .media-heading {font-size: 16px;}
.timer {position: absolute;right: 0;top: 14px;}
.box-analysis{background-color: #fff;box-shadow: 5px 2px 10px 1px #ddd; padding:34px 0;}
.box-analysis .btn-blue {margin-top: 20px;padding: 6px 32px;}
.dept-analysis{
  border-right: 2px solid #95989a;
  padding: 0 28px;
}
.last-dept{border-right: none;}
 /*summary analysis css end*/
 /** online dcs css  **/
 .section-online-dcs{max-height: 1700px;height: auto;padding: 40px 0;}
 .student-profile > img {width: 85px;}
.student-name {margin: 4px 0;}
.question-title2 {font-size: 17px;margin: 20px 0 35px;}
.btn-post{ background-color:#ff0147; border-color:#ff0147; color:#fff; border-radius:20px;padding: 6px 40px;}
.question-no2{font-size:40px; color:#21e2b4;font-family: 'CALIBRIB';}
.answer-no{font-size:40px; color:#ba00cf;font-family: 'CALIBRIB';}
.question-title2.q-title {margin: 20px 0;}
.nav-question > li.active > a, .nav-question > li.active > a:focus, .nav-question > li.active > a:hover {
  background-color: hsla(0, 0%, 0%, 0);
  color: hsl(0, 0%, 0%);
}
.nav-question > li > a {
  border-radius: 4px;
  color: hsl(0, 0%, 0%);
}
.tab-quetion {
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 0 18px 0 hsl(0, 0%, 87%);
  padding: 20px;
  position:relative;
  margin-bottom:20px;
}
.post{color:#777; margin-bottom:10px;}
.tab-quetion > p {width: 70%;}
.edit-group .btn-post {padding: 6px 62px;}
.edit-group .btn-blue {padding: 6px 60px;}
.edit-group {
  position: absolute;
  right: 60px;
  top: 50px;
}
.edit-group .btn{margin-bottom:10px;}
.paper-img img {margin: 0 8px;width: 100px;}
.col-question{position:relative;}
.filter {
  position: absolute;
  right: 22px;
  top: 15px;
}
.filter  .nice-select{height: 42px; padding-left:25px; padding-right:40px;border-radius: 0;}
.but {
  border: 1px solid #808080;
  border-radius: 7px;
  bottom: 20px;
  color: #cccccc;
  height: 23px;
  left: 12px;
  margin-top: 12px;
  position: relative;
  width: 25px;
}
.abc1 {
  border: 1px solid #C74724;
  border-radius: 11px;
  color: #C74724;
  height: 14px;
  left: 169px;
  position: relative;
  text-align: center;
  width: 14px;
  color: #C74724;
  top: 5px;
}
.abc1 .fa.fa-question.icon-qus {
  position: absolute;
  right: 3px;
  top: 0;
  font-size: 10px;
}
.abc2 {
  border: 1px solid #C74724;
  border-radius: 11px;
  color: #C74724;
  height: 14px;
  left: 169px;
  position: relative;
  text-align: center;
  width: 14px;
  color: #C74724;
  top: 5px;
}
.abc2 .fa.fa-question.icon-qus {
  position: absolute;
  right: 3px;
  top: 0;
  font-size: 10px;
}
.abc3 {
  border: 1px solid #C74724;
  border-radius: 11px;
  color: #C74724;
  height: 14px;
  left: 139px;
  position: relative;
  text-align: center;
  width: 14px;
  color: #C74724;
  top: 5px;
}
.abc3 .fa.fa-question.icon-qus {
  position: absolute;
  right: 3px;
  top: 0;
  font-size: 10px;
}
.abc4 {
  border: 1px solid #C74724;
  border-radius: 11px;
  color: #C74724;
  height: 14px;
  left: 188px;
  position: relative;
  text-align: center;
  width: 14px;
  color: #C74724;
  top: 5px;
}
.abc4 .fa.fa-question.icon-qus {
  position: absolute;
  right: 3px;
  top: 0;
  font-size: 10px;
}
.abc5 {
  border: 1px solid #C74724;
  border-radius: 11px;
  color: #C74724;
  height: 14px;
  left: 173px;
  position: relative;
  text-align: center;
  width: 14px;
  color: #C74724;
  top: 5px;
}
.abc5 .fa.fa-question.icon-qus {
  position: absolute;
  right: 3px;
  top: 0;
  font-size: 10px;
}
.video-heading:hover {
  color: #ee5086;
  text-decoration: underline;
}
.video-heading:active {
  color: #ee5086;
  text-decoration: underline;
}
.certificate {
  float: left;
  width: 50%;
  padding: 3% 0px;
  margin-left: 50px;}
.play-icon-block.text-center img {
  height: auto;
  transform: translate(-17px, 0px);
  width: 50%;
}
.circle-score.score1.wow.fadeIn {
  animation-duration: 3s;
}
.circle-score.score2.wow.fadeIn {
  animation-duration: 4s;
}
.circle-score.score3.wow.fadeIn {
  animation-duration: 5s;
}
/** online dcs css end **/
.you_analysis .tabcontent{height: auto;}
.tab.tab-dept a:nth-child(2) img {
  margin-top: 0px;
}
.question-head {
  background-color: #fff;
  position: fixed;
  top: 12%;
  width: 927px;
  z-index: 1;
}
.question-type {
  margin-bottom: 50px;
  margin-top: 0;
  position: relative;
}
.btn-view:hover,.btn-view:focus,.btn-view:active{color:#fff;}
.toggle-line {
	color: #fff;
	position: absolute;
	right: 0;
	top: 8px;
	display:none;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
	position: relative;
	top: 5px;
	z-index: 999;
	display: block;
	width: 25px;
	height: 30px;
	margin-left: 15px;
	background: transparent;
	border: none;
	color: #fff;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #fff;
}
.hamburger.is-closed .hamb-top { 
  top: 5px; 
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;  
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #fff;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;  
}
.hamburger.is-open .hamb-top { 
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250,250,250,.8);
    z-index: 1;
}

.user-info a{color:#4284d0;padding-left: 10px;float: left;}
/*manisha css*/
.user-info .dropdown-content.user-content{top: 50px !important;left: 0;right: 0;}

/** rohit 29-03-2018 css **/
.section-test-info{padding:0 0 20px;}
.section-test-info .main-container {width: 915px;}
.total-test .total-info{background-color:#4483ce;color:#fff;padding:28px;text-align:center;font-size: 18px;}
.total-test .total-no{border:2px solid #4483ce;padding:26px;text-align:center;color:#4484ce;font-size: 18px;}
.total-test .total-solved{background-color:#6fcc12;color:#fff;padding:28px;text-align:center;font-size: 18px;}
.total-test .total-solve-no{border:2px solid #6fcc12;padding:26px;text-align:center;color:#6fcc12;font-size: 18px;}
.pending-info{background-color:#fefefe;box-shadow:0 0 5px 0 #848484;border-radius:8px;padding: 20px 65px;position:relative;}
.clipboard {
	position: absolute;
	top: 22px;
	left: 18px;
}
.clipboard img {
	width: 30px;
}
.total-marks {margin: 2px 0;}
.total-marks .total-duration{padding-left:15px;}
.pending-test{float:left;color:#5b5b5b;margin-top: 10px;}
.pending-info h4{color:#4483ce;margin-bottom:0;font-size: 20px;}
.pending-test .student-test-name{color:#4483ce;font-size: 18px;}
.start-btn {
	float: right;
	margin-top: 3%;
}
.btn-start {
	background-color: #6fcc12;
	border-color: #6fcc12;
	color: #fff;
	padding: 2px 33px;
	border-radius: 30px;
	font-size: 16px;
}
.btn-start:hover,.btn-start:focus,.btn-start:active{color:#fff;}
.pending-info hr {margin-top: 5px;margin-bottom: 5px;	border-top: 1px solid #5b5b5b;}
.btn-analysis{
	background-color: #4483ce;
	border-color: #4483ce;
	color: #fff;
	padding: 2px 20px;
	border-radius: 30px;
	font-size: 16px;
}
.btn-analysis:hover,.btn-start:focus,.btn-start:active{color:#fff;}
.section-start .button{text-align:center;margin-top: 20px;}
.section-start .button .btn{margin:0 30px;}
.section-start .button  .btn-analysis{padding: 2px 38px;}
/** header css  **/
.test-header .navbar-header{position:relative;}
.test-header .logo {padding: 0;margin-left: 0 !important;}

.test-header .navbar-brand.logo {position: absolute;left: 0;top: 0;}
/** header css  end**/
.header-analysis .navbar-header{position:relative;}
.header-analysis .logo {padding: 0;margin-left: 0 !important;}

.header-analysis .navbar-brand.logo {position: absolute;left: 0;top: 0;}
.questionNoOutter ul{padding:0;}
.test-header .main-menu .navbar-nav > li > a {padding: 16px 20px !important;}
a.user_name {
    padding-top: 6px;
}
.pie-chart{
	width:800px;height:400px;margin:0 auto;
}
/** body end **/

.btn-display{display: none;}


/** footer start **/

.footer-main{font-size: 13px;color: #b8b8b8;background-color: #464646;min-height: 200px;}
.footer small{font-size: 12px;}
.footer-top {padding: 80px 0 60px;background-color: #464646;}
.logo-footer {margin: 0 0 12px;}
.logo-footer img{max-width: 100px;}
.footer-bottom {background-color: #000;padding: 20px 0;color: #fff;}
.footer-bottom .container{border-top: 1px solid #444;padding-top: 20px;}
.footer-bottom .img-icon {margin-right: 10px;position: relative;top: -5px;width: 20px;}
.footer-bottom a {color: #b8b8b8;}
.footer-bottom .foo-cities{font-size: 12px;margin-bottom: 15px;}
.foo-mail a{color: #b8b8b8;outline: none;}

.list-style1 .list-group-item { border: medium none; font-size: 12px;padding: 3px 0 3px 15px;background: transparent;position: relative;}
.list-style1 .list-group-item > a {color: #222222;display: block;}
.list-style1 .list-group-item > a:hover {color: #6dcff6;}
.list-style1 .list-group-item::after {color: #6dcff6;content: "\f101";font-family: "FontAwesome";font-size: 13px;position: absolute;left: 0px;top: 2px;}

.list-style2 .list-group-item { border: medium none; font-size: 14px;padding: 3px 0 3px 20px;background: transparent;position: relative;text-align: left;}
.list-style2 .list-group-item > a {color: #fff;display: block;}
.list-style2 .list-group-item > a:hover {color: #0D4C8F;}
.list-style2 .list-group-item::after {color: #fff;content: "\f101";font-family: "FontAwesome";font-size: 14px;position: absolute;left: 0px;top: 2px;}


.footer-top .list-style1 .list-group-item > a {color: #b8b8b8;}
.list-style1 .list-group-item > a:hover {color: #6dcff6;}

.list-inline-block{border-top: 1px solid #565656;padding-top: 12px;}
.list-inline-block .list-group-item{display: inline-block;margin-right: 8px;}
.foo-about{line-height: 22px;min-height: 100px;overflow-x: hidden;overflow-y: auto;}
.foo-heading-about{font-family: 'opensansSB';margin: 0 0 10px 0;font-size: 18px;}
.foo-heading{font-family: 'opensansSB';margin: 0 0 10px 0;font-size: 14px;}



/** footer end **/


/*## scroll_top css ##*/
.scroll_top {background: #C74724;bottom: 32px; display: none; font-size: 0; height: 34px;position: fixed; float:right; right: 10px; width: 34px; z-index: 9999;text-decoration: none;border-radius: 30px;}
.scroll_top:hover {background: #ef3f54 none repeat scroll 0 0;}
.scroll_top::before {color: #ffffff;  content: "^"; display: block;font-family: "FontAwesome";font-size: 25px;height: 34px;line-height: 40px;text-align: center; width: 34px;}
/** scroll_top end **/


/*## owl css ##*/
.owl-theme .owl-controls {margin-top: 0;}

#motivational-owl .owl-controls .owl-buttons div {opacity: 0.7;box-shadow: none;background-color: rgba(255, 255, 255, 1);color: #000;font-size: 22px;padding: 0 12px;-webkit-transition: all 0.4s ease-in-out 0s;-moz-transition: all 0.4s ease-in-out 0s; -o-transition: all 0.4s ease-in-out 0s; transition: all 0.4s ease-in-out 0s;}
#motivational-owl .owl-prev {position: absolute;left: -200px;top: 28%;}
#motivational-owl .owl-next {position: absolute;right: -200px;top: 28%;}
#motivational-owl .item {padding: 0 4px;}
#motivational-owl:hover .owl-prev{left: 15px;}
#motivational-owl:hover .owl-next{right: 15px;}


/*## owl end ##*/

/** common css **/

.p-0{padding: 0 !important;}
.pb-0{padding-bottom: 0 !important;}
.pt-0{padding-top: 0 !important;}
.pl-0{padding-left: 0 !important;}
.pr-0{padding-right: 0 !important;}

.m-0{margin: 0 !important;}
.mb-0{margin-bottom: 0 !important;}
.mt-0{margin-top: 0 !important;}
.ml-0{margin-left: 0 !important;}
.mr-0{margin-right: 0 !important;}

.mt-82{margin-top: -82px !important;}
.mt-min110{margin-top: -110px !important;}
.mt-15{margin-top: 15px !important;}
.mt-20{margin-top: 20px !important;}
.mt-30{margin-top: 30px !important;}
.mt-80{margin-top: 80px !important;}
.mt-100{margin-top: 100px !important;}
.mb-40{margin-bottom: 40px !important;}
.mb-60{margin-bottom: 60px !important;}

.ml-100{margin-left: 100px !important;}

.b-none{border: none !important;}
.bl-none{border-left: none !important;}
.br-none{border-right: none !important;}

a:focus, a:hover {color: #4284d0; text-decoration: underline;}

.space-20{padding: 20px 0;}

.box-shadow1{box-shadow: 4px 6px 15px -6px #000;}

.label-pink{background-color: #fdcb49;border-radius: 0; padding: 7px; font-size: 14px;}

.color-pink{color:#fdcb49;}
.color-red{color:#ff5569;}

.btn-danger{background-color: #ff5569;border-color: #ff5569;color: #fff;}

.btn-pink {background-color: #ff5569; border-color: #ff5569; color: #fff;}
.btn-black {background-color: #000; border-color: #000; color: #fff;padding-left: 40px;padding-right: 40px;}
.btn-bodered{background-color: transparent;color: #000000;border: 2px solid #000000;}
.btn-bodered i.fa{color:#fdcb49;;}
.btn-bodered-white{background-color: transparent;color: #fff;border: 2px solid #fff;border-radius: 0;}
.btn-bodered-white i.fa{color:#fff;;}
.btn-black-round{background-color: #161616;color: #fff;border: 2px solid #161616;border-radius: 30px;padding: 10px 50px;}
.btn-black-round i.fa{color:#fff;;}

.heading-white{color: #fff;margin: 0 0 20px 0;font-family: 'CALIBRIB';}
.heading-white a{color: #fff;}
.heading-black{color: #222;margin: 0 0 20px 0;font-family: 'CALIBRIB';}
.heading-black a{color: #222;}
.heading-blue{color: #C74724 ;margin: 0 0 20px 0;font-family: 'CALIBRIB';}
.heading-blue a{color: #07b7cd;}
.heading-orange{color: #F07420;margin: 0 0 30px 0;font-family: 'CALIBRIB';}
.heading-orange a{color: #07b7cd;}
.heading-pink{color: #fdcb49;margin: 0 0 30px 0;font-family: 'CALIBRIB';}
.heading-pink a{color: #fdcb49;}

.section-hr{background-color: #000;}
.section-hr hr{border: none;border-bottom: 1px solid #515151 !important;margin: 0;}

/** common end **/
/***********Manisha***************/

.question-type {
  margin-bottom: 50px;
  position: relative;
  z-index: 0;
}

.span_hover {
    border: 1px solid #C74724 !important;
}
.btn-group3.text-center {
  background: #ffffff none repeat scroll 0 0;
  bottom: 0;
  box-shadow: 0 0 2px 0 #777777;
  left: 0;
  padding: 10px 0;
  position: fixedd;
  width: 75%;
  position: fixed;
}


.navbar-timer {
  color: #5b5b5b;
  margin: 0;
  text-align: right;
}
.nav.navbar.navbar-right.navbar-timer img {
  height: auto;
  width: 40px;
  margin-top: -7px;
}
.nav.navbar.navbar-right.navbar-timer > li {
  padding: 8px 0 0;
  display:inline-block;
  float: left;
}

.top img{
  width: 30px;
  height:auto;
  }
.body-txt {
  border: none;
  border-radius: 10px;
  margin: 75px auto;
  width: 85%;
}
.top span {
	position: relative;
	top: 5px;
}
.body-txt .top{
  text-align: center;
  padding: 1%;
  border-radius: 10px 10px 0px 0px;
  color:#4484ce;
}
.bottom{
  padding:2%;
}
.ready{
  background-color:#29bef3;
  color:#fff;
  border-radius: 0px 0px 10px 10px;
  padding: 1%;
  text-align: center;
   }
.icons  img {
  height: 50px;
  margin-bottom: 10px;
  width: auto;
}
.icons {
  display: flex;
  margin-bottom: 4%;
}
 .time, .trophy{
  text-align: center;
  width: 33.33%;
  padding-left: 3%;
}
ol{margin-left: 7%;}
.start{ 
  width:13%;
  float:right;
  background-color:#C74724;
  border-radius:20px;
  padding: 1%;
  text-align: center;
  margin: 1%;
  transition: all ease-in-out 0.6s;
  }
.cancel { 
  width:13%;
  float:left;
  background-color:#FF0147;
  border-radius:20px;
  padding: 1%;
  text-align: center;
  margin: 1%;
  transition: all ease-in-out 0.6s;
  }
.start a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
.cancel a{
  text-decoration: none;
  color: #fff;
  font-weight: bold;

}
.start:hover{background-color: #000;}
.cancel:hover{background-color: #000;}
.button a:hover{
  text-decoration: none;
  color: #fff;}
.right-side > .btn-group5 {
  bottom: 18px;
  position: fixed;
}
.right-side > .chk {
  bottom: 16%;
  position: fixed;
}
/**  friendship page css start       **/
.loader-top{
  font-family: 'Helvetica-Bold';
  font-size: 20px;
 padding: 15px 0 ;
  }
.loader-bottom .semi-chart {
 position: static;
}
.analysis-top{font-family: 'Helvetica-Bold'; font-size: 20px;}
.analysis-top.text-left {
  padding-bottom: 22px;
}
.analysis-bottom .course  {
  margin:0 auto 10px;
  border-radius: 50%;
  height: 200px;
  padding: 48px 0;
  text-align: center;
  position: absolute;
  width: 200px;
}
.analysis-bottom .score-no {
  font-size: 30px;
  margin-top: 10px;
  font-family: 'CALIBRIB';
}
.analysis-data {
  height: 400px;
}
.analysis-bottom {
  position: relative;
}
.analysis-bottom .aarambh {
  background: #ffca28 none repeat scroll 0 0;
  border: 2px solid #ffca28;
  color: #ffffff;
  left: 211px;
  top: 110px;
  z-index: 1;
  box-shadow: 1px 2px 19px 0 #c3c3c3;
}
.analysis-bottom .sopan {
  background-color: #1bcd6b;
  border: 2px solid #1bcd6b;
  color: #ffffff;
  left: 31%;
  top: 20px;
  z-index: 0;
  box-shadow: 1px 2px 19px 0 #c3c3c3;
}
.analysis-bottom .utkarsh {
  background-color: #e91e63;
  border: 2px solid #e91e63;
  color: #ffffff;
  left: 44%;
  top: 110px;
  z-index: 1;
  box-shadow: 1px 2px 19px 0 #c3c3c3;
}
.analysis-bottom .shikhar {
  background-color: #C74724;
  border: 2px solid #C74724;
  color: #ffffff;
  left: 57%;
  top: 20px;
  z-index: 0;
  box-shadow: 1px 2px 19px 0 #c3c3c3;
}
.course-title {
  border-bottom: 1px solid #ffffff;
  font-size: 30px;
  margin: 0 35px;
  width: 132px;
  transform: translate(0px, -4px);
}
.depth{padding: 40px 0px 80px;}
.depth-table table{
  width: 100%;
  border:1px solid #d8e2e6;}
.depth-txt{
  font-family: 'Helvetica-Bold';
  font-size: 20px;
  padding-bottom: 10px;
  }
.depth-table table th{
  background: #C74724;
  color:white;
  text-align: center;
  padding: 10px 0px;
}
.depth-table table td{
  padding: 10px 0px;
}
.purchase{
  background: #C74724;
  padding: 50px 0px;
}
.purchase-txt{
  color: white;
  font-size: 30px;
}
.purchase-txt button,.purchase-txt a{
  background: white;
  color: #C74724;
}
.purchase-txt button:hover,.purchase-txt a:hover{
  background: white;
  color: #000;
}
.loader-bottom {height: 200px; margin-bottom: 20px; position: relative;}
.poor {font-size: 24px; left: 30%; margin: 0 auto;position: absolute;  text-align: center;top: 55%; font-family: 'Helvetica-Bold';}
.average {font-size: 24px; left: 46%; margin: 0 auto;position: absolute;  text-align: center;top: -6px; font-family: 'Helvetica-Bold';}
.good {font-size: 24px; left: 64%; margin: 0 auto;position: absolute;  text-align: center;top: 55%; font-family: 'Helvetica-Bold';}
.aarambh{
animation:1s ease 0s normal forwards 1 fadeinaa;
-webkit-animation:1s ease 0s normal forwards 1 fadeinaa;
opacity:1
}

@keyframes fadeinaa{
    0%{opacity:0}
    80%{opacity:0}
    100%{opacity:1}
}

@-webkit-keyframes fadeinaa{
    0%{opacity:0}
    80%{opacity:0}
    100%{opacity:1}
}
.sopan{
animation:2s ease 0s normal forwards 1 fadeinso;
-webkit-animation:2s ease 0s normal forwards 1 fadeinso;
opacity:1
}

@keyframes fadeinso{
    0%{opacity:0}
    80%{opacity:0}
    100%{opacity:1}
}

@-webkit-keyframes fadeinso{
    0%{opacity:0}
    80%{opacity:0}
    100%{opacity:1}
}
.utkarsh{
animation:3s ease 0s normal forwards 1 fadeinut;
-webkit-animation:3s ease 0s normal forwards 1 fadeinut;
opacity:1
}

@keyframes fadeinut{
    0%{opacity:0}
    80%{opacity:0}
    100%{opacity:1}
}

@-webkit-keyframes fadeinut{
    0%{opacity:0}
    80%{opacity:0}
    100%{opacity:1}
}

.shikhar{
animation:4s ease 0s normal forwards 1 fadeinsh;
-webkit-animation:4s ease 0s normal forwards 1 fadeinsh;
opacity:1
}

@keyframes fadeinsh{
    0%{opacity:0}
    80%{opacity:0}
    100%{opacity:1}
}

@-webkit-keyframes fadeinsh{
    0%{opacity:0}
    80%{opacity:0}
    100%{opacity:1}
}



/**  friendship page css end      **/


/***********Manisha***************/
.panel-summary .panel-heading, .twoAnalysisBox .panel-heading {

background: rgba(0, 0, 0, 0) linear-gradient(to right, #D55220 0%, #943F90 75%) repeat scroll 0 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: #fff;
  padding: 18px 15px;
  text-align: center;
}
.twoAnalysisBox .dept-analysis {
  border-radius: 15px;
  padding: 0 0 20px;
}
.twoAnalysisBox .dept-analysis h4 {
  margin-top: 0;
}
.analysis-box .tab-dept .taba img {
  margin: 0;
  padding: 0;
  width: 10%;
}


/** media css **/

@media (min-width: 1250px){
.left-side {margin-top: 10%;}

}
@media (min-width: 1450px){
.left-side {margin-top: 16%;}

}
@media (max-width: 1250px){
.left-side {margin-top: 16%;}

}
@media (max-width: 1200px){
.main-menu .navbar-nav > li > a {padding: 18px 7px !important;}
.main-container {width: 100%;}
.login-bg{width: 863px;}
.login-bg {bottom: 0;height: 800px;position: relative;top: 0; width: auto;}
.col-right {position: relative;width: auto;}
.section-login .col-md-8,.section-login .col-md-4{padding:0;}
.question h4 {width: 70%;}
.btn-group3 .btn.btn-feature{padding: 9px 20px;}
.btn-group3.text-center {width: 100% !important;}
.test-start-mt{margin-top:20px;}

}
@media (max-width: 1024px){
	.toggle-line{display:block;}
	.question h4 {width: 100%;}
	.right-side{ width: 0; transition: 0.5s;}
	.question-head {position: relative;top: 0;width: 100%;}
	.left-side {margin-top: 50px;}
	.navbar-timer {padding: 0 15px;}
	.overflow-box {overflow: auto;min-height: 130px;max-height: 130px;}
	#mySidenav.toggled {width: 360px;}
	.right-side > .btn-group5{bottom:0 !important;}
	.btn-number {height: 35px;width: 35px;padding: 6px 0;}
	.chk .checkbox, .chk .radio {margin-top: 5px;margin-bottom: 5px;}
	.btn-red{height: 35px;width: 35px;padding: 6px 0;}
	.body-txt ol{margin-left:0;}
	.section-test-info .main-container {width: 100%;}
	.section-test-info {padding: 20px 0 20px;}
	.section-start h3{display:none;}
	.test-header .navbar-brand.logo {position: relative;padding:0 0 3px;}
	.test-header .logo img {width: 175px;}
	.header-analysis .navbar-brand.logo {position: relative;}
  .btn-display{display: inline-block;}
  .btn-display-revert{display: none;}

  .btn-green3 {height: 35px; padding: 6px 0; width: 35px;}
  .question-head h3 {text-align: center;}
  .question {margin-top: 5%;}
  .btn-violet {height: 35px;padding: 6px 0;width: 35px;}
  .btn-yellow {height: 35px;	padding: 6px 0;width: 35px;}
  

	

}
@media (max-width: 992px){.main-menu .navbar-nav > li > a {font-size: 11px;padding: 18px 4px !important;}
.user-info {margin-top: 13px;}
.user-info img {width: 30px;}
.logo{padding: 10px 65px;}

.progress-result {margin-left: 15px;}
.panel-login .panel-footer {left: 0;right: 0;width: 100%;}
.form-box {margin-top: 0;}
.panel-login .panel-heading{padding: 10px 40px;}
.icon-box{float:none;min-height: 50px;text-align: center;}
.video-heading{float:none;text-align: center;}
.panel-desc{min-height:auto;}
.video-des{margin-top: 20px;}
.video-content{min-height: auto; margin-bottom:20px;}




.chk{text-align: left;}
.left-side {width: 100%;}
.btn-group3 .btn.btn-feature{padding: 9px 10px;}

.question-head {position: relative;top: 0;width: 100%;}
.left-side {margin-top: 50px;}
.question-box{width:100%;margin: 0;}
.section-summray .pr-0 {padding-right: 0 !important;padding-left: 0;}
.section-summray .pl-0 {padding-left: 0 !important;padding-right: 0 !important;}
.score1{left:15%;}
.score3{right:10%;}
.section-analysis {overflow: hidden;}
.body-txt .top{padding: 0 0 20px;}
}

@media (min-width: 768px){
    .dropdown-menu::after {border-color: #ffffff rgba(0, 0, 0, 0);border-style: solid; border-width: 0 10px 14px;content: ""; display: block;right: 20px;position: absolute;top: -11px;width: 0;}

}

@media (max-width: 768px){
    .navbar-main .navbar-nav .open .dropdown-menu > li > a {color: #fff;}
    .navbar-main .dropdown-menu > li > a:focus, .navbar-main .dropdown-menu > li > a:hover {color: #fdcb49;}
    .navbar-main .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-main .navbar-nav .open .dropdown-menu > li > a:hover {background-color: rgba(256,256,256,1);color: #fdcb49;}
    .navbar-main .logo{padding-left: 15px;}
    .header-top-nav .dropdown-menu > li > a {color: #fff;}
    .header-top-nav .dropdown-menu > li > a:focus, .header-top-nav .dropdown-menu > li > a:hover {color: #fdcb49;}
    .media-cart .media-body .media-heading, .media-cart .media-body .media-heading a {color: #fff;}

    /*new css*/
    .img-block {text-align: center;}
	.header-analysis .main-menu .navbar-nav > li > a {padding: 4px 4px !important;}
	.login-bg{height:400px;}
	.btn-group2 .btn{margin-bottom:10px;}
	.video-info{margin-bottom:20px;}
	.video-detail {margin: 60px 0 20px;}
  .banner-bottom{height: auto;}
  .certificate {float: none;margin: 0 auto;text-align: center;width: 100%;}
  .sem-info {float: none;padding: 0 0 20px;text-align: center;width: 100%;}
  .p-0 {padding-left: 15px !important;padding-right: 15px !important;}
  .section-analysis .heading-black {text-align: center;}
  .edit-group {position: relative;right: 0;top: 0;}
  .tab-quetion{text-align: center;}
  .body-txt {width:100% !important;}
 
  .question-head {top: 0;width: 100%;position:relative;}
  .left-side {margin-top: 0;width: 100%;}
  .question h4 {width: 100%;}
  .btn-group4 {max-height: 100%;}
  .right-side > .chk {bottom: 0 !important;position: relative !important;}
  .right-side > .btn-group5 {bottom: 0 !important;position: fixed !important;}
  .chk > li {float: none;width: auto;text-align: left;}
  
  .question-head  .col-sm-6{width:100%;}
.question-head  .col-sm-6.pull-right {width: 100%;text-align: center;}

.circle-score {height: 150px;padding: 15px 0;width: 150px;font-size: 12px;}

.score1{left:14%;}
.score3{right:18%;}
.score2{left: 35%;}
.table-practice .number2 {right: -11px;top: 13px;font-size: 9px;}
.accuracy {font-size: 12px;}
.test-header .navbar-header {	width: 25%;	float: left;}
.test-header  .collapse2 {width: 75%;float: left;}
.test-header  .nav.navbar.navbar-right.navbar-timer span {font-size: 14px;float: none;padding-left: 0;}
.test-header  .nav > li{text-align:center;}
.test-header .nav.navbar.navbar-right.navbar-timer #exam-time-left {font-size: 14px;}
.toggle-line {right: 12px;top: 5px;}
.header-inner .navbar-header{width:30%;float:left;}
.header-inner .collapse {width:70%;float:right;display:block;}
.header-inner .nav > li{display:inline-block;}
.header-inner  .navbar-collapse{border-top: none;box-shadow: none;margin-right: 0;margin-left: 0;}
.header-inner .nav.navbar-nav.navbar-right.menu2 {float: right;margin: 0;}
.header-inner .logo {padding: 10px 10px;}
.student-info{display:none;}
.student-details {padding: 10px 0 0;	}
.section-analysis .heading-black {font-size: 20px;}
.energy-number{font-size:35px;}
.accuracy-bar {display: none;}
.section-test-info .p-0 {padding-left: 0 !important;padding-right: 0 !important;}
.pending-test {float: none;}
.start-btn {float: none;margin-top: 10px;margin-bottom: 10px;}
.total-test .total-info {padding: 18px 10px;font-size: 15px;}
.total-test .total-no {padding: 16px 10px;font-size: 15px;}
.total-test .total-solved{padding: 18px 10px;font-size: 15px;}
.total-test .total-solve-no{padding: 16px 10px;font-size: 15px;}
.section-test-info .col-xs-12.p-0 {padding-left: 3px !important;padding-right: 3px !important;}
.pending-info {padding: 20px 15px;}
.clipboard {left: 12px;}
.pending-info h4 {margin-bottom: 25px;padding-left: 35px;}
.top span {top: 0 !important;}
.header-analysis .logo {padding: 0 0 2px;}
.user-info a{padding-left: 0px;}
 .test-header .main-menu .navbar-timer > li > a {padding: 4px 15px 0;}
.navbar-timer {text-align: center;}
.nav.navbar.navbar-right.navbar-timer > li{float:none;}
#chartdiv{height:300px !important;}
.user-info a{float: none;position: relative;}
.user-info img{float: none;}
span.student-cls {position: absolute;left: 0; top: 18px;}
a.user_name {padding-top: 0; top: -6px;}
.analysis-box .tabcontent{overflow:hidden;}
.pie-chart {
	width: 100%;
	height: auto;
	margin: 0;
	max-width: 450px;
	min-width: 450px;
	position: relative;
	left: -80px;
	right: 0;
	overflow: hidden;
}
.rightAnswerExpla img{width:100%;}
}
@media (max-width: 600px){
	.score1{left:10%;}
	.score3{right:10%;}
	.tab.tab-dept > a {display: inline-block;float: none;width: 100%;}
	.question-type {overflow: auto;max-height: 300px;min-height: 300px;}
	.cancel{width: 28% !important;}
	.start{width: 28% !important;}
	.btn-reveiw{padding:6px 10px;}
	.question-head h3 {font-size: 20px;}
	.icons img {height: 30px !important;}
	.section-start .button .btn-analysis {padding: 2px 20px;}
	.section-start .button .btn {margin: 0 15px;}
	.section-start .btn-start {padding: 2px 20px;}
	span.student-cls {left: 0px;top: 12px;}
}
@media (max-width: 480px){
.play-icon-block {left: 16%;top: 20%;}
.media-video .pull-left{width: 105px;}
.media-video .media-object{width: 105px;}
.btn-green{padding: 5px 20px;}
.media-user .media-heading{font-size: 15px;}
.media-user .media-body > span {font-size: 12px;}
.media-video .media-heading{font-size: 15px;}
.media.media-user .media-object {width: 80px;}
.award-progress > img {top: -45px;width: 40px;}
.progress-result .progress {width: 75%;}
.award-progress{width: 18%;}
.login-bg {height: 250px;}
.panel-login .panel-body {padding: 80px 52px;}
.banner-content .heading-white {font-size: 22px;}
.banner-content p {font-size: 14px;}
.media-topic .media-body {padding-top: 0;}
.media-content {float: none;padding-top: 0;}
.media-video2 .media-body .btn-green {margin-left: 0;margin-top: 0;}
.score1{position:static;}
.score2{position:static;}
.score3{position:static;}
.panel-summary .panel-body {height: auto;}
.circle-score{margin: 0 auto 15px;}
.timer {position: relative;top: 0;}
.test-header .navbar-header {width: 50%;}
.test-header .collapse2 {width: 50%;}
.nav.navbar.navbar-right.navbar-timer #exam-time-left {font-size: 10px;}
.test-header  .nav.navbar.navbar-right.navbar-timer span {font-size: 10px;}
#mySidenav.toggled {width: 300px;}
.btn-group3 .btn.btn-feature {padding: 9px 7px;font-size: 12px;}
.header-inner .navbar-header{width: 38%;float: left;}
.header-inner .collapse {width: 68%;float: right;display:block;padding-right: 0;}
.header-inner .nav.navbar-nav.navbar-right.menu2{float:none;text-align:center}
.logo img{margin: 0 auto;}
.header-inner .logo {padding: 5px 0;}
.header-inner .navbar-brand{float:none;}
.header-analysis .logo img {width: 120px;}
.user-info {margin-top: 0;}
.header-analysis .navbar {min-height: 42px;}
.header-inner .nav.navbar-nav.navbar-right.menu2 {margin: 8px 0;}
.dropdown-content {right: 0;left: auto;}


.test-header .logo img {width: 130px;}
.nav.navbar.navbar-right.navbar-timer > li {padding: 0 !important;float: none;}
.test-header .main-menu .navbar-timer > li > a {padding: 4px 0 0;}
.user-info .dropdown-content.user-content {
    top: 38px !important;
}
}

@media (max-width: 360px){
.main-menu .navbar-nav > li > a {font-size: 10px;padding: 0 4px !important;}
.user-info a {font-size: 10px;}
.user-info img {width: 18px;}
}

@media (max-width: 320px){

}

/** media end **/

