
@font-face {
    font-family: 'opensansR';
    src: url('../fonts/opensans/OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'opensansB';
    src: url('../fonts/opensans/OpenSans-Bold.ttf');
}
@font-face {
    font-family: 'opensansXB';
    src: url('../fonts/opensans/OpenSans-ExtraBold.ttf');
}
@font-face {
    font-family: 'opensansSB';
    src: url('../fonts/opensans/OpenSans-Semibold.ttf');
}
@font-face {
    font-family: 'opensansL';
    src: url('../fonts/opensans/open-sans.light.ttf');
}
@font-face {
    font-family: 'opensansI';
    src: url('../fonts/opensans/OpenSans-Italic.ttf');
}
@font-face {
    font-family: 'opensansLI';
    src: url('../fonts/opensans/OpenSans-LightItalic.ttf');
}


@font-face {
    font-family: 'NimbusSansNovusTOTReg';
    src: url('../fonts/nimbus/NimbusSansNovusTOT-Reg.otf');
}
@font-face {
    font-family: 'NimbusSansNovusTOTSemBol';
    src: url('../fonts/nimbus/NimbusSansNovusTOT-SemBol.otf');
}
@font-face {
    font-family: 'Aileron-Bold';
    src: url('../fonts/aileron/Aileron-Bold.otf');
}
@font-face {
    font-family: 'Aileron-Regular';
    src: url('../fonts/aileron/Aileron-Regular.otf');
}
@font-face {
    font-family: 'Aileron-SemiBold';
    src: url('../fonts/aileron/Aileron-SemiBold.otf');
}
@font-face {
    font-family: 'Aileron-Light';
    src: url('../fonts/aileron/Aileron-Light.otf');
}
@font-face {
    font-family: 'Rubik-Regular';
    src: url('../fonts/rubik/Rubik-Regular.ttf');
}

/** main css **/
body{font-family: 'opensansR';color: #222;}
/** main end **/
/** error msg  **/
.error_msg {
    color: red;
    text-align: left;
    font-style: italic;
}
/** error msg  **/
/** header css **/
.navbar-fixed-top {background-color: #000 !important;position: fixed !important;}
.header-top { background-color: rgba(0, 0, 0, 0.6); color: #ffffff; padding: 0px; font-family: 'NimbusReg'}
.top-menu li a {color: #ffffff !important;padding: 6px 15px;}
.top-menu > li > a:focus, .top-menu > li > a:hover {background-color: #30cafd;text-decoration: none;}
.top-menu  .open > a, .top-menu  .open > a:focus, .top-menu  .open > a:hover {background-color: #30cafd;border-color: #337ab7;}
.top-menu .dropdown-menu > li > a {color: #333333 !important;}
.dropdown-toggle.pop-icon {background-color: #424242;}
.top-ul{margin: 0;padding: 0;list-style-type: none;}
.top-ul li{display: inline-block;margin: 0 4px 0 0;}
.top-ul li a{color: #fff;font-size: 15px;}
.icon-width22{width: 22px;}
.icon-width35{width: 35px;}

.header-crumb{font-size: 11px;border: none;background-color: transparent;border-radius: 0;list-style: outside none none;margin-bottom: 0px;padding: 0;}
.header-crumb > li + li:before {color: #fff;padding: 0 2px;margin:0 2px;}
.header-crumb > li a {color: #fff;}
.header-crumb > li.active {color: #ccc;}
.icon-width22{width: 22px;}
.icon-width35{width: 35px;}
.navbar-brand.logo {display: none;}
.logo{height: auto;padding: 0;/*padding: 0 80px;*/}
.logo img{width: 210px;margin-top: 10px;}
.main-menu {background-color: rgba(0, 0, 0, 0);border: medium none;border-radius: 0;left: 0;margin: 0;padding: 0;
 position: absolute;right: 0;top: 0;z-index: 1000;}
.main-menu .navbar-collapse.collapse { padding:0;}
.main-menu .navbar-nav > .active > a, .main-menu .navbar-nav > .active > a:focus, .main-menu .navbar-nav > .active > a:hover {background-color: transparent  !important;color: #00abdc;}
.main-menu .navbar-nav > .open > a, .main-menu .navbar-nav > .open > a:focus, .main-menu .navbar-nav > .open > a:hover {background-color: transparent  !important;color: #00abdc;}
.main-menu .navbar-nav > li > a:focus, .main-menu .navbar-nav > li > a:hover,.main-menu .navbar-nav > li > a:active {
	color: #000;}
.navbar-nav > li > a {font-family: 'Raleway', sans-serif;}

.menu {padding: 18px 0;}
.menu > li > a {color: #222 !important;font-size: 16px;}
.menu > li > a:hover,.menu > li > a:focus,.menu > li > a:active {color: #107AE3 !important;}
.contact-header {color: #222;padding-right: 70px;}
.dropdown-menu {border-top: 3px solid #00abdc;box-shadow: 5px 8px 15px -11px #000000;}

.menu-main .dropbtn {
cursor: pointer;
}

.menu-main .dropdown {
    position: relative;
    display: inline-block;
}

.menu-main .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.menu-main .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu-main .dropdown-content a:hover {background-color: #f1f1f1}

.menu-main .dropdown:hover .dropdown-content {
    display: block;
}
/* Mega Menu Css */

.category-menu, .cart-dropdown{box-shadow: 5px 8px 15px -11px #000000;border-top: 3px solid #00abdc;}
.category-submenu-block {background: #ffffff; max-height: 400px; overflow-x: hidden; overflow-y: auto;}
.category-submenu-heading{color: #00abdc;font-size: 15px;margin: 0 0 8px;}
.category-submenu-list{z-index: 10;}
.category-submenu-list .list-group-item { border: medium none; font-size: 12px;padding: 3px 0 3px 20px;background: transparent;position: relative;}
.category-submenu-list .list-group-item > a {color: #222222;display: block;}
.category-submenu-list .list-group-item > a:hover {color: #00abdc;}
.category-submenu-list .list-group-item::after {color: #00abdc;content: "\f0a4";font-family: "FontAwesome";font-size: 13px;position: absolute;left: 0px;top: 2px;}

.category-submenu-img{border: 1px solid #e8e8e8;padding: 10px;text-align: center;}
.category-submenu-img img{border-bottom: 1px solid #dddddd;max-height: 200px;max-width: 100%;padding-bottom: 10px;}
.heading-green{color: #00abdc;font-size: 20px;}

/* Mega Menu end */
.btn-login{border:2px solid #ff6200;border-radius: 0;padding: 10px 12px !important;margin: 10px 8px;}


.header-inner .main-menu {background-color: #000;position: relative;}
/** header end **/


/** body css **/
/** profile button **/
.Profile-section{margin-top: 5px; margin-bottom: 5px;}
.profile-button{margin: 20px 10px 20px 10px; width: 200px;}
.row-centered {text-align:center;}
/** profile button **/

/**index css **/

.main-navbar {background-color: #301277;border-color: #301277;}
.main-navbar .menu-main { margin:0; padding: 25px 0;}
.menu-main {padding:5px 0;}
.menu-main > li > a {color: #fff !important;font-size: 14px;padding-top: 20px;}
.menu-main > li > a:focus, .menu-main > li > a:hover {background-color: none;color: #fff !important;}
.menu-main > .open > a, .menu-main > .open > a:focus, .menu-main > .open > a:hover {background:none !important;color:#107AE3 !important;}
.contact-us{ padding: 20px 0;}

.section-slider{position:relative; height:auto;}
.section-slider .parallax-overlay{ padding: 70px 0;color: #222;position: absolute;left: 0;right: 0;bottom: 0;top: 0;
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;}
.slider-form .col-md-5.col-sm-6 {padding-left: 5px;padding-right: 5px;}
.section-slider .heading-black{font-size: 30px;}
.slider-form{margin-top: 15%;}
.slider-form p {color: #ffffff;font-family: 'Aileron-Regular';font-size: 28px;}
.slider-form .input-lg{border-radius: 0;}
.slider-form .col-sm-3, .slider-form .col-sm-2{padding-left: 5px;padding-right: 5px;}
@media (min-width:768px){.col-sm-offset{margin-left: 4%;}}
#owl-main .item {display: block;width: 100%;height: 660px;overflow: hidden;}
#owl-main .item img{display: block;width: 100%;max-height: 800px;min-height: 660px;margin-top: -2%;}
#owl-main .owl-pagination {bottom: 20px;left: 50%;margin: 0 auto;position: absolute; text-align: center;}
#owl-main .owl-controls .owl-page span {
  background: #fff;
  border-radius: 20px;
  display: block;
  height: 12px;
  margin: 5px 7px;
  opacity: 1;
  text-align: center;
  width: 12px;
  border:1px solid #fff;
}
.slider-content {
  color: hsl(0, 0%, 100%);
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 35%;
  z-index: 100;
}
.slider-content .heading-white {font-size: 50px;margin: 0 0 20px;font-family: 'Aileron-Bold';}
.section-about {background: #fff;padding: 70px 0;}
.about-content span {color: #fff;}
.about-content {padding:0 50px;}
.about-content > p {font-size:14px;}
.pharma-video img{max-width: 600px;margin: 0 auto;}

.slider-content {left: 0;position: absolute;top: 15%;z-index: 100; right:0;}
.test-form {background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;padding: 40px;}
.test-form h4 {font-family: 'NimbusSansNovusT_Bold';margin-bottom: 20px;}
.test-form .btn-blue {background: #301277 none repeat scroll 0 0;border-radius: 0;color: #fff;padding: 10px;}
.test-form .form-group .form-control {border-radius: 0;height: 40px;}
.section-howto-work {background: #eff7ff none repeat scroll 0 0;color: #222;min-height: 460px;padding: 0px 0 60px;}
.how-to-work-content {margin: 50px 0 50px;}
.how-to-work-content span {border-bottom: 1px solid #fff;font-family: 'NimbusSansNovusT_Bold';font-size: 36px;color: #fff;}
.how-to-work-content h3 {font-family: 'NimbusSansNovusTOTReg';font-size: 35px;font-weight: 400;}
.how-to-work-content h4 {font-family: "NimbusSansNovusT_Bold";font-size: 30px;margin: 30px 0 40px;text-align: center;}
.works-icons > p {font-family:' NimbusSansNovusTOTReg';}
.round {display: inline-block;height: 30px;width: 30px;line-height: 30px;-moz-border-radius: 15px;border-radius: 15px; background-color: #222;color: #FFF;text-align: center;}
.round.round-lg {border-radius: 50%;height: 140px;line-height: 141px;width: 140px;margin: 0 0 40px;}
.round.white {background-color: #fff;}
.round.round-lg.white img {height: 90px;width: 100px;}

.howto-top{background: #fff;padding: 30px 0 10px;text-align: center;}
.howto-top img{width: 70%;}

/** parallax area **/
.parallax {
    background-attachment: fixed !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-overlay {background-color: rgba(0, 0, 0, 0.5);padding: 40px 0;}
/** parallax end **/


.section-issues{color: #fff;}
.section-issues .parallax-overlay{
    height: 645px;padding: 60px 0;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.breadcrumb-style1{border-bottom: 1px solid #ccc;background-color: rgba(255, 255, 255, 0.5);border-radius: 0;list-style: outside none none;margin-bottom: 40px;padding: 8px 15px;}
.breadcrumb > li + li:before {color: #222; content: "/";padding: 0 5px;font-family: "FontAwesome";margin:0 6px;}
.breadcrumb > li a {color: #fdcb49;}
.breadcrumb > li.active {color: #222;}
.post-breadcrumb{background-color:#fff;margin-bottom: 15px;padding: 0;}
.section-changllenge{background-color:#0066ff; padding:40px 0;}
.changllenge-content{text-align:center; color:#fff;}
.changllenge-content > p {margin: 0 0 20px;font-family: 'Aileron-Light';}
.changllenge-content .heading-white{margin: 0 0 10px;}
.btn-orange{background-color:#ff730b; border-color:#ff730b; border-radius:0; color:#fff;padding: 12px 20px;
font-family: 'Aileron-Regular';}
.btn-orange:hover,.btn-orange:focus,.btn-orange:active{background-color:#000; border-color:#000; border-radius:0; 
color:#fff;}
.section-investment{padding:40px 0;}
.investment-deatils{text-align:center;margin: 20px 0;}
.investment-deatils .heading-black {margin: 10px 0 20px;font-family: 'Aileron-SemiBold';}
.investment-info{font-family: 'Aileron-SemiBold';}
.service > img {height: 80px;width: auto;}
.btn-primary{background-color:#0066ff; border-color:#0066ff; border-radius:0; color:#fff;padding: 12px 60px;margin: 20px 0;font-family: "Aileron-Regular";}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active{background-color:#000; border-color:#000; border-radius:0; 
color:#fff;}
.section-orange{background-color:#ff730b; padding:40px 0;}
.changllenge-content .btn-primary{margin:0;}
.section-good-now{padding:40px 0;}
.color-blue{color:#0066ff !important;}
.about-content {padding: 0 !important;font-family: 'Aileron-SemiBold';}
.about-content strong {font-size: 16px;}
.about-img {
  display: table-cell;
  height: 300px;
  width: 300px;
}
.about-img > img {
  height: auto;
  margin: 150px auto 0;
  width: 100%;
}
.about-img {
  display: table-cell;
  height: 300px;
  margin: 0 auto;
  text-align: center;
  width: 650px;
}
.section-team .parallax-overlay {height: 400px;padding: 60px 0;}

.team-info ul{padding:0 12px;font-family: 'Aileron-Light';}
.team-info ul li{color:#ffc107;line-height: 28px;}
.member-name {color: hsl(0, 0%, 100%);font-family: 'Aileron-Light'; font-size:20px;}

.team-img {
  box-sizing: border-box;
  height: 200px;
  margin: 0 auto;
  min-height: 240px;
  overflow: hidden;
  padding: 10px 2px;
  position: relative;
  text-align: center;
  width: 240px;
}
.team-img > img {
  height: auto;
  width: 100%;
}
.sectiion-blog{padding:40px 0;}
.panel-blog{border: none !important;text-align: left;margin: 0 2px 10px;border-radius: 0; box-shadow:none;}
.panel-blog > .panel-heading {position: relative;overflow: hidden;min-height: 200px;max-height: 200px;background-color: rgba(0, 0, 0, 0);border-color: rgba(0, 0, 0, 0);color: #333333;padding: 0;}
.panel-blog .panel-heading img {max-width: 100%;width: 100%; min-height: 200px;max-height: 200px;}
.panel-blog > .panel-heading .panel-heading-overlay{opacity: 0;background-color: rgba(0, 0, 0, 0.6);bottom: 0;color: #ffffff;font-size: 25px;font-weight: bold;left: 0;padding-top: 20%;position: absolute;right: 0;text-align: center;top: 0;-webkit-transition: all 0.6s ease-in-out;-moz-transition: all 0.6s ease-in-out;-o-transition: all 0.6s ease-in-out;transition: all 0.6s ease-in-out;}
.panel-blog > .panel-heading .panel-heading-overlay > a {position: relative;bottom: -200px;border: 1px solid #ffffff;  color: #ffffff;  display: block;  height: 30px;  line-height: 26px;  margin: 0 auto;  width: 30px;-webkit-transition: all 0.6s ease-in-out;-moz-transition: all 0.6s ease-in-out;-o-transition: all 0.6s ease-in-out;transition: all 0.6s ease-in-out;}
.panel-blog .panel-body {padding: 20px 0;}
.panel-blog .panel-footer {background-color: rgba(0, 0, 0, 0);border-top: medium none;padding: 15px 15px;}
.heading-blogg{margin: 0 0 10px;min-height: 50px;max-height: 50px;overflow: auto;font-family: 'Aileron-Bold';}
.panel-blog .heading-blogg a{color: #444;}
.content-blog{color: #777777;font-size: 13px;max-height: 160px;min-height: 160px;overflow: auto;}
.content-blog p{margin: 0 0 3px;font-family: 'Aileron-Regular';font-size: 14px;line-height: 18px;}
.small-text-blog {color: #777777; font-size: 13px;}
.btn-blog > a {color: #93e4ff; font-size: 13px;}

.panel-blog:hover .panel-heading-overlay{opacity: 1;-webkit-transition: all 0.6s ease-in-out;-moz-transition: all 0.6s ease-in-out;-o-transition: all 0.6s ease-in-out;transition: all 0.6s ease-in-out;}
.panel-blog:hover .panel-heading .panel-heading-overlay > a {bottom: 0;-webkit-transition: all 0.6s ease-in-out;-moz-transition: all 0.6s ease-in-out;-o-transition: all 0.6s ease-in-out;transition: all 0.6s ease-in-out;}
.content-blog > a { color:#FF730B;font-family: 'Aileron-Bold';}
.heading-section{margin-bottom:30px;}
.post-breadcrumb{background-color:#fff;margin-bottom: 15px;padding: 0;}
.post-breadcrumb > li a {color: #000;font-family: 'Rubik-Regular';}
.media-test .media-object {display: block; width:40px;}
.heading-section {margin-bottom: 30px;text-align: center;}
.media-test .btn-default {background-color: hsl(0, 0%, 100%);border-color: #55acee; color:#55acee;}
.heading-section > p {font-family: 'Aileron-Light';}
.media-test .media-body .media-heading {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 0;
  font-family: 'Aileron-SemiBold';
}
.media-test .media-body{font-family: 'Aileron-Regular';}
.media-test > .pull-right {
  margin-right: 15px;
  padding-left: 10px;
}
.content {
  margin: 12px 0;
  font-family: 'Aileron-Regular';
}
.icon-test {
  margin-top: 10px;
}
.icon-test > a {
  color: hsl(0, 0%, 47%);
  margin: 0 5px;
}
.time {
  color: hsl(0, 0%, 47%);
  font-family: 'Aileron-Regular';
}
#owl-testimonial .item {
  border: 1px solid hsl(0, 0%, 87%);
  margin-left: 10px;
  padding: 10px 12px;
}
.section-blue{background-color:#0066ff; padding:20px 0;}
.newsletter { color:#fff;font-family: 'Aileron-SemiBold';font-size: 16px;}
.form-control {border-radius: 0;font-size: 14px;height: 45px;}
.input-group-addon {
  background-color: #f34a00;
  border: 1px solid #f34a00;
  border-radius: 0;
  color: hsl(0, 0%, 33%);
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  padding: 6px 12px;
  text-align: center;
}
 .sectiion-testimonial{background-color: #fff; padding:60px 0;}
 .button-advice {
  margin: 0 auto;
  position: relative;
  width: 450px;
}
.left-arrow {
  left: -28px;
  position: absolute;
  top: -22px;
}
.right-arrow {
  position: absolute;
  right: -24px;
  top: -22px;
}
/** login css **/
.section-login {padding: 40px 0;}
.panel-login .panel-heading{font-family: 'Aileron-SemiBold';}
.login-form .form-group  label{font-weight: normal;font-family: 'Aileron-Regular';}
.login-form a{color:#444;font-family: 'Aileron-SemiBold';}
/** login  css end **/

/** onload modal  css  **/
.popup-modal .modal-content .modal-header{background-color:#0066FF; color:#fff;}
.popup-modal .modal-content .modal-header .modal-title{font-family: 'Aileron-SemiBold';}
.popup-modal .modal-content .modal-header .close { color:#fff;background: hsl(0, 0%, 0%) none repeat scroll 0 0;
   border-radius: 50%;display: block;height: 40px;width: 40px;}
label {font-weight: normal;font-family: 'Aileron-Regular';} 
.popup-modal .modal-content .modal-footer {text-align:center !important;}

.modal2 .modal-content{border-radius: 0;padding: 5px;}
.modal2 .modal-content .modal-header{border-bottom: medium none;}
.modal2 .modal-content .modal-header .modal-title { text-align:center; font-size:30px;}
.modal2 .modal-content .modal-body{ text-align:center;}
.modal2 .modal-content .modal-body .note {color: hsl(0, 0%, 37%);font-size: 19px;margin: 1em auto;
 font-family: 'Aileron-SemiBold';}

.modal2 .modal-content .modal-footer{text-align:center;}
.progress {margin: 20px 0;height: 14px;border-radius: 10px;}
.progress-bar{background-color:hsl(113, 40%, 49%);}
/** onload modal  css end **/

/** onload modal  css  **/
.popup-modal .modal-content .modal-header{background-color:#0066FF; color:#fff;}
.popup-modal .modal-content .modal-header .modal-title{font-family: 'Aileron-SemiBold';}
.popup-modal .modal-content .modal-header .close { color:#fff;background: hsl(0, 0%, 0%) none repeat scroll 0 0;
   border-radius: 50%;display: block;height: 40px;width: 40px;}
label {font-weight: normal;font-family: 'Aileron-Regular';} 
.popup-modal .modal-content .modal-footer {text-align:center !important;}
/** onload modal  css end **/
.top-section{padding: 10px;background: #f2f2f2;border-bottom: 1px solid #ddd;
  font-size: 16px !important;}
  .top-section .heading-black{ margin-top: 10px; }
  .section-download{ 
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 40px;}
    .section-download a{    
      font-size: 18px;
    float: right;
    }
    .body-text{margin-top: 60px;
    margin-bottom: 60px;
    padding: 40px; }
/** body end **/


/** footer start **/

.footer{color: #222;font-family: 'Aileron-Light';}
.footer small{font-size: 12px;}
.footer-top {padding: 30px 0; background-color:#000;}
.logo-footer {margin: 0 0 12px;}
.logo-footer img{max-width: 170px;}
.footer-bottom {background: #464646;border-top: 2px solid #ddd; padding: 20px 0;color: #fff;}
.footer-bottom .img-icon {margin-right: 10px;position: relative;top: -5px;width: 20px;}
.footer-bottom a {color: #fff;}
.footer-bottom .foo-cities{font-size: 12px;margin-bottom: 15px;}
.foo-mail a{color: #222;outline: none;}


.apps img{width: 130px;max-width: 130px;height: 40px;}
.foo-col-bordered{border-top: 1px solid #eee;padding-top: 10px;}


.panel-side {border-radius: 0;border-color: transparent;background-color: transparent;box-shadow: none;color: #fff;}
.panel-side > .panel-heading {padding-left: 18px;border-radius: 0;background-color: transparent;border-color: transparent;}
.side-orange-title{color: #f26522;font-family: "OpenSansSB";padding: 0 14px;margin: 0 0 10px 0;font-size: 18px;}
.panel-side > .panel-heading .panel-title {font-family: "OpenSansSB"; font-size: 20px;color: #fff;}
.panel-side > .panel-body {padding: 10px 15px;overflow: auto;color: #222;}
.panel-inner {border: medium none;background-color: transparent;box-shadow: none;border-bottom: 1px solid #444;border-radius: 0 !important;}
.panel-inner .panel-title { font-size: 12px; font-weight: normal;}
.panel-inner .panel-heading{padding: 10px 0px;background-color: transparent;border-color: #fff;color: #fff;}
.panel-inner .panel-title a {display: block; outline: medium none; position: relative;text-decoration: none;}
.panel-inner .panel-title a i { color: #f26522; position: absolute;right: 0; top: 1px; font-size: 13px;}
.panel-content .panel-title a {display: block; outline: medium none; position: relative;text-decoration: none;}
.panel-content .panel-title a i { color: #f26522; position: absolute;right: 0; top: 1px; font-size: 15px;}
.panel-inner .panel-body {padding: 5px;color: #222;}
.list-side {margin: 0;}
.list-side .list-group-item::before {color: #f26522; content: ">"; margin: 0 8px 0 0;}
.list-side .list-group-item {border: medium none; padding: 4px 0;}
.list-side .list-group-item > a {color: #444444; font-size: 12px;}
.list-side .list-group-item.active, .list-side .list-group-item.active:focus, .list-side .list-group-item.active:hover {background-color: transparent;border-color: transparent;color: #f26522;}
.list-side .list-group-item.active a, .list-side .list-group-item.active:focus a, .list-side .list-group-item.active:hover a, .list-side .list-group-item:focus a, .list-side .list-group-item:hover a{ color: #f26522;}

.list-block {padding: 2px 15px; margin-bottom: 15px;}
.list-side-simple {margin: 0;}
.list-side-simple .list-group-item {border: medium none;padding: 4px 0;color: #222;font-size: 12px;}
.list-side-simple .list-group-item > a {color: #222;font-size: 12px;}
.list-side-simple .list-group-item.active, .list-side-simple .list-group-item.active:focus, .list-side-simple .list-group-item.active:hover {background-color: transparent;border-color: transparent;color: #f26522;}
.list-side-simplee .list-group-item.active a, .list-side-simple .list-group-item.active:focus a, .list-side-simple .list-group-item.active:hover a, .list-side-simple .list-group-item:focus a, .list-side-simple .list-group-item:hover a{ color: #f26522;}

.side-form-group{margin: 0;}
.side-form-group .checkbox{margin: 0;}
.side-form-group .checkbox label{}
.side-form-group .checkbox input[type='checkbox']{margin-top: -2px;}
.side-form-inline{margin: 14px 0;}
.side-form-inline .side-input-price{padding: 4px;width: 70px;}

.filter-block{color: #fff;margin: 25px 0;}
.list-style1 .list-group-item {
  background-color: hsl(0, 0%, 0%);
  border: 1px solid hsl(0, 0%, 0%);
  display: block;
  margin-bottom: -1px;
  padding: 10px 15px;
  position: relative;
}
.list-group-item > a{color:#fff;}
.about-info {
  color: #fff;
}
.contact-info {
  color: #fff;
}
.copy-right {
  color: hsl(0, 0%, 100%);
  margin: 14px 0;
}
.copy-right .fa.fa-copyright {
  font-size: 18px;
}
.footer-logo img {
  width: 200px;
  text-align: center;
}
.glt-box {color:#fff;margin: 14px 0;text-align: center;}
.color-gray {color:#777;}
.glt-box > img {
  width: 20px;
  margin-right: 10px;
}
.footer-content h4{font-family: 'Aileron-Regular' !important;}
/** footer end **/
/** popup css  **/
.media-popup .media-body .media-heading {color: #042f50;font-size: 33px;text-align: left;
    font-weight: 600;margin: 0.67em auto;}
.popup-modal {width: 100%;margin: 0 auto;border: 0;color: #000000;padding: 3px;text-align: center;
    height: auto;}
 .form-subheader {color: #042f50;font-size: 21px;font-weight: 400; text-align: left;}
 .form-desc {font-size: 19px;color: #5e5e5e;margin: 0 0 20px;}
.btn-orange2{background-color: hsl(37, 98%, 63%); border-color:hsl(37, 98%, 63%); color:#fff; border-radius:4px;padding: 14px 60px;}
.btn-orange2:hover,.btn-orange2:focus,.btn-orange2:active {background-color: hsl(40, 99%, 67%);
border-color:hsl(40, 99%, 67%); color:#fff;}
.media-popup .media-object {display: block;width: 180px;}
.media-popup  .pull-left {padding-right: 10px;width: 180px;}
.modal-info {border: 1px solid hsl(0, 0%, 87%);}
.modal .modal-content .modal-body {padding: 5px;position: relative;}
.modal .modal-content .modal-body .close {float: none;font-size: 10px;font-weight:  normal; opacity:1; color:#777;}
.form-header {color: hsl(206, 90%, 16%);font-size: 24px;font-weight: 600; }
.modal-form .form-group .form-control {border-radius: 0;font-size: 13px;height: 55px;}
 .modal2 .modal-content .modal-info {padding: 0 50px;text-align: center;}
.modal2 .modal-content .modal-body .btn-orange2{padding: 14px 90px;}
 /** popup css end **/
/** body end **/
/*## scroll_top css ##*/
.scroll_top {background: #6dcff6;bottom: 32px; display: none; font-size: 0; height: 34px;position: fixed; right: 10px; width: 34px; z-index: 9999;text-decoration: none;border-radius: 30px;}
.scroll_top:hover {background: #ef3f54 none repeat scroll 0 0;}
.scroll_top::before {color: #ffffff; content: "^"; display: block;font-family: "FontAwesome";font-size: 25px;height: 34px;line-height: 40px;text-align: center; width: 34px;}
/** scroll_top end **/


/*## owl css ##*/
.owl-theme .owl-controls {margin-top: 0;}

#motivational-owl .owl-controls .owl-buttons div {opacity: 0.7;box-shadow: none;background-color: rgba(255, 255, 255, 1);color: #000;font-size: 22px;padding: 0 12px;-webkit-transition: all 0.4s ease-in-out 0s;-moz-transition: all 0.4s ease-in-out 0s; -o-transition: all 0.4s ease-in-out 0s; transition: all 0.4s ease-in-out 0s;}
#motivational-owl .owl-prev {position: absolute;left: -200px;top: 28%;}
#motivational-owl .owl-next {position: absolute;right: -200px;top: 28%;}
#motivational-owl .item {padding: 0 4px;}
#motivational-owl:hover .owl-prev{left: 15px;}
#motivational-owl:hover .owl-next{right: 15px;}


/*## owl end ##*/

/** common css **/

.p-0{padding: 0 !important;}
.pb-0{padding-bottom: 0 !important;}
.pt-0{padding-top: 0 !important;}
.pl-0{padding-left: 0 !important;}
.pr-0{padding-right: 0 !important;}

.m-0{margin: 0 !important;}
.mb-0{margin-bottom: 0 !important;}
.mt-0{margin-top: 0 !important;}
.ml-0{margin-left: 0 !important;}
.mr-0{margin-right: 0 !important;}

.mt-82{margin-top: -82px !important;}
.mt-min110{margin-top: -110px !important;}
.mt-15{margin-top: 15px !important;}
.mt-20{margin-top: 20px !important;}
.mt-30{margin-top: 30px !important;}
.mt-80{margin-top: 80px !important;}
.mt-100{margin-top: 100px !important;}
.mb-40{margin-bottom: 40px !important;}
.mb-60{margin-bottom: 60px !important;}

.ml-100{margin-left: 100px !important;}

.b-none{border: none !important;}
.bl-none{border-left: none !important;}
.br-none{border-right: none !important;}

a:focus, a:hover {color: #fdcb49; text-decoration: underline;}

.space-20{padding: 20px 0;}

.box-shadow1{box-shadow: 4px 6px 15px -6px #000;}

.label-pink{background-color: #fdcb49;border-radius: 0; padding: 7px; font-size: 14px;}

.color-pink{color:#fdcb49;}
.color-red{color:#ff5569;}

.btn-danger{background-color: #ff5569;border-color: #ff5569;color: #fff;}

.btn-pink {background-color: #ff5569; border-color: #ff5569; color: #fff;}
.btn-black {background-color: #000; border-color: #000; color: #fff;padding-left: 40px;padding-right: 40px;}
.btn-bodered{background-color: transparent;color: #000000;border: 2px solid #000000;}
.btn-bodered i.fa{color:#fdcb49;;}
.btn-bodered-white{background-color: transparent;color: #fff;border: 2px solid #fff;border-radius: 0;}
.btn-bodered-white i.fa{color:#fff;;}
.btn-black-round{background-color: #161616;color: #fff;border: 2px solid #161616;border-radius: 30px;padding: 10px 50px;}
.btn-black-round i.fa{color:#fff;;}

.heading-white{color: #fff;margin: 0 0 20px 0;font-family: 'Aileron-SemiBold';}
.heading-white a{color: #fff;}
.heading-black{color: #222;margin: 0 0 20px 0;font-family: 'Aileron-Bold';}
.heading-black a{color: #222;}
.heading-blue{color: #07b7cd;margin: 0 0 20px 0;font-family: 'opensansR';}
.heading-blue a{color: #07b7cd;}
.heading-orange{color: #F07420;margin: 0 0 30px 0;font-family: 'opensansR';}
.heading-orange a{color: #07b7cd;}
.heading-pink{color: #fdcb49;margin: 0 0 30px 0;font-family: 'opensansR';}
.heading-pink a{color: #fdcb49;}

.section-hr{background-color: #000;}
.section-hr hr{border: none;border-bottom: 1px solid #515151 !important;margin: 0;}

/** common end **/



/** media css **/

@media (min-width: 992px){

}

@media (max-width: 1200px){
	#owl-main .item img{margin-top: 0;}
	.menu-main > li > a{padding: 20px 8px;}
}
@media (max-width: 992px){
#owl-main .item {height: 640px;}
#owl-main .item img{min-height:640px;}
.menu-main > li > a {font-size: 11px;padding: 20px 8px;}
.btn-login {font-size: 11px !important;margin: 10px 4px;padding: 10px 4px !important;}
.logo img {margin-top: 10px;width: 190px;}

}

@media (min-width: 768px){
    .dropdown-menu::after {border-color: #ffffff rgba(0, 0, 0, 0);border-style: solid; border-width: 0 10px 14px;content: ""; display: block;right: 20px;position: absolute;top: -11px;width: 0;}

}

@media (max-width: 768px){
    .navbar-main .navbar-nav .open .dropdown-menu > li > a {color: #fff;}
    .navbar-main .dropdown-menu > li > a:focus, .navbar-main .dropdown-menu > li > a:hover {color: #fdcb49;}
    .navbar-main .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-main .navbar-nav .open .dropdown-menu > li > a:hover {background-color: rgba(256,256,256,1);color: #fdcb49;}
    .navbar-main .logo{padding-left: 15px;}
    .header-top-nav .dropdown-menu > li > a {color: #fff;}
    .header-top-nav .dropdown-menu > li > a:focus, .header-top-nav .dropdown-menu > li > a:hover {color: #fdcb49;}
    .media-cart .media-body .media-heading, .media-cart .media-body .media-heading a {color: #fff;}

    /*new css*/
    .img-block {text-align: center;}
	.team-img{width: 170px;}
	#owl-main .item {height: 535px;}
    #owl-main .item img{min-height:535px;margin-top: 0;}
	.about-img > img{margin: 60px auto 0;}
	.section-team .parallax-overlay{height:auto;}
	.team-img{height:190px;min-height: 190px;}
	.newsletter{margin-bottom: 10px;}
	.navbar-brand.logo {display: block;padding: 10px;}
	.logo.logo-web {display: none;}
	.logo img {margin-top: 0;}
	.menu-main > li > a {font-size: 13px;padding: 10px 30px;}
	.menu {padding: 0;}
	.menu-main{background-color:#000; margin:0;}
	.footer-bottom2{text-align:center;}
}
@media (max-width: 600px){
	#owl-main .item {height: 400px;}
    #owl-main .item img{min-height:400px;}
	.slider-content .heading-white {font-size: 30px;}
	.slider-form p{font-size:20px;}
	#owl-main .owl-pagination{left: 40px;}
	.left-arrow {left: -12px;}
	.right-arrow {right: -12px;}
	.left-arrow > img {height: 40px;width: auto;}
	.right-arrow > img {height: 40px;width: auto;}
	.heading-blogg{max-height: 100%;min-height: auto;}

}

@media (max-width: 480px){
	#owl-main .item {height: 320px;}
    #owl-main .item img{min-height:320px;}
	.changllenge-content .heading-white {font-size: 18px;}
	.left-arrow {left: 0px; top:-26px;}
	.right-arrow {right: 0px;top:-26px;}
	.left-arrow > img {height: 20px;}
	.right-arrow > img {height: 20px;}
	.btn-orange{font-size:12px;padding: 12px 8px;}
	.button-advice{width:auto;}
	.heading-black {font-size: 18px;}
	.btn-primary{font-size:12px;padding: 12px 8px;}
}

@media (max-width: 360px){

}

@media (max-width: 320px){

}

/** media end **/





