
/** main css **/
body{font-family: "Lato", Helvetica, Arial, sans-serif;
}

}
a:focus, a:hover {
  outline: none !important;
}
/** main end **/
/** error msg  **/
.error_msg {
    color: red;
    text-align: left;
    font-style: italic;
}
.error_validate{
  bottom: 0;
  color: red;
  position: absolute;
}
.error_point .col-sm-10 {
  position: relative;
}

/**index css **/
.main-navbar {background-color: #301277;border-color: #301277;}
.main-navbar .menu-main { margin:0; padding: 25px 0;}
.menu-main {padding:10px 0;}
.menu-main > li > a {color: #000 !important;font-size: 13px;padding-top: 20px;}
.menu-main > li > a:focus, .menu-main > li > a:hover {background-color: none;color: #fff !important;}
.menu-main > .open > a, .menu-main > .open > a:focus, .menu-main > .open > a:hover {background:none !important;color:#107AE3 !important;}
.contact-us{ padding: 20px 0;}

.section-slider{position:relative; height:auto;}
.section-slider .parallax-overlay{ padding: 70px 0;color: #222;position: absolute;left: 0;right: 0;bottom: 0;top: 0;
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;}
.slider-form .col-md-5.col-sm-6 {padding-left: 5px;padding-right: 5px;}
.section-slider .heading-black{font-size: 30px;}
.slider-form{margin-top: 15%;}
.slider-form p {color: #ffffff;font-family: 'opensansR';font-size: 28px;}
.slider-form .input-lg{border-radius: 0;}
.slider-form .col-sm-3, .slider-form .col-sm-2{padding-left: 5px;padding-right: 5px;}
@media (min-width:768px){.col-sm-offset{margin-left: 4%;}}
#owl-main .item {display: block;width: 100%;height: 600px;overflow: hidden;}
#owl-main .item img{display: block;width: 100%;max-height: 800px;min-height: 660px;}
#owl-main .owl-pagination {bottom: 20px;left: 42%;margin: 0 auto;position: absolute; text-align: center;}
#owl-main .owl-controls .owl-page span {
  background: #fff;
  border-radius: 20px;
  display: block;
  height: 12px;
  margin: 5px 7px;
  opacity: 1;
  text-align: center;
  width: 12px;
  border:1px solid #fff;
}
.slider-content {
  color: hsl(0, 0%, 100%);
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 35%;
  z-index: 100;
}

/** parallax area **/
.parallax {
    background-attachment: fixed !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-overlay {background-color: rgba(0, 0, 0, 0.5);padding: 40px 0;}
/** parallax end **/


.section-issues{color: #fff;}
.section-issues .parallax-overlay{
    height: 645px;padding: 60px 0;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.breadcrumb-style1{border-bottom: 1px solid #ccc;background-color: rgba(255, 255, 255, 0.5);border-radius: 0;list-style: outside none none;margin-bottom: 40px;padding: 8px 15px;}
.breadcrumb > li + li:before {color:#f2c83d; content: "/";padding: 0 5px;font-family: "FontAwesome";margin:0 6px;}
.breadcrumb > li a {color:#f2c83d;}
.breadcrumb > li.active {color: #222;}
.post-breadcrumb{background-color:#fff;margin-bottom: 15px;padding: 0;}

.section-fan-follower{background-color:#fff; padding: 20px 0 0 0;}
.fan-follower-block{ text-align: center; }
.fan-follower-block ul{list-style: none;}
.fan-follower-block ul li{list-style: none;}
.section-changllenge{/*background-image: -webkit-linear-gradient(top, #6f51c7 0%, #44b8e7 100%);*/background-color: #0056b5; padding:20px 0;}
.changllenge-content{text-align:center; color:#fff;}
.changllenge-content > p {margin: 0 0 20px;font-family: 'opensansR';}
.changllenge-content .heading-white{margin: 0 0 10px;}
.btn-orange{background-color:#fff; border-color:#fff; /*border-radius:30px;*/ color:#0056b5;padding: 12px 80px;
font-family:'opensansR';outline: none !important;}
.btn-orange:hover,.btn-orange:focus,.btn-orange:active{
 background-color: #fff;
  border-color: #fff;
  color: black;
  /*border-radius: 25px;*/
  outline: none;
}
.btn-default,.btn-default:hover,.btn-default:focus,.btn-default:active{
  outline: none;
}
.section-investment{padding:40px 0;background-color: white;    overflow: hidden;}
.investment-deatils{text-align:center;margin: 20px 0;}
.investment-deatils .heading-black {margin: 10px 0 20px;font-family: 'opensansSB';}
.investment-info{font-family: "Lato", Helvetica, Arial, sans-serif;
font-size: 16px;}
.service > img {height: 80px;width: auto;margin-bottom: 14px;}
.btn-primary{background-color:#6f51c7; border-color:#6f51c7; border-radius:5px; color:#fff;padding: 12px 60px;margin: 20px 0;font-family: "Lato", Helvetica, Arial, sans-serif;
margin-top: 14px;
outline: none;}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active{background-color:#fff; border:2px solid #6f51c7; border-radius:5px; 
color:#6f51c7;
/*border-radius: 25px;*/
outline: none;}
/*changes btn*/
.section-orange{background-color:#2d3e50; padding:40px 0;}
.changllenge-content .btn-primary{margin:0;}
.section-good-now{padding:40px 0; background-color: white;}
.color-blue{color:#0066ff !important;}
.about-content {padding: 0 !important;font-family: 'opensansR';}
.about-content strong {font-size: 16px;}
.about-img {
  display: table-cell;
  height: 300px;
  width: 300px;
}

.about-img {
  display: table-cell;
  height: 300px;
  margin: 0 auto;
  text-align: center;
  width: 650px;
}
.section-team .parallax-overlay {height: 400px;padding: 60px 0;}

.team-info ul{padding:0 12px;font-family: 'opensansL';}
.team-info ul li{color:#FFE55C;line-height: 28px;}
.member-name {    color: #898989;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: "Lato", Helvetica, Arial, sans-serif;
}

.team-img {
 /* box-sizing: border-box;
  height: 200px;
  margin: 0 auto;
  min-height: 240px;
  overflow: hidden;
  padding: 10px 2px;
  position: relative;
  text-align: center;
  width: 240px;*/
}
.team-img > img {
  height: auto;
  width: 100%;
}
.sectiion-blog{padding:40px 0; background-color: white;}
.panel-blog{border: none !important;text-align: left;margin: 0 2px 10px;border-radius: 0; box-shadow:none;}
.panel-blog > .panel-heading {position: relative;overflow: hidden;min-height: 240px;max-height: 240px;background-color: rgba(0, 0, 0, 0);border-color: rgba(0, 0, 0, 0);color: #333333;padding: 0;}
.panel-blog .panel-heading img {max-width: 100%;width: 100%; min-height: 240px;max-height: 240px;}
.panel-blog > .panel-heading .panel-heading-overlay{opacity: 0;background-color: rgba(0, 0, 0, 0.6);bottom: 0;color: #ffffff;font-size: 25px;font-weight: bold;left: 0;padding-top: 20%;position: absolute;right: 0;text-align: center;top: 0;-webkit-transition: all 0.6s ease-in-out;-moz-transition: all 0.6s ease-in-out;-o-transition: all 0.6s ease-in-out;transition: all 0.6s ease-in-out;}
.panel-blog > .panel-heading .panel-heading-overlay > a {position: relative;bottom: -200px;border: 1px solid #ffffff;  color: #ffffff;  display: block;  height: 30px;  line-height: 26px;  margin: 0 auto;  width: 30px;-webkit-transition: all 0.6s ease-in-out;-moz-transition: all 0.6s ease-in-out;-o-transition: all 0.6s ease-in-out;transition: all 0.6s ease-in-out;}
.panel-blog .panel-body {padding: 20px 0;}
.panel-blog .panel-footer {background-color: rgba(0, 0, 0, 0);border-top: medium none;padding: 15px 15px;}
.heading-blogg{margin: 0 0 10px;min-height: 50px;max-height: 50px;overflow: auto;font-family: 'opensansB';}
.panel-blog .heading-blogg a{color: #FF703C;
font-size: 20px;
}
.content-blog{color: #777777;font-size: 13px;max-height: 160px;min-height: 160px;overflow: auto;}
.content-blog p{margin: 0 0 3px;font-family: 'opensansR';font-size: 14px;line-height: 18px;}
.content-blog a:hover{
    color: #0066FF;
}
.small-text-blog {color: #777777; font-size: 13px;}
.btn-blog > a {color: #93e4ff; font-size: 13px;}

.panel-blog:hover .panel-heading-overlay{opacity: 1;-webkit-transition: all 0.6s ease-in-out;-moz-transition: all 0.6s ease-in-out;-o-transition: all 0.6s ease-in-out;transition: all 0.6s ease-in-out;}
.panel-blog:hover .panel-heading .panel-heading-overlay > a {bottom: 0;-webkit-transition: all 0.6s ease-in-out;-moz-transition: all 0.6s ease-in-out;-o-transition: all 0.6s ease-in-out;transition: all 0.6s ease-in-out;}
.content-blog > a { color:#FF730B;font-family: 'opensansB';}
.heading-section{margin-bottom:30px;}
.post-breadcrumb{background-color:#fff;margin-bottom: 15px;padding: 0;}
.post-breadcrumb > li a {color: #000;font-family: 'opensansR';}
.media-test .media-object {display: block; width:40px;}
.heading-section {margin-bottom: 30px;text-align: center;}
.media-test .btn-default {background-color: hsl(0, 0%, 100%);border-color: #55acee; color:#55acee;}
.heading-section > p {font-family: 'opensansL';}
.media-test .media-body .media-heading {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 0;
  font-family: 'opensansSB';
}
.media-test .media-body{font-family: 'opensansR';}
.media-test > .pull-right {
  margin-right: 15px;
  padding-left: 10px;
}
.content {
  margin: 12px 0;
  font-family: 'opensansR';
}
.icon-test {
  margin-top: 10px;
}
.icon-test > a {
  color: hsl(0, 0%, 47%);
  margin: 0 5px;
}
.time {
  color: hsl(0, 0%, 47%);
  font-family: 'opensansR';
}
#owl-testimonial .item {
  border: 1px solid hsl(0, 0%, 87%);
  margin-left: 10px;
  padding: 10px 12px;
}
.section-blue{background-color:#0056b5; padding:20px 0;/*border: 1px solid lightgray;*//*background-image: -webkit-linear-gradient(left, #6f51c7 0%, #44b8e7 100%);*/}
.newsletter { color:#fff;font-family: "Lato", Helvetica, Arial, sans-serif;font-size: 18px;}
.form-control {border-radius: 0;font-size: 14px;height: 45px;width: 247px;}
.input-field-email{
 width: 248px !important;
 border-radius: 5px !important;
}
.input-group-addon {
   background-color: #6f51c7;
  border-color: #6f51c7;
  color: hsl(0, 0%, 33%);
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  padding: 6px 12px;
  text-align: center;
  /*border-bottom-right-radius: 30px;
border-top-right-radius: 30px;*/
}
.submit-input-field{
  background-color: #fff;
  border-color:#fff;
  color: #0056b5;
  font-weight: 600;
  padding: 2px 24px;
  margin: 0 0;
  font-family: "opensansR";
  border-radius: 5px !important;
  font-size: 16px;
}
.submit-input-field:hover,.submit-input-field:focus,.submit-input-field:active{
 background-color: #fff;
  border: 2px solid #6f51c7;
  color: #6f51c7;
  border-radius: 5px;
}

 .sectiion-testimonial{background-color: #fff; padding:60px 0;}
 .button-advice {
  margin: 0 auto;
  position: relative;
  width: 450px;
}
.left-arrow {
  left: -28px;
  position: absolute;
  top: -22px;
}
.right-arrow {
  position: absolute;
  right: -24px;
  top: -22px;
}
/** login css **/
.section-login {padding: 60px 0;background: white;}
.panel-login .panel-heading{font-family: 'opensansSB';}
.login-form .form-group  label{font-weight: normal;font-family: 'opensansR';}
.login-form a{color:#444;font-family: 'opensansSB';}
.login-form a:hover{
  color: #0066FF;
}
.login-submit-link{
  color:#444;font-family: 'opensansSB';
position: relative;
left: 1px;
bottom: 0px !important;
color: black!important;
text-decoration: none !important;
}
.login-submit-link:hover
{
  color: #0066FF !important;
 text-decoration: underline !important;
}
.form-group.agree-btn{
  margin-bottom: 0;
}

/** login  css end **/

/** onload modal  css  **/
.popup-modal .modal-content .modal-header{color:#fff;}
.popup-modal .modal-content .modal-header .modal-title{font-family: 'opensansSB';}
.popup-modal .modal-content .modal-header .close { color:#fff;background: hsl(0, 0%, 0%) none repeat scroll 0 0;
   border-radius: 50%;display: block;height: 40px;width: 40px;}
label {font-weight: normal;font-family: 'opensansR';} 
.popup-modal .modal-content .modal-footer {text-align:center !important;}

.modal2 .modal-content{border-radius: 0;padding: 5px;}
.modal2 .modal-content .modal-header{border-bottom: medium none;}
.modal2 .modal-content .modal-header .modal-title { text-align:center; font-size:30px;}
.modal2 .modal-content .modal-body{ text-align:center;}
.modal2 .modal-content .modal-body .note {color: hsl(0, 0%, 37%);font-size: 19px;margin: 1em auto;
 font-family: 'Roboto-Medium';}

.modal2 .modal-content .modal-footer{text-align:center;}
.progress {margin: 20px auto;height: 14px;border-radius: 10px;}
.progress-bar{background-color:hsl(113, 40%, 49%);}
/** onload modal  css end **/

/** onload modal  css  **/
.popup-modal .modal-content .modal-header{color:#fff; padding: 0 15px; border-bottom: 0;}
.popup-modal .modal-content .modal-header .modal-title{font-family: 'opensansSB';}
.popup-modal .modal-content .modal-header .close { color:#fff;background: hsl(0, 0%, 0%) none repeat scroll 0 0;
   border-radius: 50%;display: block;height: 40px;width: 40px;}
label {font-weight: normal;font-family: 'opensansSB';} 
.popup-modal .modal-content .modal-footer {text-align:center !important;}
/** onload modal  css end **/
.top-section{padding: 10px;background: #f2f2f2;border-bottom: 1px solid #ddd;
  font-size: 16px !important;}
  .top-section .heading-black{ margin-top: 10px; }
  .section-download{ 
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 40px;
    min-height: 300px;
  }
    .section-download a{    
      font-size: 18px;
    float: right;
    }
    .body-text{margin-top: 60px;
    margin-bottom: 60px;
    padding: 40px; }

.modal-dialog {
  margin-top: 115px;
  width: 700px;
}
.modal-content {
  border-radius: 0px;
}
.cmpny_desc {
  color: #ddd;
  line-height: 24px;
}
.more_links{
  padding-left: 0px;
}
.more_links li {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  line-height: 15px;
  padding-left: 0;
}
.heading {
  border-bottom: 1px solid #aaa;
  color: #aaa;
  font-size: 16px;
  width: 80%;
}
.heading1 {
  border-bottom: 5px solid #0056b5;
  color: #aaa;
  font-size: 16px;
  padding-bottom: 5px;
  width: 120px;
}
.ebook_dialog {
  margin-top: 204px;
}
.view-detail-modal{
  width: 1170px !important;
}
.view-detail-modal-body{
  padding: 25px !important;
}
.modal2 .modal-content{border-radius: 0;padding-bottom: 0px;}
.modal2 .modal-content .modal-header{border-bottom: medium none; padding: 3px;}
.modal2 .modal-content .modal-header .modal-title { text-align:center; font-size:30px;}
.modal2 .modal-content .modal-body{ text-align:center;}
.modal2 .modal-content .modal-body .note {color: hsl(0, 0%, 37%);font-size: 19px;margin: 1em auto;
 font-family: 'Roboto-Medium';}

.modal2 .modal-content .modal-footer{text-align:center;}
.progress {
height: 14px;
border-radius: 10px;
width: 75%;}
.progress-bar{background-color:hsl(113, 40%, 49%);}


/** email css  **/
.email-note em {color: hsl(212, 74%, 61%);font-weight: 600;}
.color-ornge{color: hsl(27, 92%, 62%);font-weight: 600;}
.email-note {margin: 30px 0;}
.web-logo {margin: 20px 0;}
.web-logo > img {height: 60px;margin: 20px 0;width: auto;}
.heading-team {color: hsl(212, 74%, 61%);font-weight: 600;font-style: italic;}
.email-details{font-family: 'opensansR';}

/** email css  **/
/** popup css  **/
.media-popup .media-body .media-heading {color: #042f50;font-size: 33px;text-align: left;
    font-weight: 600;margin: 0.67em auto;}
.popup-modal {width: 100%;margin: 0 auto;border: 0;color: #000000;padding: 3px;text-align: center;
    height: auto;}
 .form-subheader {color: #042f50;font-size: 21px;font-weight: 400; text-align: left;}
 .form-desc {
  color: #5e5e5e;
  font-size: 19px;
  margin-bottom: 0px;
  margin-top: 18px;
  text-align: center;
}
.btn-orange2{background-color: hsl(37, 98%, 63%); border-color:hsl(37, 98%, 63%); color:#fff; border-radius:4px;padding: 14px 60px;}
.btn-orange2:hover,.btn-orange2:focus,.btn-orange2:active {background-color: hsl(40, 99%, 67%);
border-color:hsl(40, 99%, 67%); color:#fff;}
.media-popup .media-object {display: block;width: 180px;}
.media-popup  .pull-left {padding-right: 10px;width: 180px;}
.modal-info {/*border: 1px solid hsl(0, 0%, 87%);*/}
.modal .modal-content .modal-body {padding: 5px;position: relative;}
.modal .modal-content .modal-body .close {float: none;font-size: 10px;font-weight:  normal; opacity:1; color:#777;margin-left: 35px;}
.form-header {color: hsl(206, 90%, 16%);font-size: 24px;font-weight: 600; }
.modal-form .form-group .form-control {border-radius: 0;font-size: 13px;height: 55px;}
.modal-form .form-group .form-control:focus{border:1px solid lightgray !important; box-shadow: none;}
.modal2 .modal-content .modal-body .btn-orange2{padding: 14px 90px;}
 /** popup css end **/
 
  /** about us css  **/
 /* .section-breadcrumb {background-color: #f2f2f2;
  margin-top:85px; padding: 0 0;}*/
  .navigate-breadcrumb .breadcrumb {background: none;margin-bottom: 0;}
  .section-breadcrumb .heading-black {margin: 0 10px 20px;}
  
  .section-inner {overflow: hidden;padding: 40px 0;position: relative;transition: opacity 0.2s linear 0s;background-color: #fff;}
  .section-price{padding:20px 0;}
  .section-price .btn-price{margin-bottom: 20px;}
  .about-pic img{max-width:100%; height:auto;}
  .title-box {border-bottom-width: 0;margin-bottom: 40px;position: relative;}
  /*.title-box h2::before {bottom: 0;content: "";display: block;height: 2px;left: 0;margin: -2px auto;
  position: absolute;width: 40px;background-color: #F05C06;}*/
  .title-box .title {font-size: 22px;
   font-weight: 700;
   margin: 0 0 12px;
   text-align: center;
}
  .top-pad {margin: 40px 0 0;}
  .responsive-features span {font-size: 24px;margin-right: 10px; color:#ffc400;}
  .responsive-features h4 {display: inline-block;font-size: 21px;margin: 0 0 15px;text-transform: capitalize;}
  /*.title-box h1::before {bottom: 0;content: "";display: block;height: 2px;left: 540px;
    margin: -2px auto;
    position: absolute;
    width: 65px;background-color: #FF7309;}*/
  .title-box h1.title {font-size: 28px;text-align: center;text-transform:none;text-transform: uppercase;}
  .section-aboutus-details {background-position: 0 0 !important;}
   .section-aboutus-details .parallax-overlay {background-color: rgba(0, 0, 0, 0.8);padding: 140px 0;}
  .section-aboutus-details .about-info {color: #fff;text-align: center;}
    .rotate-box-icon::after {border: 2px solid #fff;bottom: 3px;content: "";left: 3px;position: absolute;right: 3px;top: 3px;}
 .rotate-box-icon,.rotate-box-icon {background-color: #363940;}
 .rotate-box-icon {color: #fff !important;font-size: 18px;height: 45px;line-height: 45px;transform: rotate(45deg);
  width: 45px;}
  .rotate-box-icon:hover {transform: rotate(360deg);}
 .rotate-box-icon {display: inline-block;text-align: center;
  transition: all 0.2s ease-in-out 0s;}
   .rotate-box-icon .fa {transform: rotate(-45deg);transition: all 0.2s ease-in-out 0s;}
  /** about us css end **/
  /** contact us css  **/
  .section-contact-form {padding: 50px 0; background: white;}
  .contact-info address {margin-bottom: 35px;margin-top: 5px; color:black;}
  .big-icon, .big-icon:visited {border-radius: 50px;color: #1e1e1e;display: block;height: 100px;
  margin: 0 auto 20px;text-align: center;transition: opacity 0.2s linear 0s;width: 100px;background-color: #f2f2f2;color:black;
  padding: 35px 0;}
  .contact-info .title {font-size: 20px;font-weight: normal;line-height: 1.3;margin: 0 0 22px;color: black;}
  .contact-form .form-control {background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border: 1px solid #e1e1e1;
  border-radius: 3px !important;box-shadow: 0 1px #fff, 0 1px 4px rgba(0, 0, 0, 0.15) inset;font-size: 12px;height: 40px;
  line-height: 22px;margin-bottom: 22px;min-height: 40px;padding: 8px 12px;width: 100%;}
 .contact-form textarea.form-control {height: 100px !important;max-width: 100%;}
 .contact-form .form-control:focus {border: 1px solid #839bb7;box-shadow: 0 0 10px rgba(46, 84, 129, 0.3);
  outline: medium none;transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;}
  .contact-form .buttons-box .btn-primary {border-radius: 20px;margin: 0;}
  /** contact us css end **/
  /** pricing css  **/
  .pricing * {position: relative;}
  .pricing::before {background: rgba(30, 30, 30, 0.06) none repeat scroll 0 0;bottom: 0;
  content: "";left: 0;position: absolute;right: 0;top: 0;}
  .ribbon-wrapper {height: 88px;overflow: hidden;position: absolute;right: -3px;top: -3px;width: 85px;}
  .ribbon::before {left: 0;}
  .ribbon::before, .ribbon::after {border-left: 3px solid transparent;border-right: 3px solid transparent;
  border-top: 3px solid #6e8900;bottom: -3px;content: "";position: absolute;}
  .ribbon::after {right: 0;}
  .ribbon.green {background-color: #bfdc7a;background-image: -moz-linear-gradient(center top , #bfdc7a, #8ebf45);}
  .ribbon {box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);font-size: 12px;left: -5px;padding: 5px 0;position: relative;
  text-align: center;top: 15px;transform: rotate(45deg);width: 120px;}
 .pricing {background-color: #fff;margin: 0 auto 10px;max-width: 270px;padding-top: 20px;position: relative;text-align: center;}
 .pricing .title {line-height: 32px;padding: 17px 20px 21px;text-transform: uppercase;}
 .pricing .title a {color: #1e1e1e;font-size: 24px;font-weight: bold;line-height: 32px;text-decoration: none;}
 .pricing:hover .title a{color: #ffc400;}
 .pricing .price-box {font-size: 12px;line-height: 1;overflow: hidden;padding: 0 20px 20px;}
 .pricing .price-box .price {font-family: Oswald,sans-serif;font-size: 36px;font-weight: bold;margin: 13px 0 0;color: #ffc400;}
 .pricing .price-box .price span {color: #333333;display: block;font-family: "opensansR",sans-serif;font-size: 12px;
  margin-top: 10px;}
  .pricing .options {list-style: outside none none;margin: 0;padding: 0;}
  .pricing .options li {border-top: 1px solid rgba(30, 30, 30, 0.1);color: rgba(30, 30, 30, 0.4);line-height: 22px;
  padding: 13px 10px;position: relative;}
  .pricing .options li.active {color: #1e1e1e;}
  .pricing .bottom-box {background: rgba(30, 30, 30, 0.05) none repeat scroll 0 0;border-top: 1px solid rgba(30, 30, 30, 0.1);
  overflow: hidden;padding: 19px 19px 20px;}
  .pricing .bottom-box .btn {font-weight: bold;margin: 10px 0;width: 100%;background-color: #ffc400; border-color:#ffc400;}
  .pricing .bottom-box .btn:hover,.pricing .bottom-box .btn:focus,.pricing .bottom-box .btn:active { background-color: #ffc400; border-color:#ffc400; color:#fff;}
  .pricing .bottom-box .btn.btn-lg {font-size: 14px;padding: 16px 45px;}
  /** pricing us css end **/
  /** Blogs css  **/
/*.post-img::before {background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;content: "";height: 100%;
  left: 0;opacity: 0;pointer-events: none; position: absolute;top: 0;transform: scale(0.3);transition: all 0.3s ease 0s;
  visibility: hidden;width: 100%;}*/
.post-img img {width: 100%;height: 242px;}
.single-popular-post:hover .post-img::before, .single-review:hover .post-img::before, .single-featured-post:hover .post-img::before {opacity: 1;transform: scale(1);visibility: visible;}
.post-img {position: relative;margin-bottom: 35px;}
.post-img a.post-tag {background: #333 none repeat scroll 0 0;
  color: #fff;font-size: 11px;font-weight: 400;height: 30px;line-height: 30px;padding: 0 8px;position: absolute;
  right: 5px;text-align: center;text-transform: uppercase;top: 5px;transition: all 0.3s ease 0s;}
.post-info {background: #fff none repeat scroll 0 0;bottom: -12px;left: 50%;margin: 0 auto 0 -155px;position: absolute;
  text-align: center;width: 310px;z-index: 999;height: 40px;}
.post-info span {border-right: 1px solid #999;margin-right: 10px;padding-right: 10px;}
.post-info span.post-social-links {border-right: medium none;margin-right: 0;}
.post-info a {color: #666;font-size: 11px;font-weight: 400;text-align: center;}
.post-content {background: #fff none repeat scroll 0 0;margin: 0 0 30px;padding: 20px 22px;text-align: center;
  transition: all 0.3s ease-in-out 0s;}
.post-content .post-title {font-size: 20px;}
.post-content .post-title > a {color: #222;}
.post-content .post-title > a:hover {color: #2A3890; text-decoration:none;}
.post-content .post-short-desc {color: #777; text-align:left;}
.post-content a.continue-link {color: #2A3890;}
.post-content a.continue-link:hover {color: #F86900;}
.post-rating > ul { list-style:none;padding: 0;}
.post-rating > ul > li {display: inline-block;}
.post-rating > ul > li > a {color: #0066FF;}
.post-rating > ul > li > a:hover {color: #ffc400;}
.right-side-blog-deatils .panel {border-radius: 0;}
.about-me {color: #777;padding: 10px 0 20px;}
.about-me  img {border-radius: 50%;width: 100px;}
.panel-about > .panel-heading {background-color: #fff;font-family: "opensansB";font-size: 18px;font-weight: 600;}
.social-links-area {margin: 15px 0 0;}
.social-links-area .single-icon {float: left;height: 70px;overflow: hidden;transition: all 0.4s ease 0s;width: 100px;
text-align: center;}
.social-links-area .single-icon:hover {background: #0066FF none repeat scroll 0 0;}
.social-links-area .single-icon a {color: #666;display: block;}
.social-links-area .single-icon a:hover {color: #fff;}
.social-links-area .single-icon p {font-weight: 600;margin: 0;transition: all 0.4s ease 0s;}
.social-links-area .single-icon i {font-size: 22px;margin: 13px 0 0;transition: all 0.4s ease 0s;}
.mail-form > p {color: #777;}
.mail-form .btn {border-radius: 0;}
.mail-form .form-control {border-radius: 0;}
.categories-list, .archive-list, .tags-list {text-align: left;}
.categories-list ul {list-style: outside none none;padding: 0 5px;}
.categories-list ul li {margin: 0 0 4px;}
.categories-list ul > li > a {color: #444;}
.categories-list ul > li > a:hover {color: #ffc400;}
.categories-list ul li a::before {content: "";}
.categories-list ul li a::before, .archive-list ul li a::before, .tags-list ul li a::before {font-family: FontAwesome;
font-size: 15px;position: absolute;}
.categories-list ul li a span.category, .archive-list ul li a span.month {margin-left: 11px;text-transform: uppercase;
font-size: 12px;}
.categories-list ul li a span.number, .archive-list ul li a span.number {float: right;}
.archive-list > ul {list-style: outside none none;padding: 0 0 0; margin-bottom: 0;}
.archive-list ul li {border-bottom: 1px solid #f0f0f0;margin-top: 2px; background: #eee;height: 48px;
padding-top: 12px;}
.archive-list ul li:focus, .archive-list ul li:hover, .archive-list ul li:active {
  border-color: #eee;
  color: #002e5b;
  z-index: 2;
  border-left: 5px solid #002e5b;
  background-color: transparent;
}
.archive-list ul > li > a {color: #444;}
.archive-list ul > li > a:hover {color: #ffc400;
text-decoration: none;}
/** Blogs css end **/
.btn.btn-default.btn-orange.btn-slide {bottom: 45%;position: absolute; right: 52px;}
.btn.btn-default.btn-orange.btn-link {
    position: absolute;
    bottom: 45%;
    left: 50px;
}
.btn-link:hover{text-decoration: none;}
/*.btn-link, .btn-slide{
  animation: blink-animation 2s steps(5, start) infinite;
  -webkit-animation: blink-animation 2s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}*/


@keyframes blink {  
  0% { background-color: #ff730b;border-color: #ff730b; }
  100% { background-color: #0066ff;border-color: #0066ff; }
}
@-webkit-keyframes blink {
0% { background-color: #ff730b;border-color: #ff730b; }
  100% { background-color: #0066ff;border-color: #0066ff; }
}
.btn-link, .btn-slide,.scroll-btn,.btn-price {
  -webkit-animation: blink 3s linear infinite;
  -moz-animation: blink 3s linear infinite;
  animation: blink 3s linear infinite;
}
.main-menu .dropdown{}

/** body end **/


/** footer start **/

.footer{color: #222;font-family: "Lato", Helvetica, Arial, sans-serif;}
.footer small{font-size: 12px;}
.footer-top {padding: 30px 0; background-color:#000;}
.logo-footer {margin: 0 0 12px;}
.logo-footer img{max-width: 170px;}
.footer-bottom {background: #464646;border-top: 2px solid #ddd; padding: 20px 0;color: #fff;}
.footer-bottom .img-icon {margin-right: 10px;position: relative;top: -5px;width: 20px;}
.footer-bottom a {color: #fff;}
.footer-bottom .foo-cities{font-size: 12px;margin-bottom: 15px;}
.foo-mail a{color: #222;outline: none;}


.apps img{width: 130px;max-width: 130px;height: 40px;}
.foo-col-bordered{border-top: 1px solid #eee;padding-top: 10px;}


.panel-side {border-radius: 0;border-color: transparent;background-color: transparent;box-shadow: none;color: #fff;}
.panel-side > .panel-heading {padding-left: 18px;border-radius: 0;background-color: transparent;border-color: transparent;}
.side-orange-title{color: #f26522;font-family: "OpenSansSB";padding: 0 14px;margin: 0 0 10px 0;font-size: 18px;}
.panel-side > .panel-heading .panel-title {font-family: "OpenSansSB"; font-size: 20px;color: #fff;}
.panel-side > .panel-body {padding: 10px 15px;overflow: auto;color: #222;}
.panel-inner {border: medium none;background-color: transparent;box-shadow: none;border-bottom: 1px solid #444;border-radius: 0 !important;}
.panel-inner .panel-title { font-size: 12px; font-weight: normal;}
.panel-inner .panel-heading{padding: 10px 0px;background-color: transparent;border-color: #fff;color: #fff;}
.panel-inner .panel-title a {display: block; outline: medium none; position: relative;text-decoration: none;}
.panel-inner .panel-title a i { color: #f26522; position: absolute;right: 0; top: 1px; font-size: 13px;}
.panel-content .panel-title a {display: block; outline: medium none; position: relative;text-decoration: none;}
.panel-content .panel-title a i { color: #f26522; position: absolute;right: 0; top: 1px; font-size: 15px;}
.panel-inner .panel-body {padding: 5px;color: #222;}
.list-side {margin: 0;}
.list-side .list-group-item::before {color: #f26522; content: ">"; margin: 0 8px 0 0;}
.list-side .list-group-item {border: medium none; padding: 4px 0;}
.list-side .list-group-item > a {color: #444444; font-size: 12px;}
.list-side .list-group-item.active, .list-side .list-group-item.active:focus, .list-side .list-group-item.active:hover {background-color: transparent;border-color: transparent;color: #f26522;}
.list-side .list-group-item.active a, .list-side .list-group-item.active:focus a, .list-side .list-group-item.active:hover a, .list-side .list-group-item:focus a, .list-side .list-group-item:hover a{ color: #f26522;}

.list-block {padding: 2px 15px; margin-bottom: 15px;}
.list-side-simple {margin: 0;}
.list-side-simple .list-group-item {border: medium none;padding: 4px 0;color: #222;font-size: 12px;}
.list-side-simple .list-group-item > a {color: #222;font-size: 12px;}
.list-side-simple .list-group-item.active, .list-side-simple .list-group-item.active:focus, .list-side-simple .list-group-item.active:hover {background-color: transparent;border-color: transparent;color: #f26522;}
.list-side-simplee .list-group-item.active a, .list-side-simple .list-group-item.active:focus a, .list-side-simple .list-group-item.active:hover a, .list-side-simple .list-group-item:focus a, .list-side-simple .list-group-item:hover a{ color: #f26522;}

.side-form-group{margin: 0;}
.side-form-group .checkbox{margin: 0;}
.side-form-group .checkbox label{}
.side-form-group .checkbox input[type='checkbox']{margin-top: -2px;}
.side-form-inline{margin: 14px 0;}
.side-form-inline .side-input-price{padding: 4px;width: 70px;}

.filter-block{color: #fff;margin: 25px 0;}
.list-style1 .list-group-item {
  background-color: hsl(0, 0%, 0%);
  border: 1px solid hsl(0, 0%, 0%);
  display: block;
  margin-bottom: -1px;
  padding: 10px 15px;
  position: relative;
}
.list-group-item > a{color:#fff;}
.about-info {
  color: #fff;
}
.contact-info {
  color: #fff;
}
.copy-right {
  color: hsl(0, 0%, 100%);
  margin: 14px 0;
}
.copy-right .fa.fa-copyright {
  font-size: 18px;
}
.footer-logo img {
  width: 200px;
  text-align: center;
}
.glt-box {color:#fff;margin: 14px 0;text-align: center;}
.color-gray {color:#777;}
.glt-box > img {
  width: 20px;
  margin-right: 10px;
}
.footer-content h4{font-family: "Lato", Helvetica, Arial, sans-serif !important;}
/** footer end **/
/** popup css  **/
.media-popup .media-body .media-heading {color: #042f50;font-size: 25px;font-weight: 600;margin-top: 40px;margin-left: 30px;}
.popup-modal {width: 100%;margin: 0 auto;border: 0;color: #000000;padding: 3px;text-align: center;
    height: auto;
  z-index: 100000;}
 .form-subheader {color: #042f50;font-size: 18px;font-weight: 400; margin-left: 30px;}
 .btn-orange2{
  margin-bottom: 20px;margin-top: 20px;background-color: #6f51c7; border-color:#6f51c7; color:#fff; border-radius:5px;padding: 14px 60px;outline: none !important;}
.btn-orange2:hover,.btn-orange2:focus,.btn-orange2:active {background-color: #6f51c7;
border-color:#6f51c7; color:#fff;
outline: none;}
.media-popup .media-object {display: block;width: 180px;margin-top: 35px;margin-left: 20px;}
.media-popup  .pull-left {padding-right: 10px;width: 180px;}
.modal-info {/*border: 1px solid hsl(0, 0%, 87%);*//*height: 290px;*/}
.modal .modal-content .modal-body {padding: 5px;position: relative;}

.form-header {color: hsl(206, 90%, 16%);font-size: 33px;font-weight: 600; }
.modal-form .form-group .form-control {
  border-radius: 0;
  font-size: 13px;
  height: 55px;
  width: 60%;
  margin: 0 auto;
}
 .modal2 .modal-content .modal-info {text-align: center;}
.modal2 .modal-content .modal-body .btn-orange2{padding: 14px 90px;outline: none;}
 /** popup css end **/
 .section-confirm {padding: 40px 0;}
 .dataTable thead th {
  background-color: #0066ff !important;
}
.slider-content .slider-heading1 {
  font-size: 65px;
  color: #fff;
text-transform: none;
width: 90%;
font-weight: 400;
margin: 35px 0px 0 83px;
text-shadow: 1px 1px 1px rgba(0,0,0,.4);
font-family: "Lato", Helvetica, Arial, sans-serif;
}
.slider-content .slider-heading2 {
  font-size: 45px;
  margin: 0 0 0 30px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
}
/** body end **/
/*## scroll_top css ##*/
.scroll_top {background: #6dcff6;bottom: 32px; display: none; font-size: 0; height: 34px;position: fixed; right: 10px; width: 34px; z-index: 9999;text-decoration: none;border-radius: 30px;}
.scroll_top:hover {background: #ef3f54 none repeat scroll 0 0;}
.scroll_top::before {color: #ffffff; content: "^"; display: block;font-family: "opensansR";font-size: 25px;height: 34px;line-height: 40px;text-align: center; width: 34px;}
/** scroll_top end **/


/*## owl css ##*/
.owl-theme .owl-controls {margin-top: 0;}

#motivational-owl .owl-controls .owl-buttons div {opacity: 0.7;box-shadow: none;background-color: rgba(255, 255, 255, 1);color: #000;font-size: 22px;padding: 0 12px;-webkit-transition: all 0.4s ease-in-out 0s;-moz-transition: all 0.4s ease-in-out 0s; -o-transition: all 0.4s ease-in-out 0s; transition: all 0.4s ease-in-out 0s;}
#motivational-owl .owl-prev {position: absolute;left: -200px;top: 28%;}
#motivational-owl .owl-next {position: absolute;right: -200px;top: 28%;}
#motivational-owl .item {padding: 0 4px;}
#motivational-owl:hover .owl-prev{left: 15px;}
#motivational-owl:hover .owl-next{right: 15px;}


/*## owl end ##*/

/** common css **/

.p-0{padding: 0 !important;}
.pb-0{padding-bottom: 0 !important;}
.pt-0{padding-top: 0 !important;}
.pl-0{padding-left: 0 !important;}
.pr-0{padding-right: 0 !important;}

.m-0{margin: 0 !important;}
.mb-0{margin-bottom: 0 !important;}
.mt-0{margin-top: 0 !important;}
.ml-0{margin-left: 0 !important;}
.mr-0{margin-right: 0 !important;}

.mt-82{margin-top: -82px !important;}
.mt-min110{margin-top: -110px !important;}
.mt-15{margin-top: 15px !important;}
.mt-20{margin-top: 20px !important;}
.mt-30{margin-top: 30px !important;}
.mt-80{margin-top: 80px !important;}
.mt-100{margin-top: 100px !important;}
.mb-40{margin-bottom: 40px !important;}
.mb-60{margin-bottom: 60px !important;}

.ml-100{margin-left: 100px !important;}

.b-none{border: none !important;}
.bl-none{border-left: none !important;}
.br-none{border-right: none !important;}
a{outline: none !important; }
a:focus, a:hover {color: #fff; text-decoration: none;}

.space-20{padding: 20px 0;}

.box-shadow1{box-shadow: 4px 6px 15px -6px #000;}

.label-pink{background-color: #fdcb49;border-radius: 0; padding: 7px; font-size: 14px;}

.color-pink{color:#fdcb49;}
.color-red{color:#ff5569;}

.btn-danger{background-color: #ff5569;border-color: #ff5569;color: #fff;}

.btn-pink {background-color: #ff5569; border-color: #ff5569; color: #fff;}
.btn-black {background-color: #000; border-color: #000; color: #fff;padding-left: 40px;padding-right: 40px;}
.btn-bodered{background-color: transparent;color: #000000;border: 2px solid #000000;}
.btn-bodered i.fa{color:#fdcb49;;}
.btn-bodered-white{background-color: transparent;color: #fff;border: 2px solid #fff;border-radius: 0;}
.btn-bodered-white i.fa{color:#fff;;}
.btn-black-round{background-color: #161616;color: #fff;border: 2px solid #161616;border-radius: 30px;padding: 10px 50px;}
.btn-black-round i.fa{color:#fff;;}

.heading-white{color: #fff;margin: 0 0 20px 0;font-family: "Lato", Helvetica, Arial, sans-serif;font-weight: 700;}
.heading-white a{color: #fff;}
.heading-black{color: white;margin: 0 0 20px 0;font-family: 'opensansB';}
.heading-black a{color: #222;}
.heading-blue{color: #07b7cd;margin: 0 0 20px 0;font-family: 'opensansR';}
.heading-blue a{color: #07b7cd;}
.heading-orange{color: #F07420;margin: 0 0 30px 0;font-family: 'opensansR';}
.heading-orange a{color: #07b7cd;}
.heading-pink{color: #fdcb49;margin: 0 0 30px 0;font-family: 'opensansR';}
.heading-pink a{color: #fdcb49;}

.section-hr{background-color: #000;}
.section-hr hr{border: none;border-bottom: 1px solid #515151 !important;margin: 0;}

/** common end **/



/** media css **/

@media (min-width: 992px){

}

@media (max-width: 1200px){
    #owl-main .item img{margin-top: 0;}
    .menu-main > li > a{padding: 9px 4px !important;}
    .top_tel, .top_mail{font-size: 12px !important;}

}
@media (max-width: 992px){
#owl-main .item {height: 640px;}
#owl-main .item img{min-height:640px;}
.menu-main > li > a {font-size: 11px;padding: 20px 8px;}

.logo img {margin-top: 10px;width: 190px;}
.submit-input-field{padding: 12px 30px;}
.newsletter{font-size: 14px;}


}

@media (min-width: 768px){
    .dropdown-menu::after {border-color: #ffffff rgba(0, 0, 0, 0);border-style: solid; border-width: 0 10px 14px;content: ""; display: block;right: 20px;position: absolute;top: -11px;width: 0;}

}

@media (max-width: 768px){
    .navbar-main .navbar-nav .open .dropdown-menu > li > a {color: #fff;}
    .navbar-main .dropdown-menu > li > a:focus, .navbar-main .dropdown-menu > li > a:hover {color: #fdcb49;}
    .navbar-main .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-main .navbar-nav .open .dropdown-menu > li > a:hover {background-color: rgba(256,256,256,1);color: #fdcb49;}
    .navbar-main .logo{padding-left: 15px;}
    .header-top-nav .dropdown-menu > li > a {color: #fff;}
    .header-top-nav .dropdown-menu > li > a:focus, .header-top-nav .dropdown-menu > li > a:hover {color: #fdcb49;}
    .media-cart .media-body .media-heading, .media-cart .media-body .media-heading a {color: #fff;}

    /*new css*/
    .img-block {text-align: center;}
    .team-img{width: 170px;}
    #owl-main .item {height: 535px;}
    #owl-main .item img{min-height:535px;margin-top: 0;}
    .about-img > img{margin: 60px auto 0;}
    .section-team .parallax-overlay{height:auto;}
    .team-img{height:190px;min-height: 190px;}
    .newsletter{margin-bottom: 10px;}
    .navbar-brand.logo {display: block;padding: 10px;}
    .logo.logo-web {display: none;}
    .logo img {margin-top: 0;}
    .menu-main > li > a {font-size: 13px;padding: 10px 30px;}
    .menu {padding: 0;}
    .footer-bottom2{text-align:center;}
  .form-header {font-size: 18px;}
  .view-detail-modal {width: 95% !important;}
  #Subscribe_id .input-group {margin-bottom: 10px;}
  .btn-slide,.btn-link{bottom: 0 !important;position: relative !important;right: 0 !important;text-align: center;margin: 0 auto;}
  .btn-link{left: 0 !important;}
  .slide-btn {text-align: center;}
  .slide-btn .btn{margin:10px 0;}
}
@media (max-width: 600px){
    #owl-main .item {height: 400px;}
    #owl-main .item img{min-height:400px;}
    .slider-content .heading-white {font-size: 30px;}
    .slider-form p{font-size:20px;}
    #owl-main .owl-pagination{left: 40px;}
    .left-arrow {left: -12px;}
    .right-arrow {right: -12px;}
    .left-arrow > img {height: 40px;width: auto;}
    .right-arrow > img {height: 40px;width: auto;}
    .heading-blogg{max-height: 100%;min-height: auto;}

}

@media (max-width: 480px){
    #owl-main .item {height: 320px;}
    #owl-main .item img{min-height:320px;}
    .changllenge-content .heading-white {font-size: 18px;}
    .left-arrow {left: 0px; top:-26px;}
    .right-arrow {right: 0px;top:-26px;}
    .left-arrow > img {height: 20px;}
    .right-arrow > img {height: 20px;}
    .btn-orange{font-size:12px;padding: 12px 8px;}
    .button-advice{width:auto;}
    .heading-black {font-size: 18px;}
}

@media(min-width: 360px) and (max-width: 767px){
.service-innr-title-box .title {
    padding: 15px 15px !important;
}
.service-innr-title-box h1::before {
    left: 15px !important;
}
.containe p {
    padding: 0 15px;
}
}

@media (max-width: 320px){

}

/** media end **/
/* css gagan 21aug'17 */
.news {
  background: #0066FF;
  color: #fff;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}


.strategy-starting-txt {
  bottom: 17px;
  color: black;
  font-family: 'opensansSB';
  font-size: 22px;
  padding-top: 68px;
  position: relative;
}
.faaliyetler .faaliyetler-ic .icerik .panel-default {
  margin-bottom: 30px;
}
.faaliyetler .faaliyetler-ic .icerik .panel-default .panel-body.first-block {
  background: #1aa82d none repeat scroll 0 0;
  color: white;
  font-family: "opensansR";
  font-size: 17px;
  height: 264px;
  padding-top: 48px;
}
.h1-tag-num1 {
  color: white;
  font-family: "opensansSB";
  font-size: 67px;
}
.faaliyetler .faaliyetler-ic .icerik .panel-default .panel-body.second-block {
  background: #e0e0e0 none repeat scroll 0 0;
  color: black;
  font-family: "opensansR";
  font-size: 17px;
  padding-top: 40px;
}
.h1-tag-num2 {
  color: #1aa82d;
  font-family: "opensansSB";
  font-size: 67px;
}
.faaliyetler .faaliyetler-ic .icerik .panel-default .panel-body.third-block {
  background: #e0e0e0 none repeat scroll 0 0;
  color: black;
  font-family: "opensansR";
  font-size: 17px;
  padding-top: 35px;
}

.faaliyetler .faaliyetler-ic .icerik .panel-default .panel-body.fourth-block {
  background: #1aa82d none repeat scroll 0 0;
  color: white;
  font-family: "opensansR";
  font-size: 17px;
  padding-top: 60px;
}
.h1-tag-num4 {
  color: white;
  font-family: "opensansR";
  font-size: 90px;
}
.h1-tag-num3 {
  color: white;
  font-family: "opensansSB";
  font-size: 90px;
}
.text-investors-name {
  font-family: "opensansR";
  font-size: 14px;
}
.text-investors-name ol li {
 padding-top: 12px;
}
.text-investors-name ol{padding-left: 0;}
.terms-numbers {
  color: #1aa82d;
  font-family: "opensansSB";
  font-size: 29px;
}
.terms-text-cont {
  font-family: "opensansR";
  font-size: 14px;
}
.terms-text-cont ul{padding-left: 0;}
.term-colm-cls{padding: 28px !important;}
.aims-test {
  background: #0066FF none repeat scroll 0 0;
  margin-top: 86px;
}
.aims-heading {
  bottom: 50px;
  color: white;
  font-family: "opensansSB";
  font-size: 23px;
  font-weight: 700;
  padding-top: 99px;
  position: relative;
}
.aims-full-cont {
  color: white;
  font-family: "opensansR";
  font-size: 14px;
}
.aim-cont-ptag {
  bottom: 50px;
  padding-top: 12px;
  position: relative;
}
.aims-heading2 {
  bottom: 20px;
  color: #F6730B;
  font-family: "opensansR";
  font-size: 18px;
  padding-top: 55px;
  position: relative;
}
.table-head {
  background: black none repeat scroll 0 0;
  color: #e0e0e0;
  font-family: "opensansR";
  font-size: 14px;
}
.table-data {
  background: #dceef4 none repeat scroll 0 0;
  border: 5px solid white;
  font-family: "opensansR";
  font-size: 14px;
  text-align: center;
}
.top_tel,.top_mail {
  color: #fff;
  font-family: 'opensansR';
  font-size: 15px;
}
.button-advice .btn-primary:hover {
  background-color: #fff !important;
  color: #000;
  outline: none;
}
.col-md-9.right3 {
  padding-left: 30px;
}
.table thead tr th {
  background-color: #0066FF;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-size: 13px;
font-family: "opensansL";
}

/*Start Rohit CSS of Pricing*/
.side-widget {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 15px;
}
.top-heading {
  background: hsla(0, 0%, 0%, 0) url("assets/images/icons/shopping.png") no-repeat scroll 5px 0;
  border-bottom: 1px dashed hsl(0, 0%, 82%);
  color: #0d55a6;
  font-size: 20px;
  padding-bottom: 12px;
  padding-left: 50px;
  text-transform: capitalize;
  width: 100%;
}
.cart-heading {
  border-bottom: 2px solid #bab9b9;
  font-weight: 700;
  padding: 5px 0;
  width: 100%;
}
.color-green {
  color: #96ba00;
}
.side-widget .media {
  padding-bottom: 5px;
}
.side-widget .cart-col {
    font-size: 12px;
    padding: 0 3px;
}
#sidebar h4 {
    margin: 0;
}
#sidebar h4 {
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
}
.side-widget .media-heading {
  color: #6a6969;
  font-size: 13px;
  font-weight: bold;
}
.total-block {
  margin-bottom: 15px;
}
.total-inner {
  color: #666666;
  font-size: 15px;
  font-weight: bold;
  padding-top: 15px;
}
.clear {
    clear: both;
}
.total-inner .apply-coupon {
  margin: 5px 0;
  padding: 10px 32px;
}
.total-heading {
  color: #6a6969;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 0;
  width: 100%;
}
/*End Rohit CSS of Pricing*/


/* Start Kapil CSS */
.btn1:hover{
    background-color: #ff730b;
    border-color: #ff730b;    
}

.button1 {
  height: 50px;
  background: #0066FF;
  background-color: rgb(0, 102, 255);
  border-radius: 42px;
}
.freerecom h3 {
  color: #FF730B;
  text-align: center;
}
.table tr td .ques {
  float: right;
}
/* End Kapil CSS */
.subs_button {
  background: rgb(0, 102, 255) none repeat scroll 0 0;
  border-radius: 25px;
  height: 43px;
width: 117px;
}


/* soniya css*/
.popup-12-step-guide .formblock1 .yourprogress, .popup-12-step-guide .formblock2 .yourprogress {
  font-size: 11px;
  color: #c1c1c1;
  margin-bottom: 15px;
}
.popup-12-step-guide {
  display: block;
  width: 100%;
  margin: 0 auto;
  font-family: "opensansR";
  border: 0;
  background-color: #ffffff;
  color: #000000;
  padding: 3px;
  text-align: center;
  max-width: 700px;
  height: auto;
}
.popup-12-step-guide .progress {
  width: 70%;
  height: 15px;
  background-color: #FFF;
  border-radius: 7px;
  border: 1px solid #CCCCCC;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}
#cta-popup-form .popup-12-step-guide .formblock0 .progress .progress-inner {
  width: 33%;
}
.popup-12-step-guide .progress .progress-inner {
  position: relative;
  background-color: #58b04c;
  width: 50%;
  margin: 0;
  padding: 0;
  height: 100%;
  border-radius: 6px;
}
.popup-12-step-guide {
  font-family: "opensansR";
  color: #000000;
  text-align: center;
}
#cta-popup-form .popup-12-step-guide .formblock0 .form-header, #cta-popup-form .popup-12-step-guide .formblock0 .form-subheader, #cta-popup-form .popup-12-step-guide .formblock0 .form-desc, #cta-popup-form .popup-12-step-guide .formblock1 .form-header, #cta-popup-form .popup-12-step-guide .formblock1 .form-subheader, #cta-popup-form .popup-12-step-guide .formblock1 .form-desc {
  text-align: center;
}
.popup-12-step-guide .form-header {
  color: #042f50;
  font-size: 29px;
  text-align: left;
  font-weight: 600;
  margin: 0.67em auto;
}

.popup-12-step-guide input[type="text"], .popup-12-step-guide input[type="email"] {
  font: 400 .85em Futura, Lato, Arial, sans-serif;
  float: none;
  width: 70%;
  display: block;
  border: none;
  padding: 18px 10px;
  margin: 0 auto 10px;
  border: 1px solid #CCCCCC;
  background-color: #ffffff;
  color: #000000;
  border-radius: 2px;
  text-align: left;
}
.popup-12-step-guide .formblock1 .form-header, .popup-12-step-guide .formblock2 .form-header {
  margin: 5px auto 10px;
}
.popup-12-step-guide .form-desc {
  color: #5e5e5e;
  font-size: 19px;
  margin: 1em auto;
  text-align: left;
}
.popup-12-step-guide input[type="submit"] {
  border: 0 none;
}
.popup-12-step-guide .button-orange {
  background-color: #FF730B;
  border-radius: 30px;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-family: "opensansR";
  font-size: 1em;
  font-weight: 300;
  margin: 20px auto 5px;
  max-width: 250px;
  padding: 16px 0;
  text-decoration: none;
  width: 100%;
  border: transparent;

}
.popup-12-step-guide {
  color: #000000;
  font-family: "opensansSB";
  text-align: center;
}
.popup-12-step-guide .formblock1 .form-header, .popup-12-step-guide .formblock1 .form-subheader, .popup-12-step-guide .formblock1 .form-desc, .popup-12-step-guide .formblock2 .form-header, .popup-12-step-guide .formblock2 .form-subheader, .popup-12-step-guide .formblock2 .form-desc {
  text-align: center;
}
.rc-anchor-light.rc-anchor-normal {
  border: 1px solid #d3d3d3;
}
.rc-anchor-light {
  background: #f9f9f9 none repeat scroll 0 0;
  color: #000;
}
.rc-anchor-normal {
  height: 74px;
  width: 300px;
}
.rc-anchor {
  border-radius: 3px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
}
.rc-anchor-alert {
  bottom: 0;
  color: red;
  font-size: 13px;
  position: absolute;
}
.rc-anchor-aria-status {
  left: -10000px;
  height: 1px;
  overflow: none;
  position: absolute;
  top: -10000px;
  width: 1px;
}
.rc-anchor-light {
  color: #000;
}
.rc-anchor-error-msg-container {
  color: #ff0000;
  font-family:opensansR;
  font-size: 12px;
  font-weight: 400;
  left: 0;
  line-height: 14px;
  margin: 2px 10px 2px 10px;
  position: absolute;
  top: 0;
}
.rc-anchor-light {
  color: #000;
}
.rc-anchor-normal .rc-anchor-content {
  height: 74px;
  width: 206px;
}
.rc-anchor-content {
  display: inline-block;
}
.rc-anchor-normal-footer {
  display: inline-block;
  height: 74px;
  vertical-align: top;
}
.popup-12-step-guide .popup-close {
  text-decoration: underline;
  color: #CCCCCC;
  font-size: .7em;
  width: auto;
  float: none;
  padding: 0;
}
.rc-anchor-normal .rc-anchor-pt {
  margin: 4px 13px 0 0;
  padding-right: 2px;
  position: absolute;
  right: 0;
  text-align: right;
  width: 276px;
}
.g-recaptcha > div {
  display: block;
  margin: 0 auto;
}
.body1-list{
  padding: 0;
}
.pr-0{
  padding-right: 0;
}
.pl-0{
  padding-left: 0;
}

@media (max-width:320px){

.signinsubmit{
  position: relative;
right: 0px;
}
body{
     font-size: 12px;
 }

 .btn2{
    position: relative;
right: 78px;
 }
 .forgot-pass-login{
    position: relative;
top: -113px;
}
}

@media (min-width:321px) and (max-width:360px){
  .login-form a {
  position: relative ;
  left: 0px !important;
  bottom: 124px !important;
 /* padding-left: 28px;*/
padding-top: 19px;
}
.login-submit-link {
  position: relative;
 top: 0px;
/*padding-left: 55px !important;*/
}
.form-group.agree-btn label{
text-align: center;
}
.signinsubmit{
    right: 0 !important;
    bottom: 0px;
margin-top: 28px;
}
 .btn2{
    position: relative;
right: 114px;
 }
  .forgot-pass-login{
top: -89px;
}
.back-btn{
 padding: 12px 48px !important;
}
.subscribe-btn{
padding: 12px 32px !important;
}
}
@media(max-width:768px){
  .login-form .pass{text-align: center;}
  /*.signinsubmit{position: relative;right: 99px;bottom: 12px;}*/
  /*.login-submit-link {position: relative;left: 72px !important;}*/
  .btn2{ position: relative;right: 4px;/*bottom: 86px;*/}
  .submit-input-field{margin: 16px 0 !important; padding: 12px 40px;}
  .modal-dialog {margin-top: 115px;width: 92%;}
  .navbar-header{margin-top: 0;}
  .header-top-text.navbar-left {text-align: center !important;}
  .header-top-text {padding: 2px 0 9px !important;}
  .col-sm-2.header-top-countdrop.clearfix {text-align: center !important;}
  .login-signup-block li {padding-top:0 !important;}
  .navbar-toggle {margin-top: 16px !important;}
  .outter-hedder {top: 93px !important;}
  .login{padding: 0 0 8px !important;}
  .menu-main {background-color: #000;}
  .outter-hedder .navbar-nav { margin: 0 -15px;}
  .view_sub_dtl_h3 {
    font-size: 18px;

}
.btn-sm {
    margin-top: 12px;
}
.check-ptag{
    margin-left: 0px !important;
}
}

@media (max-width:800px)
{
 /*.login-form a{position: relative;bottom: 104px;right: 3px;}*/
/* .signinsubmit{position: relative;right: 99px;bottom: 12px;}*/
 /*.login-submit-link {position: relative;left: 72px !important;}*/
 .btn2{position: relative;right: 4px;/*bottom: 86px;*/}
 .btn-primary {padding: 12px 12px;}
 .outter-hedder {top: 68px;}
 .back-btn{
 padding: 12px 48px !important;
}
.subscribe-btn{
padding: 12px 32px !important;
}
}


@media (min-width:801px) and (max-width:980px){
/*  .login-form a{
    position: relative;
    bottom: 104px;
    right: 3px;
}*/
/*.signinsubmit{
  position: relative;
right: 99px;
bottom: 12px;
}*/
/*.login-submit-link {
  position: relative;
  left: 72px !important;
}*/
/*.btn2{
    position: relative;
right: 4px;
bottom: 86px;
 }*/
.submit-input-field{
  margin: 0 0; 
}
.main-menu {
  top: 51px !important; 
  }
  .logo {
  padding: 0 !important;
  }
  .container{width: 100%;}
}

@media (max-width:390px)
{
.outter-hedder {top: 111px !important;}
}


/*checkout css*/
  .logo img {
  height: 45px !important;
padding-top: 11px;
}

.service-head {
      font-size: 16px !important;
      height: 123px;
      background-color: #F2F2F2;
      color: black;
    }
  .main-div {
    background-color: white;
    box-shadow: 2px 3px 5px;
    float: left;
    margin-left: 20%;
    width: 60%;
  }
    .img
    {
       width:180px;
    }
    .tab
    {
      width: 100%;
      margin-top: 0%;
      background-color: #4386C8;
      padding: 10px
    }
    .tab td b
    {
      color: white;
      font-size: 27px;
    }
    .tab1
    {
      width: 70%;
      margin-top: 2%;
      margin-left: 22%;
      border-radius: 10px;
    }
    .tab1 td
    {
      color: black;
    }
    
    .tab1 #td
    {
      width: 40%;
      color: black;
      font-size: 20px;
    }
    .tab1 td input
    {
      width: 60%;
      height: 30px;
     border: 1px solid #969090;
    }
    .tab1 td textarea
    {
      width: 60%;
        height: 118px;
        border: 1px solid #969090;
        font-size: 15px;
        padding-top: 24px;
        margin-bottom: 15px;
    
    }
    .tab1 td select
    {
      width: 60%;
      height: 30px;
      border: 1px solid #969090;
    }
    .tab1 #td-1
    {
      width: 20%;
    }
    .main-div
    {
      width: 80%;
      float: left;
      background-color: white;
      box-shadow: 2px 3px 5px;
      margin-left: 10%;
    }
.payment_loader {
  background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 999999;
}
.payment_loader > img {
  margin-top: 20%;
}
.confirm-order-block{
  padding-bottom: 123px;
  background-color: white;
  margin-top: 125px;
}


/*soniya checkout new css*/

.check-ptag{
    margin-left: 190px;
}
.textarea{
  width: 83%;
}
.field-space{
  margin-bottom: 20px;
}
.btn-oroceed-to-pay{
  background-color: #024EA2;
  color: white;
  font-size: 15px;
  border-radius: 25px;
  height: 47px;
  border: 1px solid gray;
}
.btn-oroceed-to-pay:hover{
background-color: #FF730B;
color: white;
font-size: 15px;
}
.signinsubmit{
  background-color: #0066ff;
  border-color: #0066ff;
  border-radius: 0;
  color: #fff;
  padding: 12px 63px;
  font-family: "opensansR";
  border-radius: 25px;
  margin-top: 23px;
}
.login-form .pass{text-align: right;}
.login-form .sign{text-align: right;}
.back-subscribe-btn{
  position: relative;
top: 41px;
}
.btn-primary.btn1{background-color:#0066FF; border-color:#0066ff; border-radius:0; color:#fff;/*padding: 12px 60px;*/font-family: "Roboto-Regular";
border-radius: 25px;
margin: 0px;
outline: none;}
.btn-primary.btn1:hover,.btn-primary.btn1:focus,.btn-primary.btn1:active{background-color:#FF730B; border-color:#FF730B; border-radius:0; 
color:#fff;
border-radius: 25px;
outline: none;}
.btn-primary.btn2 {background-color:#0066ff; border-color:#0066ff; border-radius:0; color:#fff;padding: 12px 48px;margin:auto;font-family: "Roboto-Regular";
border-radius: 25px;
float: right;
outline: none !important;}
.btn-primary.btn2:hover,.btn-primary.btn2:focus,.btn-primary.btn2:active{background-color:#FF730B; border-color:#FF730B; border-radius:0; 
color:#fff;
border-radius: 25px;}
.heading-text-terms{
  font-size: 16px;
}
.risk-profile-label{
 text-align: left !important;
}
.form-control.e-book-input-block{
  border-radius: 0;
  font-size: 13px;
  height: 55px;
width: 73%;
margin-left: 93px;
}
.questions-risk-profile{
  border-bottom: 1px solid #C7C7C7;
padding: 18px;
}
.hr-line-risk{
  background: #C7C7C7;
height: 1px;
}
.star-input-risk{
  color: red;
font-weight: 700;

}
.submit-risk-btn{
    background-color: #0066ff;
  border-color: #0066ff;
  color: #fff;
  padding: 12px 60px;
  margin: 35px 0;
  font-family: "opensansR";
  border-radius: 25px;
  margin-top: 22px;
}
.submit-risk-btn:hover{
    background-color:#FF730B;
  border-color: #FF730B; 
  color: #fff;
}
.static-banner-top .parallax-overlay {
  height: 160px;
  padding: 30px 0;
}
.section-banner-top .parallax-overlay {
  height: 200px;
  padding: 50px 0;
  background: -moz-linear-gradient(top, rgba(0, 0, 0,0.4) 0%, rgba(0, 0, 0,0.4) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0,0.4) 0%,rgba(0, 0, 0,0.4) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0,0.4) 0%,rgba(0, 0, 0,0.4) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000',GradientType=0);
}
.parallax-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px 0;
}
.contact-us-heading{
  padding-bottom: 38px;
text-align: center;
font-family: "OpenSansSB"
}
.service-innr-title-box h1::before {bottom: 0;content: "";display: block;height: 2px;left: 0px;
    margin: -2px auto;
    position: absolute;
    width: 65px;background-color: #F06F55;}
  .service-innr-title-box h1.title {font-size: 30px;text-align: left;text-transform:none;font-family:'opensansSB';}
    .service-innr-title-box {border-bottom-width: 0;margin-bottom: 40px;position: relative;}
  .service-innr-title-box .title {font-size: 32px;
   font-weight: 700;
   margin: 0 0 12px;
    padding: 14px 0;
   font-family: 'opensansSB';
   text-align: center;}
   .heading-black-index{
text-transform: uppercase;
font-family: "Lato", Helvetica, Arial, sans-serif;
margin-top: 0;

}
.heading-black-small{
  font-weight: 600;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color: #0056b5;
  text-transform: uppercase;
}

/** header css **/
.header-main{color: #fff;position: relative;z-index: 100000;}

.header-search{
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 100000; /* Sit on top */
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
    padding: 35px 15px 30px;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    transition: all 0.4s ease-in-out 0s; /* 0.5 second transition effect to slide in or slide down the overlay */
}
.header-search .closesearch {font-size: 60px;color: #fff;text-decoration: none;outline: none;position: relative;top: -12px;}
.navbar-btn-search{outline: none !important;background-color: rgba(0, 0, 0, 0) !important;border: medium none;color: #ffffff;font-size: 22px;margin: -6px 0 0;padding: 0;}
.navbar-btn-search:hover{color: #fde428;}
.navbar-btn-search .fa{outline: none !important;}
.header-search .input-group-lg > .input-group-btn .btn{width: 75px;border-top-right-radius: 60px;border-bottom-right-radius: 60px;}
.header-search .input-group-lg > .form-control{padding: 10px 30px;border-top-left-radius: 60px;border-bottom-left-radius: 60px;}
.header-search .input-group-lg > .form-control, .header-search .input-group-lg > .input-group-addon, .header-search .input-group-lg > .input-group-btn > .btn {
  height: 58px;
}

.header-top{padding: 0;background-color: #0066FF;z-index: 100000;font-size: 15px;padding-top: 0px;}
.navbar-nav-lefttop{}
.navbar-nav-lefttop > li > a {color: #fff;}
.navbar-nav-lefttop > .active > a, .navbar-nav-lefttop > .active > a:focus, .navbar-nav-lefttop > .active > a:hover {background-color: #294997 !important;color: #fff !important;}
.navbar-nav-lefttop > .open > a, .navbar-nav-lefttop > .open > a:focus, .navbar-nav-lefttop > .open > a:hover {background-color: #294997 !important;color: #fff !important;}
.navbar-nav-lefttop > li > a:focus, .navbar-nav-lefttop > li > a:hover {background-color: #294997  !important;color: #fff !important;}

.header-top-text {padding: 12px 0;}
.header-top-text  .fa {color: #fff;font-size: 18px;margin-right: 5px;}

.header-top-drop1 {width: 130px;}
.header-top-drop1 .dropdown-menu {min-width: 96px;border-radius: 0;}
.header-top-address {width: 408px;}
.header-top-timing {width: 285px;}
.header-top-call {width: 165px;}
.header-top-drop2 {width: 140px;}
.header-top-drop2 .dropdown-menu {min-width: 123px;border-radius: 0;}

.header-top-countdrop .navbar-nav{background: #294997;width: 100%;text-align: center;}
.header-top-countdrop .navbar-nav > li {width: 100%;}
.header-top-langdrop .navbar-nav{background: transparent;width: 100%;text-align: left;}
.header-top-langdrop .navbar-nav > li {width: 100%;}

.header-top-langdrop .navbar-nav > li > .dropdown-menu {min-width: auto;width: 100%;background: #294997;border-color: #294997;border-radius: 0 !important;}
.header-top-langdrop .navbar-nav > li > .dropdown-menu > li > a{color: #fff;padding-top: 7px;padding-bottom: 7px;}
.header-top-langdrop .navbar-nav > li > .dropdown-menu > li > a:focus, .header-top-langdrop .navbar-nav > li > .dropdown-menu > li > a:hover {background-color: #6C98E1;color: #ffffff;}
.header-top-langdrop .navbar-nav > li > .dropdown-menu > .active > a, .header-top-langdrop .navbar-nav > li > .dropdown-menu > .active > a:focus, .header-top-langdrop .navbar-nav > li > .dropdown-menu > .active > a:hover {background-color: #6C98E1;color: #ffffff;}
.header-top-countdrop .navbar-nav > li > .dropdown-menu {min-width: auto;width: 100%;background: #294997;border-color: #294997;border-radius: 0 !important;}
.header-top-countdrop .navbar-nav > li > .dropdown-menu > li > a{color: #fff;padding-top: 7px;padding-bottom: 7px;}
.header-top-countdrop .navbar-nav > li > .dropdown-menu > li > a:focus, .header-top-countdrop .navbar-nav > li > .dropdown-menu > li > a:hover {background-color: #6C98E1;color: #ffffff;}
.header-top-countdrop .navbar-nav > li > .dropdown-menu > .active > a, .header-top-countdrop .navbar-nav > li > .dropdown-menu > .active > a:focus, .header-top-countdrop .navbar-nav > li > .dropdown-menu > .active > a:hover {background-color: #6C98E1;color: #ffffff;}


.logo{height: auto;margin: 0 !important;padding: 10px 70px;}
.logo img{width: auto;height: 45px;}
.main-menu{margin: 0; padding: 0;background: transparent;border: none;position: absolute;right: 0;left: 0;top: 0;z-index: 10000;}
.main-menu.outter-hedder .navbar-collapse .collapse .in{background-color: #000;}
.header2-menu {
  background: #fff none repeat scroll 0 0 !important;
  position: relative;
  top: 0;
}
.main-menu .navbar-collapse{background-color: transparent;overflow-y: visible;}
.navbar-fixed-top{position: fixed !important;background-color: #fff;top: 0 !important;/*box-shadow: 0 2px 12px 0px #fff;*/}
.main-menu .navbar-nav > li > a {font-size: 18px; font-family: "Lato", Helvetica, Arial, sans-serif;padding: 14px 17px;color: #fff;outline: none;}
.main-menu .navbar-nav > .active > a, .main-menu .navbar-nav > .active > a:focus, .main-menu .navbar-nav > .active > a:hover {background-color: transparent !important;color: #6f51c7 !important;}
.main-menu .navbar-nav > .open > a, .main-menu .navbar-nav > .open > a:focus, .main-menu .navbar-nav > .open > a:hover {background-color: transparent  !important;color:#6f51c7 !important;}
.main-menu .navbar-nav > li > a:focus, .main-menu .navbar-nav > li > a:hover,.main-menu .navbar-nav > li > a:active {background-color: transparent  !important;color: #6f51c7  !important;}
.main-menu{}
.main-menu .dropdown-menu {
    border-radius: 0 !important;
    min-width: 200px;
}
.main-menu .dropdown-menu > li > a {
    padding-bottom: 7px;
    padding-top: 7px;
}
.main-menu .dropdown-menu > li > a:focus, .main-menu .dropdown-menu > li > a:hover {
    background-color: #0066FF;
    color: #ffffff;
}
.main-menu .dropdown-menu > .active > a, .main-menu .dropdown-menu > .active > a:focus, .main-menu .dropdown-menu > .active > a:hover {
    background-color: transparent;
    color: #00e7db;
}

.new-biz-dropdown .dropbtn {
    font-size: 18px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: #000;
    font-family: "Lato", Helvetica, Arial, sans-serif;
}
.new-biz-dropdown .dropbtn i{
font-size: 14px;
}
.new-biz-dropdown .dropbtn:hover {
 color: #6f51c7;
}

.new-biz-dropdown .dropdown {
    position: relative;
    display: inline-block;
}

.new-biz-dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style: none;
    width: 240px;
    margin-left: 18px;
}

.new-biz-dropdown .dropdown-content a {
    color: black;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

.new-biz-dropdown .dropdown-content a:hover {background-color: #6f51c7; color: #fff;}

.new-biz-dropdown.dropdown:hover .dropdown-content {
    display: block;
    padding: 0;

}

.new-biz-dropdown .dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.menu1{margin-top: 25px;}
.cart-dropdown{left: auto !important;right: 0 !important;width: 325px !important;}
.cart-block{padding: 10px;}
.media-cart{border-bottom: 1px solid #dddddd;margin-bottom: 10px;padding-bottom: 10px;}
.media.media-cart:last-child{border: medium none;}
.media-cart .media-body .media-heading, .media-cart .media-body .media-heading a{color: #222222;font-size: 14px;margin-bottom: 6px;}
.media-cart .media-body p{margin-bottom: 6px;}
.total-cart{border-bottom: 1px solid #dddddd;border-top: 1px solid #dddddd;margin: 15px 0;padding: 5px 0;}
.total{font-size: 18px;}
.total-price{color: #011959;font-size: 18px;}
.cart-count{background: #011959;border-radius: 10px;color: #ffffff;padding: 5px 6px;}

.menu1 a {text-transform: uppercase;}
.cart-text{text-transform: uppercase;}

/*.dropdown:hover .dropdown-menu{display: block;}*/

.dropdown-menu {border-top: 3px solid #011959;box-shadow: 5px 8px 15px -11px #000000;max-height: 400px;overflow:auto;
min-width: 145px !important;
z-index: 100000;}

.menu3 > li > a{color:#222; border-right: 1px solid #ddd;}

.nav-color-black{background-color: #484949 !important;padding: 35px 50px !important;}
.nav-color-gray{background-color: #e5e7e4 !important;color: #484949 !important;padding: 35px 35px !important;}
.nav-color-skyblue{background-color: #6dcff6 !important;padding: 35px 40px !important}
.login-signup-block{
  list-style: none;

}
.login-signup-block li{
   color: black;
   padding-top: 14px;
}
.login-signup-block li a{
  color: white;
    text-decoration: none;
     padding-top: 0;
}
.login-signup-block li a:hover{
  color: #fff;
    font-size: 14px;
    }
.login-dropdown li{
 width: 50px;
}
.login-dropdown li a{
 color: #000;
}
.login-dropdown li a:hover{
color: #F6730F;
}
.navbar {
  border-radius: 0 !important;
}

.btn-primary{
  outline: none !important;
}
/*header new css*/

.profile-button1{
  background-color: #0066FF;
  border-radius:25px;

}

.foo-socail a {
  color: #fff;
  border-radius: 50%;
  margin: 0 3px;
}
.btn-sm{
background: #0056b5;
border-radius: 25px;
}

.view_sub_dtl_h3{
  color: #0066FF !important;
}



/*knowledge series css*/  

.body-section-container{
  margin-top: 76px;
  margin-bottom: 76px;
}
.news-grid .hovereffect img {
  display: block;
  position: relative;
  transition: all 0.2s ease-in 0s;
  width: 100%;
  min-height: 240px;
  max-height: 240px;
  border: 1px solid #000000;
}
.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(460px, -100px) rotate(180deg);
  -ms-transform: translate(460px, -100px) rotate(180deg);
  transform: translate(460px, -100px) rotate(180deg);
  -webkit-transition: all 0.2s 0.4s ease-in-out;
  transition: all 0.2s 0.4s ease-in-out;
}
.hovereffect {
  cursor: default;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}
.news-grid .hovereffect {
  margin-bottom: 20px;
}
.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}
.hovereffect:hover a.info {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}
.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  margin: 100px 0 0 0;
  background-color: transparent;
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.news-grid .news-link {
  color: #000;
  display: block;
  font-weight: bold;
  margin-top: 30px;
  min-height: 58px;
  max-height: 58px;
  overflow: auto;
  text-decoration: none;
  font-family: 'opensansSB';
  font-size: 16px;
  text-align: left;
}
.news-grid .news-link:hover{
  color: #FF730B ;
}
.news-grid-body .blog-time {
  color: #777777;
  font-size: 12px;
  font-style: italic;
}
.news-grid-body .blog-heading {
  margin: 0 0 15px;
}
.news-grid-body {
  margin: 0 0 15px;
  min-height: 110px;
  max-height: 110px;
}
.containe span{
  font-size: 14px;
  font-family: 'opensansR';
}
.list-menu {
  margin-bottom: 20px;
  padding-left: 0;
  list-style: outside none none;
}
.list-menu .list-group-item {
  background-color: #f2f2f2;
  border: 1px solid #eee;
  border-radius: 0;
  display: block;
  margin-bottom: 2px;
  padding: 12px 15px;
  position: relative;
} 
.list-menu .list-group-item.active, .list-menu .list-group-item.active:focus, .list-menu .list-group-item.active:hover {
  background-color: transparent;
  border-left: 5px solid #0066FF;
  color: #0066FF;
  z-index: 2;
}
.list-menu .list-group-item {
  border-radius: 0;
  display: block;
  margin-bottom: 2px;
  padding: 12px 15px;
  position: relative;
}
.mt-70 {
  margin-top: 102px;
}

/*knowledge series css end*/  

.leave-msg-form .form-group .form-control {
  border-radius: 0;
  height: 45px;
  background-color: #ddd;
}
.leave-msg-form .form-height {
  height: 116px !important;
}
.font-wt {
  font-weight: 600;
}
.kyc-list{
  list-style: none;
}
.for-click:hover{
  color: #0066FF;
}
.service-name-recom{
  color: #FF7307;
}
.subscribe-btn th {
  text-align: right !important;
}
.btn-warning{
  outline: none !important;
}
.list-menu .list-group-item:hover {
  color: #0066FF;
}
.section-forgot-pass{
  margin-top: 60px;
}
.table-service-name:hover{
   color: #0066FF;
}
.thanku-content{
  text-align: left;
 padding-top: 54px;
}
.thanku-content p{
   font-size: 22px;
   padding-top: 10px;
}
.congrats-heading h3{
  font-size: 43px;
  font-weight: 800;
  color: #FF6305;
  margin-top: 0;
}
.thanks-img{
  padding-top: 15px;
}
.our-service-scroll{
 padding-right: 15px;
 padding-top: 15px;
}
.scroll-btn{
  height: 55px;
 border:1px solid #0066FF;
 background-color: #0066FF;
 color: #fff;
}
.scroll-btn:hover{
background-color: #FF730B;
color: #fff;
border:1px solid #FF730B;
}
.user-logout-btn{
  background-color: transparent;
  border-color: transparent;
  color: #fff;
  padding-top: 14px;
}
.user-logout-btn:hover{
   background-color: transparent;
  border-color: transparent;
  color: #fff;
   outline: none ;
}
.user-logout-btn:active{
   background-color: transparent;
  border-color: transparent;
  color: #fff;
   outline: none;
}
.user-logout-btn:focus{
   background-color: transparent;
  border-color: transparent;
  color: #fff;
   outline: none ;
}
.kyc-link:hover{
 color: #0066FF;
}
.login {padding: 10px 15px;}
.login a{
    color: #000;
  font-size: 18px;
  outline: none;
}
.login a:hover{
    color: #6f51c7;
}
.about-team-section{
  background-color: #fff;
  padding: 80px 0;
}
.forgot-pass-login {
    position: relative;
    bottom: 92px;
}

/*kamlesh*/
.che_box .error_validate {
        bottom: -14px;
        color: red;
        position: absolute;
      }
      .btn_padd{
        padding-top: 40px;
      }

/*soniya new sbscribe box css*/

.free-subscribe{
  background-color: #0066FF;
padding: 14px;
font-size: 17px;
color: #fff;
}
.free-subscribe strong{
  font-size: 22px;
}
.subscribe-now-btn {
  background-color: #FF730B;
  border-color: #FF730B;
  color: #fff;
  padding: 12px 23px;
  margin: 0 0;
  font-family: "opensansR";
  margin-top: 12px;
}