

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/roboto/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/roboto/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/roboto/Roboto-Light.ttf');
}


/** main css **/
body{font-family: 'Roboto-Regular';color: #222; background-color:#ffffff;}
/** main end **/

/** header css **/
.header-top { background-color: rgba(0, 0, 0, 0.6); color: #ffffff; padding: 0px; font-family: 'NimbusReg'}
.top-menu li a {color: #ffffff !important;padding: 6px 15px;}
.top-menu > li > a:focus, .top-menu > li > a:hover {background-color: #30cafd;text-decoration: none;}
.top-menu  .open > a, .top-menu  .open > a:focus, .top-menu  .open > a:hover {background-color: #30cafd;border-color: #337ab7;}
.top-menu .dropdown-menu > li > a {color: #333333 !important;}
.dropdown-toggle.pop-icon {background-color: #424242;}
.top-ul{margin: 0;padding: 0;list-style-type: none;}
.top-ul li{display: inline-block;margin: 0 4px 0 0;}
.top-ul li a{color: #fff;font-size: 15px;}
.icon-width22{width: 22px;}
.icon-width35{width: 35px;}
.logo{height: auto;padding: 10px;margin-left: -40px !important;}
.logo img{width: 125px;}
.main-menu{margin: 0; padding:3px;background: #00c1cf; border:1px solid #00c1cf; z-index: 100000;box-shadow: none; border-radius:0;}
.main-menu .navbar-nav > .active > a, .main-menu .navbar-nav > .active > a:focus, .main-menu .navbar-nav > .active > a:hover {background-color: transparent  !important;color: #00abdc;}
.main-menu .navbar-nav > .open > a, .main-menu .navbar-nav > .open > a:focus, .main-menu .navbar-nav > .open > a:hover {background-color: transparent  !important;color: #00abdc;}
.main-menu .navbar-nav > li > a:focus, .main-menu .navbar-nav > li > a:hover {background-color: transparent  !important;color: #BE3A04 !important;}
.main-menu .navbar-nav > li > a {color:#fff !important;padding: 18px !important;}
.menu1{margin-top: 25px;}
.cart-dropdown{left: auto !important;right: 0 !important;width: 325px !important;}
.cart-block{padding: 10px;}
.media-cart{border-bottom: 1px solid #dddddd;margin-bottom: 10px;padding-bottom: 10px;}
.media.media-cart:last-child{border: medium none;}
.media-cart .media-body .media-heading, .media-cart .media-body .media-heading a{color: #222222;font-size: 14px;margin-bottom: 6px;}
.media-cart .media-body p{margin-bottom: 6px;}
.total-cart{border-bottom: 1px solid #dddddd;border-top: 1px solid #dddddd;margin: 15px 0;padding: 5px 0;}
.total{font-size: 18px;}
.total-price{color: #00abdc;font-size: 18px;}
.cart-count{background: #00abdc;border-radius: 10px;color: #ffffff;padding: 5px 6px;}

.menu1 a {text-transform: uppercase;}
.cart-text{text-transform: uppercase;}

.dropdown-menu {border-top: 3px solid #be3a04;box-shadow: 5px 8px 15px -11px #000000;}

.menu3{ margin:8px 0;}
.menu3 > li > span{color:#fff;}

/* Mega Menu Css */

.category-menu, .cart-dropdown{box-shadow: 5px 8px 15px -11px #000000;border-top: 3px solid #00abdc;}
.category-submenu-block {background: #ffffff; max-height: 400px; overflow-x: hidden; overflow-y: auto;}
.category-submenu-heading{color: #00abdc;font-size: 15px;margin: 0 0 8px;}
.category-submenu-list{z-index: 10;}
.category-submenu-list .list-group-item { border: medium none; font-size: 12px;padding: 3px 0 3px 20px;background: transparent;position: relative;}
.category-submenu-list .list-group-item > a {color: #222222;display: block;}
.category-submenu-list .list-group-item > a:hover {color: #00abdc;}
.category-submenu-list .list-group-item::after {color: #00abdc;content: "\f0a4";font-family: "FontAwesome";font-size: 13px;position: absolute;left: 0px;top: 2px;}

.category-submenu-img{border: 1px solid #e8e8e8;padding: 10px;text-align: center;}
.category-submenu-img img{border-bottom: 1px solid #dddddd;max-height: 200px;max-width: 100%;padding-bottom: 10px;}
.heading-green{color: #00abdc;font-size: 16px;}

/* Mega Menu end */
.user-info > a {
  color: #fff;
}
.user-info img {width: 50px;}
.user-info {margin-top: 4px;}
/** header end **/


/** body css **/

/** parallax area **/
.parallax {
    background-attachment: fixed !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-overlay {background-color: rgba(0, 0, 0, 0.5);padding: 40px 0;}
/** parallax end **/


.section-issues{color: #fff;}
.section-issues .parallax-overlay{
    height: 645px;padding: 60px 0;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.breadcrumb-style1{border-bottom: 1px solid #ccc;background-color: rgba(255, 255, 255, 0.5);border-radius: 0;list-style: outside none none;margin-bottom: 40px;padding: 8px 15px;}
.breadcrumb > li + li:before {color: #222; content: "\f0a4";padding: 0 5px;font-family: "FontAwesome";margin:0 6px;}
.breadcrumb > li a {color: #fdcb49;}
.breadcrumb > li.active {color: #222;}




.section-dashboard {padding: 30px 0;}
.main-container {
  width: 1024px;
}

.media.media-user  .media-object {
  display: block;
  width: 90px;
}

.media.media-user  .media-body {
  padding: 10px 20px;
}
.media.media-user  .media-body .progress {
  background-color: #e8e8e8;
  border-radius: 5px;
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.1) inset;
  height: 5px;
  margin-bottom: 0px;
  margin-top: 12px;
  overflow: hidden;
  width: 90%;
  float: left;
}
.bg-green{background-color:#acd373;}
.award-progress {
  float: left;
  position:relative;
}
.award-progress {
  background-color: hsl(0, 0%, 91%);
  border-radius: 5px;
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.1) inset;
  height: 5px;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
  width: 12%;
  
  margin-left: 5px;
}
.award-progress > img {
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: -58px;
}
.media.media-user .pull-left {
  margin-left: 10px;
}
.box-feature{ border-radius: 4px;padding: 15px; color:#fff;}
.box-feature .heading-white {font-size: 20px;margin: 0 0 4px;}
.box-feature > p {font-size: 20px;}
.box-feature > p {font-size: 20px;margin: 10px 0;}
.box-feature .progress{height: 4px;margin-bottom: 0;}
.box-blue{background-color:#4eaeeb;}
.box-pink{background-color:#ee5086;}
.box-sky{background-color:#00c1cf;}
.box-light{background-color:#80c5dd;}
.box-green{background-color:#a5ce47;}
.bg-blue{background-color:#1c61a7;}
.bg-light{background-color:#8bd3ec;}
.bg-green2{background-color:#9ac23e;}
.box-point{box-shadow: 1px 10px 18px 0 #ddd; background-color:#fff;padding: 35px 0px;max-height: 520px;min-height: 520px;
overflow: auto;border-radius: 8px;}
.box-point .heading-black{font-size: 22px;float: left;margin: 0 0 10px;}
.number {
  float: right;
  font-size: 22px;
  margin: 0 0 10px;
  line-height: 1.1;
}
.heading-box > p { color:#b0b0b0;font-size: 12px;}
.semi-chart {
 position: absolute;
 top: 100px;

}
.highcharts-background {
  fill: hsla(0, 0%, 0%, 0);
}
.highcharts-title {
  display: none;
}
.highcharts-button-symbol {
  display: none;
}
.highcharts-credits {
  display: none;
}
.highcharts-container {top: -5.067px !important;left: -4.5px !important;}
.heading-box {
  padding: 10px 15px;
}
.total-number{float:left;color:#000;}
.title{float:right;color:#000;}
.progress-box .progress{height: 4px;margin-bottom: 30px;margin-top: 5px;}
.progress-box {
  bottom: 0px;
  display: block;
  left: 0;
  padding: 0 30px;
  position: absolute;
  right: 0;
  width: 100%;
}
.bg-pink{background-color:#f48fb1;}
.bg-light-blue{background-color:#a0acf0;}
.bg-orange{background-color:#ffab91;}
.bg-violet{background-color:#ce93d8;}
.box-chart{box-shadow: 1px 10px 18px 0 #ddd; background-color:#fff;padding: 35px 15px;border-radius: 8px;}
.box-chart .heading-black{font-size: 22px;margin: 0 0 10px;}
.box-chart > p { color:#b0b0b0;}
.canvasjs-chart-credit {display: none;}
.box-activity{box-shadow: 1px 10px 18px 0 #ddd; background-color:#fff;padding: 35px 15px;border-radius: 8px;}
.box-activity .heading-black{font-size: 22px;margin: 0 0 10px;}
.box-activity > p { color:#b0b0b0;}
.activity {
  font-size: 13px;
  color:#9d9d9d;
}
.topic-name {
  
  font-size: 13px;
  color:#9d9d9d;
}
.media.media-activity {border-bottom: 1px solid #ddd; padding: 20px 0;margin-top: 0;}
.media-last{border-bottom:none !important; padding: 20px 0 22px !important;}
.media-activity .media-body {
  padding-left: 12px;
  padding-top: 0;
}
.box-board{box-shadow: 1px 10px 18px 0 #ddd; background-color:#fff;padding: 34px 15px;border-radius: 8px;}
.box-board .heading-black{font-size: 22px;margin: 0 0 10px;}
.box-board > p { color:#b0b0b0;}
.table-board {margin-bottom: 0px;color:#9d9d9d;}
.table-board tr th {border: medium none !important; background-color:#f8f8f8;padding: 8px 8px !important;font-weight: normal; font-family: 'Roboto-Regular';}
.table-board tr th ,.table-board tr td{text-align:center;}
.table-board tr td{padding: 10px 20px !important;position: relative; border:none !important; border-bottom:1px solid #ddd !important;}
.number1 {
  left: 4px;
  position: absolute;
  top: 9px;
 
}
.number2 {
  right: 4px;
  position: absolute;
  top: 9px;
  
}
.table-board .progress {
  height: 3px;
  margin-bottom: 0;
  margin-top: 9px;
  vertical-align: middle;
  width: 94%;
  margin-left: 2px;
}

 tr:nth-child(odd) {
  background-color: #f8f8f8;
}
 tr:nth-child(even) {
  background-color: #fff;
}
.bg-sky{background-color:#03a9f4;}
.bg-red2{background-color:#ec3b57;}
.bg-yellow{background-color:#ff9800;}
.sort-btn .nice-select{background-color:transparent; border:none; border-bottom:1px solid #fff; border-radius:0;}
.sort-btn .current{color:#fff;}
.input-group.sort-btn {margin-top: 10px;}
.sort-btn  .nice-select::after{content: "";font-family: FontAwesome; border:none;transform: none;top: 14%; color:#fff;}
.sort-btn  .nice-select.open::after {transform: rotate(0deg);}
.bg-blue2{background-color:#00c1cf}
.box-white{background-color: #fff;box-shadow: 1px 10px 18px 0 #ddd;padding: 35px 0;border-radius: 8px;}
.progress-result .progress { height: 5px;width: 85%;float: left;}
.progress-result {margin-left: 15%;margin-top: 30px;}
.btn-green{background-color:#97de06; border-color:#97de06; color:#fff;padding: 5px 30px;border-radius: 20px;margin-top: 10px;}
.btn-green:hover,.btn-green:focus,.btn-green:active{ color:#fff;}
.media-video .media-object {
  width: 150px;
}
.media-video .pull-left {
  display: block;
  width: 150px;
  position:relative;
}
.media-video .media-body {
  padding-left: 25px;
}
.play-icon-block {
  left: 28%;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  top: 28%;
}
.media-user .pull-left {color:#000;}
.media-user .pull-left p{ margin-top:6px;}
.number-count {
  font-size: 42px;
  text-align: right;
   font-family: 'Roboto-Bold';
}
.bg-yellow2{background-color:#fff570;}
.bg-orange2{background-color:#f2ca00;}
.bg-green2{background-color:#c1ff70;}
.percentage {
  text-align: right;
}
.bg-1{background-color:#4eaeeb;}
.bg-2{background-color:#97de06;}
.bg-3{background-color:#00c1cf;}
.bg-4{background-color:#ff97c4;}
.box-chart{position:relative;}
.progress-bar2 {
  background-color: hsla(0, 0%, 0%, 0);
  box-shadow: none;
  height: 60px;
  margin: 0;
  position: absolute;
  right: 35px;
  top: 18px;
  width: 60px;
}
.heading-box .progress-bar2{top:30px;}
.media-blue .pull-left {
  background-color: #457fc9;
  display: block;
  height: 70px;
  margin: 0 auto;
  text-align: center;
  width: 75px;
  padding: 14px 0;
}
.media-green .pull-left {
  background-color: #78b83e;
  display: block;
  height: 70px;
  margin: 0 auto;
  text-align: center;
  width: 75px;
  padding: 14px 0;
}
.media-orange .pull-left {
  background-color: #ff9800;
  display: block;
  height: 70px;
  margin: 0 auto;
  text-align: center;
  width: 75px;
  padding: 8px 0;
}
.media-red .pull-left {
  background-color: #fd3235;
  display: block;
  height: 70px;
  margin: 0 auto;
  text-align: center;
  width: 75px;
  padding: 14px 0;
}
.media-activity .media-object {
  margin: 0 auto;
  text-align: center;
  width: 50px;
}
.media-orange .media-object{width:38px;}
.bottom-box{background-color: #fff;box-shadow: 1px 10px 18px 0 #ddd;padding: 8px 0; border-left:10px solid #00c1cf;border-radius: 8px;}

.btn-renew{background-color:#00c1cf; border-color:#00c1cf; color:#fff;padding: 5px 25px;border-radius: 20px;}
.btn-renew:hover,.btn-renew:focus,.btn-renew:active{ color:#fff;}
.bottom-content{float:left;margin-top: 10px;}
.bottom-btn{float:right;margin-top: 4px;}
.login-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  bottom: 0;
  height: 100%;
  position: fixed;
  top: 0;
  width: 931px;
}
.col-right {
  bottom: 0;
  height: 100%;
  position: fixed;
  top: 0;
  width: 435px;
}
.section-login{overflow:hidden; position:relative;}
.panel-login {border-radius: 0; border:none; box-shadow:none;}
.panel-login .panel-heading{background-color:#fff;text-align: right;}
.panel-login .panel-heading img {width: 110px;}

.form-login .form-control {border-radius: 20px;height: 38px;}
.form-control:focus {border-color: #00c1cf; }
.form-login .input-group-addon{border-radius: 20px;border-bottom-right-radius: 0 !important;border-top-right-radius: 0  !important; background-color:#fff;}
.form-login .input-group{margin-bottom:20px;}
.panel-login .panel-body {padding: 50px 80px;}

.btn-login{background-color:#00c1cf; border-color:#00c1cf; color:#fff; border-radius:20px;padding: 8px 12px; transition:all ease-in-out 0.6s;}
.btn-login:hover,.btn-login:focus,.btn-login:active{background-color:#000; border-color:#000; color:#fff; }
.panel-login .panel-footer {bottom: 0;position: fixed;text-align: center;width: 435px;}
.panel-login .panel-footer > a {clear: both;color: hsl(0, 0%, 47%);}
.login-list{list-style:none;padding: 0px;margin-bottom: 40px;}
.login-list li{ display:inline-block;}
.login-list li a {padding: 10px; color:#777;}
.login-list li.active a {border-bottom: 3px solid #00c1cf;}
/*.form-box{margin-top:30%;}*/
.banner-content{color:#fff;}
.banner-content .heading-white{font-size: 50px;}
.banner-content p {font-size: 16px;}
.banner-content p:after{background-color:#00c1cf; height:3px; width:60px; content:""; display:block; margin-top:10px;} 
.banner-content {bottom: 20%;left: 10%;position: absolute;}
.form-box2 .form-login .input-group {margin-bottom: 15px;}
.content {
  left: 43%;
  position: absolute;
  top: 30%;
}
.section-topic{ padding:30px 0;}
.media-topic .media-object {border-radius: 8px;}
.media-topic .media-body {padding-top: 25px;}
.media-topic .media-body .heading-blue {font-size: 20px;}

.btn-blue {
  background-color: #00c1cf;
  border-color: #00c1cf;
  border-radius: 20px;
  color: #fff;
  padding: 6px 25px;
}
.btn-blue:hover,.btn-blue:focus,.btn-blue:active{ background-color:#03a9f4; border-color:#03a9f4; color:#fff;}
.btn-blue-border {
  background-color: #fff;
  border-color: #00c1cf;
  border-radius: 20px;
  color: #00c1cf;
  padding: 6px 25px;
}
.btn-blue-border:hover,.btn-blue-border:focus,.btn-blue-border:active{ background-color:#03a9f4; border-color:#03a9f4; color:#fff;}
.btn-padding {padding: 6px 42px;}
.btn-group2 {
  margin-top: 46px;
}

.section-video{padding:20px 0;}
.video-box {
  border-bottom: 1px solid hsl(0, 0%, 87%);
  border-radius: 20px;
  padding: 20px 0;
}
.panel-video{box-shadow: 1px 10px 18px 0 #ddd;border-radius: 10px; position:relative;}
.panel-video .panel-heading{padding: 25px 0; text-align:center; color:#fff;border-top-left-radius: 10px;border-top-right-radius: 10px;}
.panel-blue .panel-heading{background-color:#5782ec;}
.panel-video .panel-footer{background-color:#fff; text-align:center; border:1px solid #eee;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;padding: 15px;}
.panel-video .panel-footer a{color:#6a57ec;font-size: 16px;}
.panel-video .panel-footer img {margin-left: 5px;}
.heading-small {font-size: 16px;margin-bottom: 5px;}
.heading-large {font-size: 20px;}
.video-detail {
  margin: 60px 0;
}
.icon-box {
  float: left;
  padding-right: 20px;
}
.video-heading {
  float: left;
  padding-top: 15px;
}
.panel-pink .panel-heading{background-color:#ee5086;}
.panel-sky .panel-heading{background-color:#00c1cf;}
.panel-green .panel-heading{background-color:#78b83e;}
.panel-orange .panel-heading{background-color:#ffc155;}
.lapi-img {left: 50px;position: absolute;top: 38px;}
.banner-bottom{background-repeat:no-repeat; background-size:cover; background-position: center center; height:300px;
border-radius: 10px;}
.sem-info{color:#fff;padding: 60px 0; text-align:center;}
.sem-info .heading-small,.sem-info .heading-large,.sem-info .laptop{margin-bottom:18px;}
.btn-white{background-color:#fff; border-color:#fff; border-radius:20px; color:#000;padding: 6px 55px;}
.section-bottom {
  border-top: 1px solid #ddd;
  box-shadow: 0 0 4px 0 #ddd;
  padding: 20px 0;
}
.media-content {float: left;padding-top: 30px;}
.media-video2 .media-body .btn-green{padding: 6px 40px;margin-left: 30px;margin-top: 40px;}

.nav-login { border-bottom: none; }
    .nav-login > li.active > a, .nav-login > li.active > a:focus, .nav-login > li.active > a:hover { border-width: 0; }
    .nav-login > li > a { border: none; color: #666; }
        .nav-login > li.active > a, .nav-login > li > a:hover { border: none; color: #00C1CF!important; background: transparent; }
        .nav-login > li > a::after { content: ""; background: #00C1CF; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
    .nav-login > li.active > a::after, .nav-login > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{padding:20px}
.section-video-desc{padding:20px 0;}
.section-video-desc .heading-blue{font-size:20px;}
.panel-desc{background-color: #fff;box-shadow: 0 0 11px 0 #e3e3e3;border-radius: 8px;border: medium none;padding: 8px;
min-height: 370px;margin: 0;}
.panel-desc .panel-heading{background-color: #fff; border:none; color:#00C1CF; font-size:16px;}
.title1{float:left;}
.type1{float:right;}
.video-info{margin-bottom:15px;}
.video-des{background-repeat:no-repeat; background-size:cover; background-position:center center; height:370px;border-radius: 8px;margin-top: 11%; position:relative;}
.video-des .play-icon-block {left: 40%;top: 45%;}
.video-des .play-icon-block img {width: 140px;}
.video-content{padding:20px;min-height: 240px;background-color: #fff;box-shadow: 0 0 11px 0 #e3e3e3;border-radius: 8px;}
.video-btn .btn {margin-bottom: 10px;width: 90%;}
.video-btn {min-height: 240px;padding: 40px 15px 0; text-align: center;background-color: #fff;box-shadow: 0 0 11px 0 #e3e3e3;border-radius: 8px;}
.video-btn .btn img {width: 24px;}
.section-analysis{padding:20px 0;}
.analysis-box{background-color: #fff;box-shadow: 0 0 11px 0 #e3e3e3;border-radius: 8px;border: medium none;padding:}
.student-info {
  border-right: 1px solid #ddd;
  text-align: center;
  padding:32px 0 0;
  min-height: 220px;
}
.student-info > img {
  width: 95px;
}
.point {
  font-size: 16px;
   font-family: 'Roboto-Bold';
}
.response {
  margin-top: 10px;
}
.student-details {
  padding: 50px 0 0;
  text-align: center;
}
.student-details .progress{height: 6px;margin: 10px auto;width: 60%;}
.student-details  .heading-black{margin: 0 0 10px; color:#777;font-family: 'Roboto-Regular';}
.student-details p{color:#777;margin: 0;}
.energy-number {
  font-size: 50px;
  color:#eb4e92;
  font-family: 'Roboto-Bold';
}
.student-details .progress .bg-red2 {
  background-color: #eb4e92;
}
.btn-green2{background-color:#21e2b4;}
.bg-voilet2{background-color:#ba00cf;}
.color-green{color:#21e2b4;}
.color-voilet{color:#ba00cf;}
.btn-retake{background-color:#fff; border-color:#00c1cf; border-radius:20px; color:#777;font-size: 16px;padding: 8px 38px;}
.btn-view{background-color:#00c1cf; border-color:#00c1cf; border-radius:20px; color:#fff;padding: 8px 15px;font-size: 15px;}
.color-blue{color:#00c1cf;}
.table-practice{background-color: #fff;box-shadow: 0 0 11px 0 #e3e3e3;border-radius: 8px;border: medium none;padding:}
.table-practice .progress{height:6px; margin-top:0;	}
.pro-red{background-color:#f05550;}
.table-practice .number1 {top: 25px;font-size: 16px;}
.table-practice .number2 {right: -5px;top: 25px;font-size: 16px;}
.sheetno , .chapterno{font-size: 16px;margin-top: 10px;}.accuracy {
  margin-bottom: 4px;
  text-align: left;
}
.table-practice tr:nth-child(2n+1) {
	background-color:#fff;
  
}
.table-practice tr td{ border:none !important;}
.table-analysis{background-color: #fff;box-shadow: 0 0 11px 0 #e3e3e3;border-radius: 8px;border: medium none;padding:}
.pro-blue{background-color:#00c1cf;}
.pro-green{background-color:#97de06;}
.pro-yellow{background-color:#f9de90;}
.view {position: absolute;right: 0;top: 4px;}
.col-analysis {position: relative;}
.section-analysis .heading-black{margin: 0 0 10px;}
.btn-test{background-color:#00C1CF; border-color:#00C1CF; color:#fff;padding: 9px 29px;}
.section-test{padding:20px 0;}
.question-no {
  border-bottom: 2px solid #00C1CF;
  margin-top: 40px;
}
.question-no span{font-weight:bold; margin-bottom:5px;}
.question {
  margin-top: 10%;
}
.q-option {
  margin-top: 15px;
  padding: 0 15px;
}
.other-option {
  color: hsl(0, 0%, 47%);
  list-style: outside none none;
  padding: 0 8px;
  margin-top:20px;
}
.other-option  li{margin-bottom:20px;}
.other-option span {
  border: 1px solid hsl(0, 0%, 47%);
  border-radius: 50%;
  display: inline-block;
  height: 20px;
  margin-right: 10px;
  padding-bottom: 0;
  padding-left: 0;
  padding-top: 0;
  text-align: center;
  width: 20px;
}
.btn-save{background-color:#fff; border-color:#00C1CF; color:#444; padding:6px 50px; border-radius:0;}
.btn-save:hover,.btn-save:focus,.btn-save:active{background-color:#00C1CF; border-color:#00C1CF; color:#fff;}
.btn-reveiw{background-color:#fff; border-color:#00C1CF; color:#444;padding:6px 30px; border-radius:0;}
.btn-reveiw:hover,.btn-reveiw:focus,.btn-reveiw:active{background-color:#00C1CF; border-color:#00C1CF; color:#fff;}
.btn-clear{background-color:#fff; border-color:#00C1CF; color:#444;padding:6px 30px; border-radius:0;}
.btn-clear:hover,.btn-clear:focus,.btn-clear:active{background-color:#00C1CF; border-color:#00C1CF; color:#fff;}
.left-side {
  padding: 0 0 0 35px;
  width: 900px;
}
.btn-group3.text-center {
  bottom: 0;
  box-shadow: 0 0 2px 0 hsl(0, 0%, 47%);
  left: 0;
  padding: 10px 0;
  position: fixed;
  width: 75%;
}
.btn-red{background-color:#d50000;  border-color:#d50000; color:#fff;height: 45px;
  padding: 10px 0;
  text-align: center;
  width: 45px;
  }
.btn-red:hover,.btn-red:focus,.btn-red:active{ color:#fff;}
.btn-number {
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 27%);
  height: 45px;
  padding: 10px 0;
  text-align: center;
  width: 45px;
}
.right-side{background-color:#eee;}
.btn-group4{text-align:center;}
.btn-group4 .btn {
  margin: 2px;
}
.right-side {
  background-color: hsl(0, 0%, 93%);
  height: 100%;
  padding: 20px 0;
  position: fixed;
  top: 66px;
  width: 360px;
  right:0;
}



.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}
.chk .checkbox .cr {
  background-color: #4caf50 ;
  border-radius: 0 !important;
  border-color:#4caf50 ;
}
.chk .checkbox2 .cr {
  background-color: #f44336 ;
  border-radius: 0 !important;
  border-color:#f44336 ;
}
.chk .checkbox3 .cr {
  background-color: #7b1fa2 ;
  border-radius: 0 !important;
  border-color:#7b1fa2 ;
}
.chk .checkbox4 .cr {
  background-color: #fff ;
  border-radius: 0 !important;
  border-color:#fff ;
}

.chk {
  text-align: center;
  list-style: outside none none;
  padding:0;
  margin-top:15px;
  
}
.chk > li {
  float: left;
  width: 130px;
}
.checkbox label{position:relative;}
.title2 {
  left: 40px;
  position: absolute;
  width: 110px;
}


.chk .checkbox .cr .cr-icon, .chk .radio .cr .cr-icon {
  color: #fff ;
}
.btn-group5 {
  padding: 0 40px;
  margin-top:15px;
}
.title2.mark-review {
  width: 203px;
}
.navbar-timer{color:#fff; margin:0;}
.nav.navbar.navbar-right.navbar-timer > li {padding: 20px;}
/** summary Analysis css  **/
.section-summray{padding:40px 0;}
.accuracy-box {
  background-color: hsl(184, 100%, 41%);
  border-radius: 50%;
  height: 150px;
  padding: 45px 0;
  text-align: center;
  width: 150px;
  color:#fff;
  margin: 0 auto;
}
.accuracy-no {
  font-size: 32px;
}
.accuracy-title {
  font-size: 20px;
}
.summary-box {
  border-left: 2px solid hsl(184, 100%, 41%);
  text-align: center;
  padding: 45px 0;
}
.summary-title {
  font-size: 20px;
}
.summary-no {
  font-size: 18px;
  margin-top: 10px;
}
.last-box{border-right: 2px solid hsl(184, 100%, 41%);}
.box-summary{padding:0;}
.summary-content {
  background-color: hsl(0, 0%, 100%);
  border-radius: 8px;
  box-shadow: 1px 10px 18px 0 hsl(0, 0%, 87%);
  padding:20px;
}
.summary-content .summary-title {
  font-size: 20px;
  text-align: left;
  margin-bottom: 10px;
}
.section-online{padding:40px 0;}
.dcs-box {
  background-color: hsl(0, 0%, 100%);
  border-radius: 8px;
  box-shadow: 1px 10px 18px 0 hsl(0, 0%, 87%);
  min-height: 180px;
  padding: 50px 0 0;
  text-align: center;
}
.point-friendship {
  font-size: 18px;
}
.question-title {
  font-size: 18px;
  margin-bottom:24px;
}
.question-total {
  font-size: 30px;
}
.box-question{padding: 0;}
.box-question .tab-content > .tab-pane {
padding: 30px 0;
  text-align: justify;
  
}
.edit-box > a {
  border-bottom: 1px solid hsl(0, 0%, 87%);
  display: block;
  font-size: 16px;
  padding: 28px;
  color:#00C1CF;
}
.edit-box > a:hover{background-color:#00C1CF; color:#fff;}
.edit-box {
  border-left: 1px solid hsl(0, 0%, 87%);
  box-shadow: 0 0 4px 0 hsl(0, 0%, 71%);
  height: 100%;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.box-question .tab-content {
  padding: 20px;
  position: relative;
}
.date {
  border: 1px solid hsl(0, 0%, 87%);
  font-size: 16px;
  padding: 28px;
  position: absolute;
  right: 91px;
  top: 0;
  box-shadow: 0 0 4px 0 hsl(0, 0%, 71%);
}
.question-img > img {
  width: 240px;
}
/** summary Analysis css end **/

.tab-dept {
    float: left;
    border: none;
    background-color: #f1f1f1;
    width: 30%;
    height: 600px;
}

/* Style the buttons inside the tab */
.tab-dept button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab-dept button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab-dept button.active {
    background-color: #ccc;
}
.tab-dept button.active {
  background-color: #00c1cf; color:#fff;
}
/* Style the tab content */
.analysis-box .tabcontent {
    float: left;
    padding: 0px 12px;
    border: none;
    width: 70%;
    border-left: none;
    height: 300px;
}
/* radio button */
.other-option a{color:#777;}
.other-option li a:hover,.other-option li a:focus,other-option li a:active{ color:#00C1CF;}


label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #00c1cf;
  border-radius: 50%;
}
/* radio button  css end*/

.section-dept{padding:40px 0;}
.analysis-box{
  background-color: hsl(0, 0%, 100%);
  border-radius: 8px;
  box-shadow: 1px 10px 18px 0 hsl(0, 0%, 87%);
  text-align: center;
  min-height:600px;
}
/* line 20, ../sass/pizza.scss */
[data-pie-id] li:nth-child(0) {
  color: blue;
}

/* line 20, ../sass/pizza.scss */
[data-pie-id] li:nth-child(1) {
  color: #4d00ff;
}

/* line 20, ../sass/pizza.scss */
[data-pie-id] li:nth-child(2) {
  color: #9900ff;
}

/* line 20, ../sass/pizza.scss */
[data-pie-id] li:nth-child(3) {
  color: #e500ff;
}

/* line 20, ../sass/pizza.scss */
[data-pie-id] li:nth-child(4) {
  color: #ff00cc;
}

/* line 20, ../sass/pizza.scss */
[data-pie-id] li:nth-child(5) {
  color: #ff0080;
}

/* line 20, ../sass/pizza.scss */
[data-pie-id] li:nth-child(6) {
  color: #ff0033;
}

/* line 26, ../sass/pizza.scss */
ul[data-pie-id] {
  list-style: none;
  padding: 10px;
}


[data-pie-id='my-cool-chart'] li:nth-child(0) {
  color: #d84200;
}

/* line 20, ../sass/pizza.scss */
[data-pie-id='my-cool-chart'] li:nth-child(1) {
  color: #fc4d00;
}

/* line 20, ../sass/pizza.scss */
[data-pie-id='my-cool-chart'] li:nth-child(2) {
  color: #ff6420;
}

/* line 20, ../sass/pizza.scss */
[data-pie-id='my-cool-chart'] li:nth-child(3) {
  color: #ff7d44;
}

/* line 20, ../sass/pizza.scss */
[data-pie-id='my-cool-chart'] li:nth-child(4) {
  color: #ff9668;
}

/* line 20, ../sass/pizza.scss */
[data-pie-id='my-cool-chart'] li:nth-child(5) {
  color: #ffaf8b;
}

/* line 20, ../sass/pizza.scss */
[data-pie-id='my-cool-chart'] li:nth-child(6) {
  color: #ffc8af;
}
.box-right span{padding:0 10px; color: #000;}
.box-right a{padding:0 10px; color: #fff;}
.tab-info{margin-bottom: 30px; }

/** body end **/


/** footer start **/

.footer-main{font-size: 13px;color: #b8b8b8;background-color: #464646;min-height: 200px;}
.footer small{font-size: 12px;}
.footer-top {padding: 80px 0 60px;background-color: #464646;}
.logo-footer {margin: 0 0 12px;}
.logo-footer img{max-width: 100px;}
.footer-bottom {background-color: #000;padding: 20px 0;color: #fff;}
.footer-bottom .container{border-top: 1px solid #444;padding-top: 20px;}
.footer-bottom .img-icon {margin-right: 10px;position: relative;top: -5px;width: 20px;}
.footer-bottom a {color: #b8b8b8;}
.footer-bottom .foo-cities{font-size: 12px;margin-bottom: 15px;}
.foo-mail a{color: #b8b8b8;outline: none;}

.list-style1 .list-group-item { border: medium none; font-size: 12px;padding: 3px 0 3px 15px;background: transparent;position: relative;}
.list-style1 .list-group-item > a {color: #222222;display: block;}
.list-style1 .list-group-item > a:hover {color: #6dcff6;}
.list-style1 .list-group-item::after {color: #6dcff6;content: "\f101";font-family: "FontAwesome";font-size: 13px;position: absolute;left: 0px;top: 2px;}

.list-style2 .list-group-item { border: medium none; font-size: 14px;padding: 3px 0 3px 20px;background: transparent;position: relative;text-align: left;}
.list-style2 .list-group-item > a {color: #fff;display: block;}
.list-style2 .list-group-item > a:hover {color: #0D4C8F;}
.list-style2 .list-group-item::after {color: #fff;content: "\f101";font-family: "FontAwesome";font-size: 14px;position: absolute;left: 0px;top: 2px;}


.footer-top .list-style1 .list-group-item > a {color: #b8b8b8;}
.list-style1 .list-group-item > a:hover {color: #6dcff6;}

.list-inline-block{border-top: 1px solid #565656;padding-top: 12px;}
.list-inline-block .list-group-item{display: inline-block;margin-right: 8px;}
.foo-about{line-height: 22px;min-height: 100px;overflow-x: hidden;overflow-y: auto;}
.foo-heading-about{font-family: 'opensansSB';margin: 0 0 10px 0;font-size: 18px;}
.foo-heading{font-family: 'opensansSB';margin: 0 0 10px 0;font-size: 14px;}



/** footer end **/


/*## scroll_top css ##*/
.scroll_top {background: #6dcff6;bottom: 32px; display: none; font-size: 0; height: 34px;position: fixed; right: 10px; width: 34px; z-index: 9999;text-decoration: none;border-radius: 30px;}
.scroll_top:hover {background: #ef3f54 none repeat scroll 0 0;}
.scroll_top::before {color: #ffffff; content: "^"; display: block;font-family: "FontAwesome";font-size: 25px;height: 34px;line-height: 40px;text-align: center; width: 34px;}
/** scroll_top end **/


/*## owl css ##*/
.owl-theme .owl-controls {margin-top: 0;}

#motivational-owl .owl-controls .owl-buttons div {opacity: 0.7;box-shadow: none;background-color: rgba(255, 255, 255, 1);color: #000;font-size: 22px;padding: 0 12px;-webkit-transition: all 0.4s ease-in-out 0s;-moz-transition: all 0.4s ease-in-out 0s; -o-transition: all 0.4s ease-in-out 0s; transition: all 0.4s ease-in-out 0s;}
#motivational-owl .owl-prev {position: absolute;left: -200px;top: 28%;}
#motivational-owl .owl-next {position: absolute;right: -200px;top: 28%;}
#motivational-owl .item {padding: 0 4px;}
#motivational-owl:hover .owl-prev{left: 15px;}
#motivational-owl:hover .owl-next{right: 15px;}


/*## owl end ##*/

/** common css **/

.p-0{padding: 0 !important;}
.pb-0{padding-bottom: 0 !important;}
.pt-0{padding-top: 0 !important;}
.pl-0{padding-left: 0 !important;}
.pr-0{padding-right: 0 !important;}

.m-0{margin: 0 !important;}
.mb-0{margin-bottom: 0 !important;}
.mt-0{margin-top: 0 !important;}
.ml-0{margin-left: 0 !important;}
.mr-0{margin-right: 0 !important;}

.mt-82{margin-top: -82px !important;}
.mt-min110{margin-top: -110px !important;}
.mt-15{margin-top: 15px !important;}
.mt-20{margin-top: 20px !important;}
.mt-30{margin-top: 30px !important;}
.mt-80{margin-top: 80px !important;}
.mt-100{margin-top: 100px !important;}
.mb-40{margin-bottom: 40px !important;}
.mb-60{margin-bottom: 60px !important;}

.ml-100{margin-left: 100px !important;}

.b-none{border: none !important;}
.bl-none{border-left: none !important;}
.br-none{border-right: none !important;}

a:focus, a:hover {color: #fdcb49; text-decoration: underline;}

.space-20{padding: 20px 0;}

.box-shadow1{box-shadow: 4px 6px 15px -6px #000;}

.label-pink{background-color: #fdcb49;border-radius: 0; padding: 7px; font-size: 14px;}

.color-pink{color:#fdcb49;}
.color-red{color:#ff5569;}

.btn-danger{background-color: #ff5569;border-color: #ff5569;color: #fff;}

.btn-pink {background-color: #ff5569; border-color: #ff5569; color: #fff;}
.btn-black {background-color: #000; border-color: #000; color: #fff;padding-left: 40px;padding-right: 40px;}
.btn-bodered{background-color: transparent;color: #000000;border: 2px solid #000000;}
.btn-bodered i.fa{color:#fdcb49;;}
.btn-bodered-white{background-color: transparent;color: #fff;border: 2px solid #fff;border-radius: 0;}
.btn-bodered-white i.fa{color:#fff;;}
.btn-black-round{background-color: #161616;color: #fff;border: 2px solid #161616;border-radius: 30px;padding: 10px 50px;}
.btn-black-round i.fa{color:#fff;;}

.heading-white{color: #fff;margin: 0 0 20px 0;font-family: 'Roboto-Bold';}
.heading-white a{color: #fff;}
.heading-black{color: #222;margin: 0 0 20px 0;font-family: 'Roboto-Bold';}
.heading-black a{color: #222;}
.heading-blue{color: #07b7cd;margin: 0 0 20px 0;font-family: 'Roboto-Regular';}
.heading-blue a{color: #07b7cd;}
.heading-orange{color: #F07420;margin: 0 0 30px 0;font-family: 'Roboto-Bold';}
.heading-orange a{color: #07b7cd;}
.heading-pink{color: #fdcb49;margin: 0 0 30px 0;font-family: 'Roboto-Bold';}
.heading-pink a{color: #fdcb49;}

.section-hr{background-color: #000;}
.section-hr hr{border: none;border-bottom: 1px solid #515151 !important;margin: 0;}

/** common end **/



/** media css **/

@media (min-width: 992px){

}
@media (max-width: 1200px){
.main-menu .navbar-nav > li > a {padding: 18px 7px !important;}
.main-container {width: 100%;}
.login-bg{width: 863px;}
.login-bg {bottom: 0;height: 800px;position: relative;top: 0; width: auto;}
.col-right {position: relative;width: auto;}
.section-login .col-md-8,.section-login .col-md-4{padding:0;}

}
@media (max-width: 992px){.main-menu .navbar-nav > li > a {font-size: 11px;padding: 18px 4px !important;}
.user-info {margin-top: 13px;}
.user-info img {width: 30px;}
.logo{padding: 10px 65px;}

.progress-result {margin-left: 15px;}
.panel-login .panel-footer {left: 0;right: 0;width: 100%;}
.form-box {margin-top: 0;}
.panel-login .panel-heading{padding: 10px 40px;}
.icon-box{float:none;min-height: 50px;text-align: center;}
.video-heading{float:none;text-align: center;}
.panel-desc{min-height:auto;}
.video-des{margin-top: 20px;}
.video-content{min-height: auto; margin-bottom:20px;}

}

@media (min-width: 768px){
    .dropdown-menu::after {border-color: #ffffff rgba(0, 0, 0, 0);border-style: solid; border-width: 0 10px 14px;content: ""; display: block;right: 20px;position: absolute;top: -11px;width: 0;}

}

@media (max-width: 768px){
    .navbar-main .navbar-nav .open .dropdown-menu > li > a {color: #fff;}
    .navbar-main .dropdown-menu > li > a:focus, .navbar-main .dropdown-menu > li > a:hover {color: #fdcb49;}
    .navbar-main .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-main .navbar-nav .open .dropdown-menu > li > a:hover {background-color: rgba(256,256,256,1);color: #fdcb49;}
    .navbar-main .logo{padding-left: 15px;}
    .header-top-nav .dropdown-menu > li > a {color: #fff;}
    .header-top-nav .dropdown-menu > li > a:focus, .header-top-nav .dropdown-menu > li > a:hover {color: #fdcb49;}
    .media-cart .media-body .media-heading, .media-cart .media-body .media-heading a {color: #fff;}

    /*new css*/
    .img-block {text-align: center;}
	.main-menu .navbar-nav > li > a {padding: 18px 20px;}
	.login-bg{height:400px;}
	.btn-group2 .btn{margin-bottom:10px;}
	.video-info{margin-bottom:20px;}
	.video-detail {margin: 60px 0 20px;}
}

@media (max-width: 480px){
.play-icon-block {left: 16%;top: 20%;}
.media-video .pull-left{width: 105px;}
.media-video .media-object{width: 105px;}
.btn-green{padding: 5px 20px;}
.media-user .media-heading{font-size: 15px;}
.media-user .media-body > span {font-size: 12px;}
.media-video .media-heading{font-size: 15px;}
.media.media-user .media-object {width: 80px;}
.award-progress > img {top: -45px;width: 40px;}
.progress-result .progress {width: 75%;}
.award-progress{width: 18%;}
.login-bg {height: 250px;}
.panel-login .panel-body {padding: 80px 52px;}
.banner-content .heading-white {font-size: 22px;}
.banner-content p {font-size: 14px;}
.media-topic .media-body {padding-top: 0;}
.media-content {float: none;padding-top: 0;}
.media-video2 .media-body .btn-green {margin-left: 0;margin-top: 0;}
}

@media (max-width: 360px){

}

@media (max-width: 320px){

}

/** media end **/





