
/** main css **/
body{font-family: "Lato", Helvetica, Arial, sans-serif;
}

}
a:focus, a:hover {
  outline: none !important;
}

/*common css*/
.p-0{padding: 0 !important;}
.pb-0{padding-bottom: 0 !important;}
.pt-0{padding-top: 0 !important;}
.pl-0{padding-left: 0 !important;}
.pr-0{padding-right: 0 !important;}

.m-0{margin: 0 !important;}
.mb-0{margin-bottom: 0 !important;}
.mt-0{margin-top: 0 !important;}
.ml-0{margin-left: 0 !important;}
.mr-0{margin-right: 0 !important;}

.ml-20{margin-left: 20px !important;}

/*## scroll_top css ##*/
.scroll_top {background: #6f51c7;bottom: 60px; display: none; font-size: 0; height: 34px;position: fixed; float:right; right: 20px; width: 34px; z-index: 9999;text-decoration: none;border-radius: 30px;}
.scroll_top:hover {background: #0056b5 none repeat scroll 0 0;}
.scroll_top::before {color: #ffffff;  content: "^"; display: block;font-family: "FontAwesome";font-size: 25px;height: 34px;line-height: 40px;text-align: center; width: 34px;}
/** scroll_top end **/

/** header css **/
.logo{height: auto;margin: 0 !important;padding: 10px 0px;}
.logo img{width: auto;height: 45px;}
.main-menu{margin: 0; padding: 0;background: transparent;border: none;position: absolute;right: 0;left: 0;top: 0;z-index: 10000;}
.main-menu.outter-hedder .navbar-collapse .collapse .in{background-color: #000;}
.header2-menu {background: #fff none repeat scroll 0 0 !important;position: relative;top: 0;}
.main-menu .navbar-collapse{background-color: transparent;overflow-y: visible;}
.navbar-fixed-top{position: fixed !important;background-color: #fff;top: 0 !important;/*box-shadow: 0 2px 12px 0px #fff;*/}
.main-menu .navbar-nav > li > a {font-size: 16px;padding: 14px 17px;outline: none;color: #000;}
.main-menu .navbar-nav > .active > a, .main-menu .navbar-nav > .active > a:focus, .main-menu .navbar-nav > .active > a:hover {background-color: transparent !important;color: #6f51c7 !important;}
.main-menu .navbar-nav > .open > a, .main-menu .navbar-nav > .open > a:focus, .main-menu .navbar-nav > .open > a:hover {background-color: transparent  !important;color:#6f51c7 !important;}
.main-menu .navbar-nav > li > a:focus, .main-menu .navbar-nav > li > a:hover,.main-menu .navbar-nav > li > a:active {background-color: transparent  !important;color: #6f51c7  !important;}
.main-menu .dropdown-menu {border-radius: 0 !important;min-width: 200px;}
.main-menu .dropdown-menu > li > a {padding-bottom: 7px;padding-top: 7px;}
.main-menu .dropdown-menu > li > a:focus, .main-menu .dropdown-menu > li > a:hover {background-color: #d1c4e9;color: #ffffff;}
.main-menu .dropdown-menu > .active > a, .main-menu .dropdown-menu > .active > a:focus, .main-menu .dropdown-menu > .active > a:hover {
background-color: transparent;color: #00e7db;}
.new-biz-dropdown .dropdown-content {display: none;position: absolute;background-color: #f9f9f9;min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);z-index: 1;list-style: none;width: 240px;margin-left: 18px;}
.new-biz-dropdown .dropdown-content a {color: black;padding: 5px 16px;text-decoration: none;display: block;font-size: 16px;}
.new-biz-dropdown .dropdown-content a:hover {background-color: #d1c4e9; color: #fff;}
.new-biz-dropdown.dropdown:hover .dropdown-content {display: block;padding: 0;}
.new-biz-dropdown .dropdown:hover .dropbtn {background-color: #3e8e41;}
.menu3 > li > a{color:#222; border-right: 1px solid #ddd;}
.btn-primary{ outline: none !important;}
.logo img {height: 45px !important;padding-top: 11px;}
.menu-main {padding: 10px 0;}

/*courses section*/
.courses-section{background-image: -webkit-linear-gradient(left, #6f51c7 0%, #44b8e7 100%);}
.courses-section img{height: 50px;margin: 12px 0;}
.courses-section h4{font-weight: 600;color: #fff;margin-top: 20px;margin-bottom: 3px;}
.courses-section p{font-size: 16px;color: #fff;margin-bottom: 20px;}
/*e-book section*/
.ebook-section{margin: 40px 0;}
.ebook-section .blog-search{margin:0 0 30px;}
.ebook-section .blog-search .btn-default {padding: 6px 12px; margin: 0; }
.ebook-section .e-book-content{margin-left: 50px;}
.ebook-section h3{margin-top: 12px;color: #0056b5;text-align: center;}
.ebook-section p{font-size: 16px;text-align: center;margin-top: 37px;}
.ebook-section img{border-radius: 15px;}
.ebook-section .btn-default{padding: 10px 50px;margin: 37px 0 0 0;}
.ebook-section .video-block{margin-top: 15px;background-image: url(../images/other/e-book.jpg);background-size: cover;background-repeat: no-repeat;background-position: center center;border-radius: 15px;}
.ebook-section .video-block   .modal-content{margin-top: 120px;background-color: transparent;}
.ebook-section .video-block   .modal-content .modal-body{padding: 0 !important;position: relative;}
.ebook-section .video-block   .modal-content .close{opacity: 1;padding-bottom: 12px;position: absolute;right: -30px;top: -20px;}
.ebook-section .video-block .content{padding: 160px 15px 5px;text-align: center;}
.ebook-section .video-block .content h5{font-weight: 600;font-size: 18px;color: #fff;text-align: center;margin-top: 110px;  }
.checked {color: orange;}
.ebook-section .Download-modal   .modal-content{margin-top: 120px;position: relative;}
.ebook-section .Download-modal   .modal-content .modal-header{padding: 0;border: none;}
.ebook-section .Download-modal   .modal-content .modal-header p{padding: 3px !important;margin: 0;font-size: 14px;}
.progress {height: 14px;border-radius: 10px;width: 75%;margin: 20px auto;}
.progress-bar {background-color: hsl(113, 40%, 49%);}
.form-header {color: #0056b5;font-size: 33px;}
.form-desc {color: #5e5e5e;font-size: 19px;margin-bottom: 0px;margin-top: 18px;text-align: center;}
.ebook-section .Download-modal   .modal-content .modal-body p{margin-top: 10px;}
.ebook-section .Download-modal   .modal-content .modal-body .close1{float: none;font-size: 10px;font-weight: normal;opacity: 1;color: #777;margin-left: 35px;}
.ebook-section .Download-modal   .modal-content .modal-body .form-control {border-radius: 0;font-size: 14px;height: 45px;}
.ebook-section .Download-modal   .modal-content .modal-body{padding: 15px !important;}
.ebook-section .Download-modal   .modal-content .close{opacity: 1;padding-bottom: 12px;position: absolute;top: 8px;right: 8px;}
/*section changllenge*/
.section-changllenge{background-color: #0056b5; padding:20px 0;}
.changllenge-content{text-align:center; color:#fff;}
.changllenge-content .modal-dialog{color: #000;}
.changllenge-content .modal-dialog .modal-header{border-bottom: none;}
.changllenge-content .modal-dialog .modal-body{margin: 30px;}
.changllenge-content .modal-dialog .modal-body .modal-title{font-size: 28px;margin-bottom: 30px;}
.changllenge-content .modal-dialog .modal-body .form-control{height: 45px;margin: 0;}
.changllenge-content .modal-dialog .modal-body .btn-default{padding: 12px 60px;border: 1px solid #6f51c7;background-color: #fff;font-size: 16px;color:  #6f51c7;margin-top: 12px;margin-bottom: 30px;}
.changllenge-content .modal-dialog .modal-footer{border: none;}
.changllenge-content > p {margin: 0 0 20px;}
.changllenge-content .heading-white{margin: 0 0 10px;}
.btn-orange{background-color:#fff; border-color:#fff;font-size: 18px;  color:#0056b5;padding: 12px 80px;outline: none !important;}
.btn-orange:hover,.btn-orange:focus,.btn-orange:active{background-color: #fff;border-color: #fff;color: black;outline: none;}
.btn-default,.btn-default:hover,.btn-default:focus,.btn-default:active{outline: none;}
.button-advice {margin: 0 auto;position: relative;width: 450px;}
.left-arrow {left: -28px;position: absolute;top: -22px;}
.right-arrow {position: absolute;right: -24px;top: -22px;}
.section-investment {padding: 40px 0;background-color: white;overflow: hidden !important;}

.investment-deatils {text-align: center;margin: 15px;background: #eeeeee;border-radius: 10px;border: 1px solid #eeeeee;padding: 15px;}
.service > img {height: 60px;width: auto;margin-bottom: 0;}
.heading-black-small { font-weight: 600;color: #0056b5;text-transform: uppercase;}
.investment-info {font-size: 16px;}
.investment-info p{margin-bottom: 0;}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active { background-color: #6f51c7;border-color: #6f51c7;border-radius: 5px;color: #fff;outline: none;}
.btn-primary {background-color: #fff;border: 1px solid #6f51c7;border-radius: 5px;color: #6f51c7;padding: 4px 40px;
margin: 20px 0;font-family: "Lato", Helvetica, Arial, sans-serif;margin-top: 14px;outline: none;font-size: 16px;}
.navbar-collapse {padding-right: 0;padding-left: 0;}
/*banner new section*/
.banner-img img{width: auto;height:100%; }
/*slider section*/
#owl-main .item {display: block;width: 100%;height: 505px;overflow: hidden !important;}
#owl-main .item .carousel-caption h1{font-size: 50px;}
#owl-main .item img{display: block;width: 100%;max-height: 800px;min-height: 505px;}
#owl-main .owl-pagination {bottom: 20px;left: 48%;margin: 0 auto;position: absolute; text-align: center;}
.section-slider .carousel-caption{top: 130px;}
.section-slider .carousel-caption .btn-default{padding: 10px 70px;background-color: #6f51c7;color: #fff;}
.section-slider .carousel-caption .h3{}

.section-subscribe {background-image: -webkit-linear-gradient(left, #6f51c7 0%, #44b8e7 100%);}
.section-subscribe h4{margin-top: 30px;color: #fff;font-size: 22px;}
.section-subscribe .subscribe-program .btn-default{padding: 12px 40px;margin: 30px 0;width: 100%;}
/*about mentor section*/

.about-team-section {background-color: #fff;margin: 50px 0;}
.about-team-section .heading-black-index{margin-bottom: 15px;margin-top: 25px;}
.about-team-section .small-heading{margin-top: 5px;font-weight: 600;color: #0056b5;}
.about-team-section .btn-default{margin-top: 0;}
.team-img{margin-top: 15px;}
.team-img > img {height: auto;width: 100%;}
.heading-black-index {text-transform: uppercase;font-family: "Lato", Helvetica, Arial, sans-serif;margin-bottom: 40px;}
.member-name {color: #898989;font-size: 18px;margin-bottom: 25px;font-family: "Lato", Helvetica, Arial, sans-serif;text-align: justify;}

/*blog section*/
.blogs{}
.blogs .headline-section {margin: 10px auto 40px auto;text-transform: uppercase;}
.blog-block .panel-default{margin-top: 15px;}
.blog-block .panel-default .panel-heading{padding: 0;height: 160px;}
.blog-block .panel-default .panel-body{padding: 20px 10px 0 10px;min-height: 115px;}
.blog-block .panel-default .panel-body .title{color: gray;font-size: 17px;line-height: 22px;}
.blog-block .panel-default .panel-body .lacture{font-size: 12px;}
.blog-block .panel-default .panel-body .price{font-size: 18px;font-weight: 600;}
#owl-courses .owl-controls .owl-buttons .owl-prev {position: absolute;left: -40px;border-radius: 0;color: #292a2f;background-color: transparent;font-weight: bold;font-size: 40px;padding: 0;margin: 0;top: 40%;}
#owl-courses .owl-controls .owl-buttons .owl-prev {color: #292a2f;font-weight: bold;font-size: 40px;}
#owl-courses .owl-controls .owl-buttons .owl-next {position: absolute;right: -40px;border-radius: 0;color: #292a2f;background-color: transparent;font-weight: bold;font-size: 40px;padding: 0;margin: 0;top: 40%;}
#owl-courses .owl-controls .owl-buttons .owl-next {color: #292a2f;font-weight: bold;font-size: 40px;}
#owl-courses1 .owl-controls .owl-buttons .owl-prev {position: absolute;left: -40px;border-radius: 0;color: #292a2f;background-color: transparent;font-weight: bold;font-size: 40px;padding: 0;margin: 0;top: 40%;}
#owl-courses1 .owl-controls .owl-buttons .owl-prev {color: #292a2f;font-weight: bold;font-size: 40px;}
#owl-courses1 .owl-controls .owl-buttons .owl-next {position: absolute;right: -40px;border-radius: 0;color: #292a2f;background-color: transparent;font-weight: bold;font-size: 40px;padding: 0;margin: 0;top: 40%;}
#owl-courses1 .owl-controls .owl-buttons .owl-next {color: #292a2f;font-weight: bold;font-size: 40px;}

/*new section*/

.services-block {text-align: center;overflow: hidden;position: relative;margin: 15px 0;border-radius: 5px;}
.services-img1 {max-width: 100%;position: relative;}
.services-content-overlay {font-weight: normal;font-size: 16px;background-color: rgba(0, 0, 0, 0.7);padding: 90px 15px 10px;bottom: 0px;color: #ffffff;font-weight: 600;left: 0;position: absolute;right: 0;height: 100%;}
/*testimonial section*/
.testimonial{margin-top: 25px;}
.testimonial .btn-default{padding:  10px 60px;font-size: 18px;background-image: -webkit-linear-gradient(bottom, #6f51c7 0%, #44b8e7 100%); color: #fff;}
.testimonial .headline-section {margin: 40px auto 40px auto;text-transform: uppercase;}
.testimonial .media h3{line-height: 22px;font-weight: 600;margin: 0;}
.testimonial .media p{color: #898989;font-size: 16px;margin-top: 15px;margin-bottom: 15px;margin-right: 60px;}
.testimonial .media .media-left  .media-object{border-radius: 50%;}
.testimonial .media .media-body .media-heading{font-size: 18px;line-height: 22px;font-weight: 600;margin-top: 8px;}
.testimonial .media .media-body p{color: #898989;font-size: 16px;margin-bottom: 15px;margin-top: 0;}
.quote-minimal-icon {display: inline-block;width: 48px;height: 48px;line-height: 48px;text-align: center;background-image: -webkit-linear-gradient(top, #6f51c7 0%, #44b8e7 100%);position: relative;-webkit-transition: .3s ease-in all;-o-transition: .3s ease-in all;transition: .3s ease-in all;}
.quote-minimal-icon:hover .quote-minimal-icon{-webkit-transform: scale(-1, 1);-ms-transform: scale(-1, 1);transform: scale(-1, 1);-webkit-transition: .3s ease-out all;-o-transition: .3s ease-out all;transition: .3s ease-out all;}
.testi-new:hover .quote-minimal-icon{-webkit-transform: scale(-1, 1);-ms-transform: scale(-1, 1);transform: scale(-1, 1);-webkit-transition: .3s ease-out all;-o-transition: .3s ease-out all;transition: .3s ease-out all;}
/*newslettr section*/

.section-blue {    background-image: -webkit-linear-gradient(left, #6f51c7 0%, #44b8e7 100%);
padding: 20px 0;}
.newsletter {color: #fff;font-size: 18px;}
.input-field-email {width: 248px !important;border-radius: 5px !important;}
.section-blue .form-control {border-radius: 0;font-size: 14px;height: 45px;}
.submit-input-field {background-color: #fff;border-color: #fff;color: #0056b5;font-weight: 600;padding: 2px 24px;margin: 0 0;border-radius: 5px !important;font-size: 16px;}
.submit-input-field:hover, .submit-input-field:focus, .submit-input-field:active {background-color: #fff;border: 2px solid #6f51c7;color: #6f51c7;border-radius: 5px;}

/*footer section*/

.footer {color: #222;}
.footer-top {padding: 30px 0;background-color: #000;}
.about-info {color: #fff;}
.heading1 {border-bottom: 5px solid #0056b5;color: #aaa;font-size: 16px;padding-bottom: 5px;width: 120px;}
.heading-white {color: #fff;margin: 0 0 20px 0;font-weight: 700;}
.more_links {padding-left: 0px;}
.more_links li {background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border: medium none;line-height: 15px;padding-left: 0;}
.list-group-item > a {color: #fff;}
.more_links li {line-height: 3px;}
.contact-info {color: #fff;}
.foo-socail a {color: #fff;border-radius: 50%;margin: 0 3px;}
.btn-sm {background: #0056b5;border-radius: 25px;}
.footer-logo img {width: 200px;text-align: center;}
.glt-box {color: #fff;margin:0;text-align: center;}
.glt-box > img {width: 20px;margin-right: 10px;}


/*about us page css*/
.section-breadcrumb{background-position: center;background-repeat: no-repeat;background-size: cover;}
.parallax-overlay {background-color: rgba(0, 0, 0, 0.6);padding: 40px 0;}
.section-breadcrumb .heading-black {margin: 0 10px 20px;}
.heading-black {color: white;margin: 0 0 20px 0;}
.navigate-breadcrumb .breadcrumb {background: none;margin-bottom: 0;}
.breadcrumb > li a {color: #fff;}
.section-inner {overflow: hidden;padding: 40px 0;position: relative;transition: opacity 0.2s linear 0s;background-color: #fff;}
.title-box {border-bottom-width: 0;margin-bottom: 40px;position: relative;}
.title-box h1.title {font-size: 28px;text-transform: none;text-transform: uppercase;}
.title-box .title {font-size: 22px;font-weight: 700;margin: 0 0 12px;}
.about-pic img {max-width: 100%;height: auto;}
.title-box .subtitle {font-size: 22px;font-weight: 700;margin: 0 0 12px;}
.title-box p {font-size: 18px;text-align: justify;}
a {outline: none !important;}
a:hover{text-decoration: none !important;}
.achievement-section{background-color: #0056b5;padding: 20px 0;}
.achievement-section h2{font-weight: 600;}.achievement-section  .achievement-block ul{padding: 0;}
.achievement-section  .achievement-block ul li{list-style: none;line-height: 35px;color: #fff;font-size: 16px;}
.section-tab {padding: 60px 0;}
.slider-tab-heading {position: relative;padding: 0 0 30px;}
.slider-tab-heading h2 {font-weight: 600;}
.slider-tab {padding: 5px 0;}
.slider-tab .nav-sidebar ul li.active a {color: #0056b5 !important;font-weight: 700;background-color: #E1E1E1;}
.slider-tab nav ul li {border: 2px solid #eee;margin: 2px;}
.slider-tab .nav-sidebar ul li a {font-size: 18px;padding: 12px 12px;color: #000 ;}
.slider-tab-block {height: 240px;}
.slide-tab-subheading h3 {font-size: 24px;font-weight: 600;margin: 0 0 10px 0;color: #0056b5;}
.slide-tab-subheading p {text-align: justify;line-height: 28px;font-size: 16px;padding-bottom: 10px;}
.title-box .subtitle{font-size: 22px;font-weight: 700;margin: 0 0 12px;}
.title-box p{font-size: 18px;text-align: justify;}

/*excellence-gurukul css*/

.all-program-section{margin: 30px 0;}
.full-select-section{margin: 20px 0;}
.all-program-section .full-select-section .input-group{margin-bottom: 15px;}
.all-program-section .full-select-section .input-group .input-group-btn .btn.btn-default {background-color: #6f51c7;border-color: #6f51c7;color: #fff;}
.all-program-section .list-heading{background-color: #f2f2f2;border-radius: 0;display: block;padding: 12px 15px;font-weight: 600;}
.all-program-section .list-heading .program-checks{padding: 12px 0;}
.all-program-section .list-heading .program-checks .checkbox{padding-top: 6px;}
.all-program-section .list-heading .program-checks .checkbox input{outline: none;}
.all-program-section .list-heading .program-checks label{font-size: 18px;}
.full-select-section .heading-select{font-size: 14px;font-weight: 600;}
.select-program-block{background: rgba(44,47,60,0.87);border-radius: 600px;height: 26px;min-width: 40px;margin-right: 10px;display: inline-block;padding: 1px 0;margin-top: 5px;}
.select-program-block .select-text {font-size: 14px;color: #fff;padding-right: 6px;padding-left: 14px;line-height: 26px;float: left;}
.select-program-block .select-cross {background: #333;border-radius: 600px;width: 22px;height: 22px;margin-right: 6px;cursor: pointer;float: right;}
.select-program-block .select-cross .select-close-x {color: rgba(255,255,255,0.58);font-size: 19px;line-height: 17px;font-weight: lighter;margin-top: 2px;text-align: center;vertical-align: middle;}
.filter-btn {background-color: #f3f3f3;height: 36px;width: 60px;border: 1px solid rgba(179,179,179,0.5);border-radius: 600px;outline: none;float: right;}
.cross-check{background: rebeccapurple;padding: 12px 30px;}
.all-program-section .content-block{padding: 15px;margin-bottom: 20px;}
.all-program-section .content-block h3{margin-top:0;}
.all-program-section .content-block .btn-default{padding: 4px 20px;color: #6f51c7;background:#fff;border: 1px solid #6f51c7;font-size: 16px;}
.all-program-section .content-block .btn-default:hover{color: #fff;background:#6f51c7;}
.all-program-section .content-block span{font-size: 16px;color: #b3b3b3;}
.all-program-section .content-block p{font-size: 16px;color: gray;margin-top: 6px;}
.modal-checks{margin: 0 40px;}
.show-more-link{margin: 0 50px;border-top: 2px solid gray;position: relative;padding-top: 12px;}
.show-more-link a {text-decoration: none;font-size: 16px;}
.show-more-link a i{position: absolute;right: 0;top: 12px;}
.language-popup .modal-dialog{margin: 300px auto !important;}
.language-popup .modal-content .modal-header{border:none;margin: 0 0 0 40px;}
.language-popup .modal-content .modal-body{padding-bottom: 0;}
.language-popup .modal-content .modal-footer{border: none;padding-top: 0;}
.language-popup .modal-content .modal-footer .btn-default{padding: 12px 20px;color: #fff;background:#6f51c7;border: none;font-size: 18px;}
.main_content .pagination li a.btn-default{border:1px solid gray;}
.main_content .pagination li a{color: #000;font-size: 16px;border:none;margin-right: 5px;}
.main_content .pagination li a:hover, .main_content .pagination li a:focus, .main_content .pagination li a:active, .main_content .pagination li a.active{background:#6f51c7;color: #fff;}
.program-innr-overlay{padding: 96px 0;}
.program-section{margin: 0px 0;}
.program-section .program-heading h2{font-weight: 600;margin-bottom: 15px;}
.program-section .program-content p{text-align: justify;font-size: 16px;line-height: 26px;}
.program-section .btn-default{padding: 4px 5px;color: #6f51c7;background:#fff;border: 1px solid #6f51c7;font-size: 16px;width: 100%;margin:10px 0;}
.program-section .btn-default:hover{color: #fff;background:#6f51c7;}
.program-section .program-content ul{padding: 0;}
.program-section .program-content ul li{list-style: none;font-size: 16px;line-height: 28px;}
.program-section .program-content ul li h4{font-size: 20px;font-weight: 600;}
.program-section .program-content ul li p{font-size: 16px;}
.program-section2{margin: 60px 0;}
.program-section2 .panel-default .panel-heading{font-size: 24px;background-image: -webkit-linear-gradient(top, #6f51c7 0%, #44b8e7 100%);color: #fff;font-weight: 600;height: 100px;padding-top: 37px;padding-left: 20px;}
.program-section2 .panel-default .panel-body{height: 320px;}
.program-section2 .panel-default .panel-body ul{padding: 0;}
.program-section2 .panel-default .panel-body ul li{list-style: none;text-align: justify;font-size: 16px;position: relative;padding-left: 30px; padding-bottom: 12px;}
.program-section2 .panel-default .panel-body ul li::before{content: "";background-image: url(../images/icons/tick.png);height: 16px;width: 16px;display: block;position: absolute;left: 0;top: 5px;}
.program-btn{padding: 30px;background-color: #0056b5;}
.program-btn .program-btn-block{text-align: center;}
.program-btn .program-btn-block .btn-default{width: 238px;margin:10px 22px;padding: 12px 0;color: #0056b5;background: #fff;border: none;font-size: 18px;}
.program-fact{background-color: #0056b5;}
.program-fact .program-heading h2{font-weight: 600;margin-bottom: 15px;color: #fff;margin-top: 30px;}
.program-fact .program-content ul{padding: 0;margin:0 0 40px;}
.program-fact .program-content ul li{list-style: none;color: #fff;font-size: 18px;}

/*mentoring page css*/

.mentoring-section{margin: 30px 0;}
.mentoring-block h2{font-weight: 600;margin-bottom: 15px;}
.mentoring-block p{font-size: 16px;text-align: justify;}
.mentoring-img{margin-top: 70px;}
.mentoring-img .modal-content .btn-default{padding: 12px  0;color: #6f51c7;background: #fff;width: 100%;margin-top: 10px;border: 1px solid  #6f51c7;}
.mentoring-img .modal-content .btn-default:hover{color: #fff;background: #6f51c7;}
.request-quote-btn{margin-top: 30px;text-align: center;}
.request-quote-btn .btn-default{padding: 4px 40px;color: #6f51c7;background: #fff;border: 1px solid #6f51c7;font-size: 16px;width: 100%;}
.request-quote-btn .btn-default:hover{color: #fff;background: #6f51c7;}
/*blog page css*/
.blog-section{margin-top: 30px;}
.blog-section .blog-inner-block .date-time{margin: 20px 0;}
.blog-section .blog-inner-block{margin: 30px 0; }
.blog-section .blog-inner-block h2{margin-top: 10px;font-weight: 600;}
.blog-section .blog-inner-block span{padding-right: 0;font-size: 14px;color: gray;}
.blog-section .blog-inner-block img{margin-bottom: 15px;}
.blog-section .blog-inner-block p{line-height: 28px;font-size: 16px;}
.blog-section .blog-inner-block ul li a{color: #fff;}
.hr-line{margin: 10px 0;background-color: lightgray;height: 1px;}
.blog-side-img{margin: 30px 0;}
.blog-search {margin: 30px 0 25px;}
.blog-search .form-control {border-radius: 0;height: 40px;}
.blog-search .form-control:focus {border-color: lightgray;box-shadow: none;}
.btn-default{outline: none !important;margin-bottom: 10px;}
.blog-search .input-group-btn .btn {border-radius: 0;padding: 9px 12px;}
.blog-search .btn-default {background-color: #6f51c7;border-color: #6f51c7;color: #fff;}
.list-menu {margin: 10px 0;padding-left: 0;list-style: outside none none;}
.list-menu {list-style: outside none none;}
.list-menu a{text-decoration: none;color: #000;}
.list-menu .list-group-item.active{border-color: #eee;color: #002e5b;z-index: 2;border-left: 5px solid #0056b5;background-color: transparent;}
.list-menu .list-group-item {background-color: #f2f2f2;border: 1px solid #eee;border-radius: 0;display: block;margin-bottom: 2px;padding: 12px 15px;position: relative;}
.list-menu .list-group-item:focus, .list-menu .list-group-item:hover, .list-menu li.active {border-color: #eee;color: #002e5b;z-index: 2;border-left: 5px solid #0056b5;background-color: transparent;}
.blog-list{margin-top: 50px;}
.help-content{margin-top: 40px;}
.panel1 {background-image: -webkit-linear-gradient(bottom, #6f51c7 0%, #44b8e7 100%);border: 1px solid transparent;border-radius: 0;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);margin-bottom: 20px;}
.panel1.panel-default > .panel-heading {background-color: transparent;border-color:transparent;color: #fff;font-size: 20px;padding-bottom: 0;padding-top: 25px;font-weight: bold;}
.panel1.panel-default > .panel-body p{color: #fff;font-size: 18px;}
.panel1.panel-default > .panel-body a{color: #fff;text-decoration: none;}
.panel1 .help-btn-block .btn:hover {background-color: #fff;border-color: #fff;}
.panel1 .help-btn-block .btn {background-color: #fff;color: #0056b5 !important;padding: 10px 20px;margin: 20px 0px;}

/*contact us css*/

.big-icon, .big-icon:visited {border-radius: 50px;color: #fff;display: block;height: 100px;margin: 0 auto 20px;text-align: center;transition: opacity 0.2s linear 0s;width: 100px;background-image: -webkit-linear-gradient(bottom, #6f51c7 0%, #44b8e7 100%);padding: 35px 0;}
.contact-info .title {font-size: 20px;font-weight: normal;line-height: 1.3;margin: 0 0 22px;color: black;}
.contact-info address {color: black;}
.section-contact-form {padding: 0 0 40px 0;background: white;}
.contact-us-heading {padding-bottom: 38px;text-align: center;}
.contact-us-heading {font-weight: 600;}
.contact-form .form-control {background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border: 1px solid #e1e1e1;border-radius: 3px !important;box-shadow: 0 1px #fff, 0 1px 4px rgba(0, 0, 0, 0.15) inset;font-size: 12px;height: 40px;line-height: 22px;margin-bottom: 22px;min-height: 40px;padding: 8px 12px;width: 100%;}
.contact-form textarea.form-control {height: 100px !important;max-width: 100%;margin-bottom: 5px;}
.hr-line1{margin: 0;}

/*pricing page css*/

.table tr td .ques {float: right;}
.from .panel-default .panel-body .form-control {border-radius: 0;font-size: 14px;height: 45px;}
.side-widget {border: 1px solid #ccc;border-radius: 5px;margin-bottom: 20px;padding: 15px;}
.top-heading {background: hsla(0, 0%, 0%, 0) url("../images/icons/shopping.png") no-repeat scroll 5px 0;border-bottom: 1px dashed hsl(0, 0%, 82%);color: #0d55a6;font-size: 20px;padding-bottom: 12px;padding-left: 50px;text-transform: capitalize;width: 100%;}
.cart-heading {border-bottom: 2px solid #bab9b9;font-weight: 700;padding: 5px 0;width: 100%;}
.total-heading {color: #6a6969;font-size: 15px;font-weight: bold;padding:0;width: 100%;}
.checkout-btn{margin-top: 30px;}
.btn-warning:hover, .btn-warning:focus{outline: none !important;}
.total-inner1 {color: #666666;font-size: 15px;font-weight: bold;}
.total-inner1 .form-contorl{width: 100%;}
.total-inner1 .apply-coupon1{margin: 10px 0;padding: 4px 19px;}
.side-widget .media-heading {color: #6a6969;font-size: 13px;font-weight: bold;}
.side-widget .cart-col {font-size: 12px;padding: 0 3px;}
.cart-heading {border-bottom: 2px solid #bab9b9;font-weight: 700;padding: 5px 0;width: 100%;}
/*login signup form*/

.section-login {padding: 0px 0;background: white;}
.section-login .panel-heading{font-weight: 600;color: #fff;background-image: -webkit-linear-gradient(bottom, #6f51c7 0%, #44b8e7 100%);}
.section-login .panel-body .form-control {border-radius: 0;font-size: 14px;height: 45px;}
.section-login .nav-tabs{color: #0056b5;font-weight: 600;margin-bottom: 30px;border-bottom: 2px solid #ddd;}
.section-login .nav-tabs li  a{border: none !important;}
.section-login .nav-tabs > li.active > a, .section-login .nav-tabs > li.active > a:focus, .section-login .nav-tabs > li.active > a:hover {color: #fff;cursor: default;background-image: -webkit-linear-gradient(bottom, #6f51c7 0%, #44b8e7 100%);border: none;border-bottom-color: transparent;border-radius: 5px;}
.section-login .panel-login{border:none;margin: 0;box-shadow: none !important;}
.section-login .panel-login .btn2{margin: 0;}
.section-login .panel-login .signinsubmit{margin-bottom: 0;}
/*.section-login .panel-body{padding: 0;}*/
/*product page css*/

.product-section{margin-bottom: 40px;}
.product-section .nav-tabs{margin:40px 0;}
.product-section .nav-tabs li a{color: #000;}
.product-section .nav-tabs > li.active > a, .product-section .nav-tabs > li.active > a:focus,.product-section .nav-tabs > li.active > a:hover {color: #0056b5;cursor: default;background-color: #fff;border-bottom: 2px solid #0056b5 !important; border:none;border-bottom-color: transparent;}
.product-section .search-block .form-control:focus{border-color: lightgray;}
.product-section .search-block ul{margin-top: 50px;}
.product-section .search-block ul li{list-style: none;display: table-cell;vertical-align: middle;padding-left: 30px;}
.product-section .search-block ul li .input-group{padding-top: 10px;}
.product-section .search-block > #sell > option:hover{background-color: red !important;}
.search-block .input-group-btn .btn {}
.search-block .input-group-btn .btn.btn-default{background-color:#6f51c7;border-color: #6f51c7;color: #fff;}
.product-section .panel-default{border-radius: 5px;border: none;margin-bottom: 30px;}
.product-section .panel-default .panel-heading{padding: 0;border: none;}
.product-section .panel-default .panel-heading img{border-radius: 5px 5px 0 0;}
.product-section .panel-default .panel-body {background-color: #0056b5;border-radius: 0 0 5px 5px;height: 115px;}
.product-section .panel-default .panel-body h3{font-weight: 600;color: #fff;margin: 0;}
.product-section .panel-default .panel-body h4{font-weight: 600;color: #fff;}
.product-section .panel-default .panel-body p{color: #fff;font-size: 16px;}
.product-section .panel-default .panel-body p .btn-default{width: 150px;padding: 4px 5px;margin: 0 0 20px;border-radius: 5px;background-color: #fff;border: none;color:  #0056b5;font-size: 14px; }
.product-section .panel-default .panel-body span a{outline: none;text-decoration: none;}
.product-section .panel-default .panel-body .btn-default{width: 115px;padding: 10px 10px;margin: 22px 0;border-radius: 5px;background-color: #fff;border: none;color:  #0056b5;font-size: 16px;}

/*ebook page*/

.ebook-section{margin: 35px 0;}
.ebook-section .book-content{margin-top: 30px;margin-left: 40px;}
.ebook-section .book-outer-block{border-bottom: 1px solid gray;height: 200px;padding-top: 10px;margin-bottom: 30px;}
.input-group-btn .btn.btn-default {background-color: #6f51c7;border-color: #6f51c7;color: #fff;}.ebook-section .input-group{margin-bottom: 30px;}
.ebook-section .book-content h4{font-weight: 600;margin-bottom: 6px;}
.ebook-section .book-content p{font-size: 16px;}
.ebook-section .book-content .btn-default{padding: 4px 40px;color: #6f51c7;background: #fff;border: 1px solid #6f51c7;font-size: 16px;margin-top: 20px;}
.ebook-section .book-content .btn-default:hover{color: #fff;background: #6f51c7;}
.ebook-section .form-inline .form-control{width: 200px;}
.like-icon{margin-top: 8px;}
.like-icon .content{font-size: 14px;}
.Share-text{position: absolute;top: 36px;left: -83px;}
.share-icon{position: relative;}

.share-icon ul {padding-left: 0;margin-top: 0px;}
.share-icon ul li {list-style: none;display: inline-block;font-weight: 600;}
.share-icon ul li a{color: #fff;}
.share-icon ul li.fb {background-color: #29487d;padding-left: 10px;height: 28px;width: 28px;padding-top: 4px;border-radius: 25px;margin-right: 5px;}
.share-icon ul li.tw {background-color: #1da1f2;padding-left: 8px;height: 28px;width: 28px;padding-left: 8px;padding-top: 4px;border-radius: 25px;margin-right: 5px;}
.share-icon ul li.in {background-color: #1383b4;padding-left: 8px;height: 28px;width: 28px;padding-left: 8px;padding-top: 4px;border-radius: 25px;margin-right: 5px;}
.share-icon ul li.gplus {background-color: #d11819;padding-left: 8px;height: 28px;width: 28px;padding-left: 7px;padding-top: 4px;border-radius: 25px;margin-right: 5px;}
.share-icon ul li.yt {background-color: #b8171a;padding-left: 8px;height: 28px;width: 28px;padding-left: 7px;padding-top: 4px;border-radius: 25px;}
/*privacy policy page css*/

.privacy-policy-section{margin: 30px 0;}
.privacy-policy-section .privacy-policy-content h2{font-weight: 600;}
.privacy-policy-section .privacy-policy-content p{font-size: 16px;line-height: 32px;text-align: justify;}

/*cart css*/

.add-cart-section{margin: 40px 0;overflow: hidden;}
.add-cart-heading{border-bottom: 1px solid #DDD; margin-top: 42px; }
.add-cart-heading h2{margin: 0;}
.add-cart-heading .main-heading h2{ margin-bottom: 20px; }
.add-cart-block{ /*border-bottom: 1px solid #DDD;*/padding: 12px; }
.add-cart-block .item-details h4{margin: 0; font-weight: 600;color: #0056b5;}
.add-cart-block .item-details a:hover{text-decoration: none !important; }
.add-cart-block .item-details p{font-size: 13px;}
.add-cart-block .item-details a{font-size: 13px;}
.add-cart-block .item-price p{ font-size: 16px; font-weight: 600; color: #B12704;}
.add-cart-block .item-quantity .form-control{width: 58%;height: 25px;padding: 0px 12px;font-size: 11px;margin-left: 56px;}
#owl-courses-cart .owl-controls .owl-buttons .owl-prev {position: absolute;left: -40px;border-radius: 0;color: #292a2f;background-color: transparent;font-weight: bold;font-size: 40px;padding: 0;margin: 0;top: 40%;}
#owl-courses-cart .owl-controls .owl-buttons .owl-prev {color: #292a2f;font-weight: bold;font-size: 40px;}
#owl-courses-cart .owl-controls .owl-buttons .owl-next {position: absolute;right: -40px;border-radius: 0;color: #292a2f;background-color: transparent;font-weight: bold;font-size: 40px;padding: 0;margin: 0;top: 40%;}
#owl-courses-cart .owl-controls .owl-buttons .owl-next {color: #292a2f;font-weight: bold;font-size: 40px;}
/*proceed-pay-section*/

.proceed-pay-inner{padding: 12px; }
.proceed-pay-inner p{font-size: 16px;margin: 0;color: #686f7a;}
.proceed-pay-inner p.big{font-size: 18px;color: #686f7a;}
.proceed-pay-inner p.small{font-size: 12px;color: #686f7a;}
.proceed-pay-inner span{color: #686f7a;}
.proceed-pay-inner hr{margin: 10px 0;}
.Subtotal-block{padding: 0; }
.Subtotal-block h2{font-weight: 600;margin-top: 5px;}
.Subtotal-block h2 span{color: #B12704;}
.Subtotal-block p span{text-decoration: line-through;}
.btn-blue:hover, .btn-blue:active, .btn-blue:focus {background-color: #6f51c7;border-color: #6f51c7;color: #000;}
.btn-blue{background-color: #fff;border: 2px solid #6f51c7;color: #6f51c7;font-size: 16px; width: 100%;margin: 15px 0 0;padding: 12px;}
.btn-blue:hover{background-color: #6f51c7;border-color: #6f51c7;color: #fff;font-size: 16px;}
.main-heading{font-weight: 600;}
.total-inner {color: #666666;font-size: 15px;font-weight: bold;text-align: left;}
.total-inner .blog-search{margin: 5px 0;}
.total-inner .form-group{margin-bottom: 20px;}
.proceed-pay-block .proceed-pay-inner a{color: #686f7a;}
.proceed-pay-block .proceed-pay-inner a:hover{color: #B12704;text-decoration: none;}
/*select address css*/
.Select-add-section{margin: 30px 0;}
.multiple-add-block{margin-top: 20px; text-align: right;font-size: 14px;}
.multiple-add-block p{margin: 0;}
.multiple-add-block1{margin-top: 20px;font-size: 13px;}
.multiple-add-block1 h4{font-weight: 600;font-size: 16px;}
.multiple-add-block1 p{margin: 0;}
.multiple-add-block1 .add-state{text-transform: uppercase;padding-top: 5px;font-size: 14px;}
.multiple-add-block1 .Deliver-btn .btn-default{margin-top: 15px;padding: 8px 30px;width: 222px;}
.multiple-add-block1 .edit-delete .btn-default{margin-top: 15px;padding: 3px 35px;width: 110px;}
.new-add-block h3{font-weight: 900;font-size: 20px;margin:3px 0;}
.new-add-block h4{}
.new-add-block h5{font-weight: 600;}
.new-add-block p{margin: 0;font-size: 13px;}
.new-add-block .form-group{margin: 0;}
.new-add-block .form-group label{font-size: 14px;}
.new-add-block .form-group .form-control{height: 28px;font-size: 13px;padding: 0;}
.new-add-block .Deliver-btn .btn-default{padding: 8px 30px;width: 222px;}
.new-add-block .Deliver-btn .btn-dark {
    padding: 8px 10px;
    width: 190px;
 
}
.new-add-block .Deliver-btn b{padding: 0 12px;}
.new-add-block .Deliver-btn .btn-light {padding: 8px 10px;width: 190px;background-color: lightgray;border: none;color: #000;}
/*select address css end*/


/*proceed to check css*/
.checkout-section {margin: 40px 0;overflow: hidden;}
.proceed-check-block {padding: 20px 0;}
.proceed-check-block h3{font-weight: 600;font-size: 20px;margin: 0;}
.proceed-check-block h4{color: #0056b5;font-weight: 600;font-size: 16px;margin-bottom: 2px;}
.proceed-check-block p{ text-align: justify;margin: 0;line-height: 20px;}
.proceed-check-block .add-state{text-transform: uppercase;}
.proceed-check-block .price{color: #B12704;}
.proceed-check-block .quantity{color: gray;}
.proceed-check-block1 { border: 1px solid #DDD; margin: 20px 0 60px 0; padding: 20px 15px 20px 15px;}
.proceed-check-block1 span{font-size: 20px;font-weight: 600;line-height: 57px;}

/*proceed to check css end*/

/*e-Learning Pricing Page*/

.elern-price-section{}
.elern-price-section .elern-price-block{border: 1px solid #e0e0e0;margin-bottom: 30px;margin-top: 20px; border-radius: 20px;}
.elern-price-section .elern-price-block .event-heading{height: 50px;background-color:  #0056b5;border-radius: 12px 0 0 0; position: relative; }
.elern-price-section .elern-price-block .event-heading{padding:12px 0px 0px 45px;}
.elern-price-section .elern-price-block .event-heading h3{margin: 0;font-weight: 600;color: #fff;}
.elern-price-section .elern-price-block .event-right-content{border-left: 1px solid lightgray;}
.elern-price-section .share-icon ul{margin-top: 12px;}
.event-date{height: 70px;width: 70px;margin: 30px; border: 1px solid #0056b5;border-radius: 10px;}
.date-header{height: 25px;background-image: -webkit-linear-gradient(top, #6f51c7 0%, #44b8e7 100%);border-radius: 8px 8px 0px 0px;padding: 2px 16px;font-size: 16px;color: #fff;font-weight: 600;}
.date-number h2{margin: 0;padding: 9px 0px 0px 16px;font-weight: 600;color: gray;}
.btn-add-cart{padding: 3px 20px;margin: 40px 15px 0 0;}
.event h3{font-weight: 600;margin-top: 25px;color: gray;}
.event{margin-bottom: 30px;}
.event p{font-size: 16px;text-align: justify;margin-right: 15px;}
.event a{font-size: 16px;color: blue;margin-top: 12px;}
.datpicker-event{margin: 18px;}
.caret-icon{position: absolute;bottom: -40px;left: 25px;font-size: 50px;color: #0056b5;}
.catagory-checks{margin-left: 15px;}
.catagory-checks h2{font-weight: 600;color: #0056b5;}
.catagory-checks .checkbox{font-size: 16px;}
.catagory-checks .checkbox input{outline: none;}

/*event-detail page*/
.Event-Detail-section{margin:30px 0;}
.Event-Detail-block {}
.Event-Detail-block h2{font-weight: 600;color: #0056b5;}
.Event-Detail-block h3{font-weight: 600;color: #0056b5;margin-top: 8px;}
.Event-Detail-block p{font-size: 16px;text-align: justify;line-height: 28px;}
.Event-Detail-block img{margin-top: 12px;}
.achieve-section{margin-bottom: 40px;}
.Event-Detail-block .btn-add-cart{    padding: 6px 10px;width: 100%;font-size: 21px;}

/*live msg*/
#lc_chat_layout {right: 30px;}
#lc_chat_layout {display: block;width: 300px;text-align: left !important;bottom: 0;position: fixed;z-index: 100000;-webkit-transition: height 0.6s;-moz-transition: height 0.6s;-o-transition: height 0.6s;transition: height 0.6s;border-radius: 3px 3px 0px 0px;-webkit-box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);-moz-box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;-ms-word-break: break-word;word-break: break-word;word-wrap: break-word;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
#lc_chat_layout.lc-expanded #lc_chat_header {background-image: none;position: relative;}
#lc_chat_layout #lc_chat_header {color: #FFFFFF;background-color: #0056b5;}
#lc_chat_layout #lc_chat_header {display: block;width: 100%;height: 43px;padding: 10px;cursor: pointer;border: 1px solid rgba(0,0,0,0.2);border-radius: 4px 4px 0 0;}
#lc_chat_layout * {margin: 0;padding: 0;line-height: normal;font-size: 100%;font-weight: inherit;text-transform: inherit;border: none;outline: none;vertical-align: baseline;background: transparent;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
#lc_chat_layout #lc_chat_container {min-height: 350px;overflow: hidden;clear: both;background-color: #f3f3f3;border: 1px solid rgba(0,0,0,0.2);border-top: none;border-bottom: none;text-align: left;
}
#lc_chat_layout #lc_chat_container .lc-offline-form {background-color: #fff;height: 350px;}
#lc_chat_layout.lc-offline .lc-offline-form {display: block;}
#lc_chat_layout #lc_chat_container .lc-offline-form p {margin: 0px;font-size: 14px;color: #535353;padding: 10px 10px 0px 10px;line-height: 18px;font-weight: 300;}
#lc_chat_layout #lc_chat_container .lc-form-field-wrap {margin: 18px 10px 10px;}
#lc_chat_layout #lc_chat_container .lc-form-field-wrap .lc-textfield-wrap {position: relative;margin: 0 0 13px 0;}
#lc_chat_layout #lc_chat_container .lc-offline-form ul li {list-style: none;padding: 0px;position: relative;}
#lc_chat_layout #lc_chat_container .lc-button-holder {margin: 0 10px;}
#lc_chat_layout #lc_chat_container .lc-form-field-wrap .lc-textfield-wrap label {position: absolute;top: -7px;left: 10px;font-size: 12px;padding: 0 2px;color: #999;background-color: #fff;display: inline-block;z-index: 3;height: 14px;overflow: hidden;text-indent: 0;}
#lc_chat_layout #lc_chat_container .lc-form-field-wrap .lc-textfield-wrap input, #lc_chat_layout #lc_chat_container .lc-form-field-wrap .lc-textfield-wrap .lc-select, #lc_chat_layout #lc_chat_container .lc-form-field-wrap .lc-textfield-wrap textarea {border: 1px solid #dcdcdc;outline: none;font-size: 13px;padding: 7px 11px;color: #333;font-weight: 400;display: block;width: 100%;height: 34px;position: relative;z-index: 2;background-color: transparent;text-align: left;direction: ltr;border-radius: 4px;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;}
#lc_chat_layout #lc_chat_container .lc-form-field-wrap .lc-chat-required span {color: #EF505F;font-size: 18px;vertical-align: top;position: relative;}
#lc_chat_layout #lc_chat_container #lc_chat_offline_textarea {width: 100%;min-height: 100px;height: 100px;resize: none;}
#lc_chat_layout #lc_chat_container .lc-button-holder {margin: 0 10px;}
#lc_chat_layout #lc_chat_container .lc-button-submit {cursor: pointer;width: 100%;height: 32px;line-height: 32px;padding: 6px 40px;font-size: 14px;color: #fff;text-shadow: none;background: #777 url("../images/icons/checked.png") no-repeat center;margin: 8px 0 11px;border: 1px solid #666;text-indent: -9999em;border-radius: 4px;}
#lc_chat_layout #lc_chat_header {color: #FFFFFF;background-color: #0056b5;}
#lc_chat_container{display: none;}
.msg-sign{position: absolute;top: 7px;right: 7px;}


/*new event css*/
.program-section .right-side-block{position: absolute;width: 100%;top: -238px;border-radius: 5px;padding: 15px;}
.program-section .video-block{background-image: url(../images/other/e-book.jpg);background-size: cover;background-repeat: no-repeat;background-position: center center;height: 200px;border-radius: 5px 5px 0px 0px;border: 3px solid #fff;}
.program-section .video-block   .modal-content{margin-top: 120px;background-color: transparent;}
.program-section .video-block .content h5 {font-size: 18px;color: #fff;text-align: center;margin-top: 25px;}
.program-section .video-block   .modal-content .modal-body{padding: 0 !important;position: relative;}
.program-section .video-block   .modal-content .close{opacity: 1;padding-bottom: 12px;position: absolute;right: -30px;top: -20px;}
.program-section .video-block .content{padding: 70px 15px 5px;text-align: center;}
.program-section .video-block .content img:hover{height: 40px;}
#btn-less{display: none;}
.program-inner-content{padding: 15px;border: 1px solid lightgray;margin-top: 30px;}
.program-inner-content h3{margin-bottom: 15px;font-size: 22px;margin-top: 5px;}
.program-inner-content ul{padding: 0;margin:0;}
.program-inner-content ul li{list-style: none;font-size: 16px;}
.program-inner-content ul li img{margin-right: 12px;}
.courses{margin-bottom: 30PX;}
.courses-block{margin-top: 10px;}
.courses-block h3{margin-bottom: 30px;}
.courses-block .panel-heading{padding: 0;border: none;}
.courses-block .panel-body{background-image: -webkit-linear-gradient(top, #6f51c7 0%, #44b8e7 100%);text-align: center;height: 100px;padding-top: 40px;}
.courses-block .panel-body p{font-size: 18px;color: #fff;}
.courses-price{background: #fff;padding: 5px 20px;border: 1px solid lightgray;border-radius: 0 0 5px 5px;border-top: none;}
.courses-price p{font-weight: 600;font-size: 35px;color: #505763;margin-top: 0;padding: 0;}
.courses-price .btn-default{padding: 15px;}
.courses-price .btn-default.btn-register{padding: 6px 0;background-color: #6f51c7;color: #fff;border-color:#6f51c7;}
.courses-price h4{color: #505763;font-weight: 600;}
.courses-price label{font-size: 18px;margin-right: 5px;}
.courses-price .form-group .form-control{margin-top:12px }
.courses-price ul{margin-left: 0;padding: 0;}
.courses-price ul li{list-style: none;padding-bottom: 5px;}
.courses-price ul li span{margin-left: 8px;}
.courses-price ul{}
.program-testimonial{margin-bottom: 40px;}
.courses .headline-section {margin: 40px auto 40px auto;text-transform: uppercase;}
.testi-heading{margin-bottom: 70px !important;}
.Customer-rating{padding: 20px;border:1px solid lightgray;margin-top: 10px;border-radius: 5px;}
.Customer-rating h3{margin-top: 0;font-size: 20px;}
.Customer-rating span{font-size: 14px;}
.Customer-rating h4{color: #0056b5;}
.section-slider{overflow: hidden !important;}
.courses-section{overflow: hidden !important;}
.ebook-section {overflow: hidden !important;}
.testimonial {overflow: hidden !important;}
.about-team-section{overflow: hidden !important;}
.section-blue{overflow: hidden !important;}
.footer {overflow: hidden !important;}

/*programs car page css*/

.program-cart{background-image: url(../images/other/seminar-banner.jpg);background-size: cover;background-repeat: no-repeat;background-position: center center;}
.program-cart .program-cart-content{height: 420px;background-color: rgba(0,0,0,0.7);margin:55px 0 30px;}
.program-cart .program-cart-content .header-cart{text-align: center;background-image: -webkit-linear-gradient(bottom, #6f51c7 0%, #44b8e7 100%);}
.program-cart .program-cart-content .header-cart h2{padding: 15px 0;color: #fff;}
.program-cart .program-cart-content .cart-form{padding: 5px 30px;}
.program-cart .program-cart-content .cart-form label{color: lightgray;font-size: 18px;font-weight: 100;}
.program-cart .program-cart-content .cart-form .form-control{height: 38px;}
.program-cart .program-cart-content .cart-form .btn-default{margin-top: 30px;width: 100%;padding: 8px 0; background-color: #6f51c7;border-color:#6f51c7; color: #fff;font-size: 16px;font-weight: 600;}
.program-cart .program-cart-content .cart-content{padding: 15px;color: #fff;}
.program-cart .program-cart-content .blog-search{margin: 0 0 15px;}
.program-cart .program-cart-content .blog-search .btn-default{margin-top: 0 !important;padding:8px 12px !important;}
.program-cart .program-cart-content .cart-content h3{font-weight: 600;margin: 0 0 14px;}
.program-cart .program-cart-content .cart-content .date-time{font-size: 14px;}
.program-cart .program-cart-content .cart-content p{font-size: 16px;text-align: justify;}
.program-cart .program-cart-content .cart-content .btn-default{margin-top: 15px;padding: 8px 60px; background-color: #6f51c7;border-color:#6f51c7; color: #fff;font-size: 16px;font-weight: 600;}
.program-cart .special-register .btn-default{padding: 13px 40px;margin:0 0 30px;}
.program-cart .modal-dialog .modal-content .modal-body .btn-default{background-color: #6f51c7;
border-color: #6f51c7;color: #fff;padding: 5px 40px; width: 100%; margin-top: 23px;}


/*dashboard page css*/

.dropdown-submenu {}
.dropdown-submenu>.dropdown-menu {top: 5px;height: 148px;left: 100%;margin-top: -6px;margin-left: -1px;-webkit-border-radius: 0 6px 6px 6px;-moz-border-radius: 0 6px 6px;border-radius: 0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu {display: block;}
.dropdown-submenu>a:after {display: block;content: " ";float: right;width: 0;height: 0;border-color: transparent;border-style: solid;border-width: 5px 0 5px 5px;border-left-color: #ccc;margin-top: 5px;margin-right: -10px;}
.dropdown-submenu:hover>a:after {border-left-color: #fff;}
.dropdown-submenu.pull-left {float: none;}
.dropdown-submenu.pull-left>.dropdown-menu {left: -100%;margin-left: 10px;-webkit-border-radius: 6px 0 6px 6px;-moz-border-radius: 6px 0 6px 6px;border-radius: 6px 0 6px 6px;}
.navbar-collapse .blog-search{margin: 5px 0px 0px 0;}
.navbar-collapse .blog-search .form-control{width: 400px;background-color: #f2f3f5; border-color:#f2f3f5;box-shadow: none !important;}
.navbar-collapse .blog-search .input-group-btn .btn.btn-default {background-color: #f2f3f5;border-color:#f2f3f5 ;color: #6f51c7;}
.navbar-collapse .navbar-left {padding: 10px 0;}
.navbar-collapse .navbar-right li a i{font-size: 20px;color: gray;}
.dashboard .navbar-right {margin-right: 0px;}
.navbar-collapse .navbar-right .new-biz-dropdown .dropbtn img{border-radius: 50%;border:1px solid lightgray;}
.navbar-collapse .navbar-right .new-biz-dropdown .user-pic{padding: 5px 17px;}
.navbar-collapse .navbar-right .new-biz-dropdown .profil-dropdown{margin-left: -220px;width: 302px;padding-bottom: 20px;}
.profil-dropdown li a{padding-left: 25px !important;}
.profil-dropdown .media{padding: 25px 25px 10px;}
.profil-dropdown .media .media-left img{border-radius: 50%;}
.profil-dropdown .media .media-body .media-heading{margin-bottom: 0;	font-size: 15px;font-weight: 600;margin-top: 3px;}
.profil-dropdown .media .media-body p{font-size: 14px;}
.notification-dropdown .profil-dropdown li{border-bottom:  1px solid lightgray;}
.notification-dropdown .profil-dropdown li .heading{padding: 25px 15px 0;font-size: 16px;margin: 3px 0;}
.notification-dropdown .profil-dropdown .media {padding: 25px 15px 10px;}
.navbar-collapse .navbar-right .notification-dropdown .profil-dropdown{height: 300px;overflow-y: scroll;max-height: 300px;}
.View-all{font-size: 18px;font-weight: 600;text-decoration: underline;}
.dashboard-courses{margin-bottom: 50px;}
.testimonial a{color: #000;}
.testimonial a:hover{text-decoration: none !important;}
#owl-courses-dash1 .owl-controls .owl-buttons .owl-prev {position: absolute;left: -40px;border-radius: 0;color: #292a2f;background-color: transparent;font-weight: bold;font-size: 40px;padding: 0;margin: 0;top: 40%;}
#owl-courses-dash1 .owl-controls .owl-buttons .owl-prev {color: #292a2f;font-weight: bold;font-size: 40px;}
#owl-courses-dash1 .owl-controls .owl-buttons .owl-next {position: absolute;right: -40px;border-radius: 0;color: #292a2f;background-color: transparent;font-weight: bold;font-size: 40px;padding: 0;margin: 0;top: 40%;}
#owl-courses-dash1 .owl-controls .owl-buttons .owl-next {color: #292a2f;font-weight: bold;font-size: 40px;}

#owl-courses-dash2 .owl-controls .owl-buttons .owl-prev {position: absolute;left: -40px;border-radius: 0;color: #292a2f;background-color: transparent;font-weight: bold;font-size: 40px;padding: 0;margin: 0;top: 40%;}
#owl-courses-dash2 .owl-controls .owl-buttons .owl-prev {color: #292a2f;font-weight: bold;font-size: 40px;}
#owl-courses-dash2 .owl-controls .owl-buttons .owl-next {position: absolute;right: -40px;border-radius: 0;color: #292a2f;background-color: transparent;font-weight: bold;font-size: 40px;padding: 0;margin: 0;top: 40%;}
#owl-courses-dash2 .owl-controls .owl-buttons .owl-next {color: #292a2f;font-weight: bold;font-size: 40px;}

#owl-courses-dash3 .owl-controls .owl-buttons .owl-prev {position: absolute;left: -40px;border-radius: 0;color: #292a2f;background-color: transparent;font-weight: bold;font-size: 40px;padding: 0;margin: 0;top: 40%;}
#owl-courses-dash3 .owl-controls .owl-buttons .owl-prev {color: #292a2f;font-weight: bold;font-size: 40px;}
#owl-courses-dash3 .owl-controls .owl-buttons .owl-next {position: absolute;right: -40px;border-radius: 0;color: #292a2f;background-color: transparent;font-weight: bold;font-size: 40px;padding: 0;margin: 0;top: 40%;}
#owl-courses-dash3 .owl-controls .owl-buttons .owl-next {color: #292a2f;font-weight: bold;font-size: 40px;}

/*my courses page css*/

.my-courses-section .form-inline{margin: 30px 0 25px;}
.my-courses-section .form-inline .form-group{margin-right: 40px;}
.my-courses-section .form-inline .form-group label{font-size: 16px;}
.my-courses-section .form-inline .form-group .form-control{height: 30px;width: 190px;border-radius: 0;}
.my-courses-section .blog-search .input-group .form-control{height: 30px;}
.my-courses-section .blog-search .input-group-btn .btn {padding: 4px 9px;}

/*all courses section*/

.all-Courses-section{margin: 0 0 40px;}
.all-Courses-section .panel-default{margin: 15px 0;}
.all-Courses-section .panel-default .panel-heading{padding: 0;border: none;}
.all-Courses-section .panel-default .panel-body{padding: 5px 10px;height: 130px;}
.all-Courses-section .panel-default .panel-body h4{margin: 0;font-size: 15px;font-weight: 600;height: 33px;}
.all-Courses-section .panel-default .panel-body p{font-size: 13px;padding-top: 10px;height: 45px;}
.all-Courses-section .panel-default .panel-body .progress{width: 100%;margin: 8px 0;height: 3px;}
.all-Courses-section .panel-default .panel-body .progress-bar{background-color:  #0056b5;}
.all-Courses-section .panel-default .panel-body .progress-report{margin-right: 65px;	font-size: 13px;}
.course-overlay{padding: 30px 0;}
.course-overlay .checked{color: orange; }
.course-overlay .heading-black{margin-top: 50px;}
.course-overlay p{margin-left: 10px;}
.course-overlay span{font-size: 26px;color: lightgray;}
.course-overlay .edit-rating{font-size: 16px;font-weight: 600;}
.course-overlay .progress-count{color: #fff;font-size: 18px;font-weight: 600;margin-top: 40px;margin-left: 15px;}
.course-overlay .progress{width: 100%;border-radius: 2px;margin: 5px 0 5px 10px;}
.course-overlay .progress-bar{}
.course-overlay .price-cup{position: relative;height: 14px;width: 80px;background-color: #fff;margin-top: 76px;border-radius: 2px;margin-left: 0;}
.course-overlay .price-cup::before{content: '';display: block;position: absolute;left: 77%;bottom: -35px;width: 81px;height: 81px;background: url(../images/icons/trophy1.png) no-repeat;margin-left: -40px;}
.course-detail-heading{}
.course-detail-heading .nav-tabs{margin-top: 30px;color: #0056b5;font-weight: 600;border: none;	}
.course-detail-heading .nav-tabs li{margin-bottom: -2px;}
.course-detail-heading .nav-tabs > li.active > a, .course-detail-heading .nav-tabs > li.active > a:focus, .course-detail-heading .nav-tabs > li.active > a:hover {color: #fff;cursor: default;background-image: -webkit-linear-gradient(bottom, #6f51c7 0%, #44b8e7 100%);border: none;border-bottom-color: transparent;border-radius: 5px;}
.course-detail-heading .nav-tabs li a{}
.course-detail-heading .tab-content{margin-top: 30px;}
.tab-content-1{padding: 0 100px;}
.tab-about{border-bottom: 2px solid #ddd;padding: 15px 0;}
.tab-about h3{font-weight: 600;margin: 5px 0 35px;color: #000;font-size: 21px;}
.tab-about p{font-size: 16px;}
.tab-about .share-icon{margin-top: 15px;}
.course-main{background-color: #f2f3f5;}
.tab-content-2{background-color: #fff;margin: 15px 100px;border: 1px solid lightgray;}
.tab-content-2:hover{box-shadow: 0 2px 8px 2px rgba(20,23,28,.15);}
.tab-content-2 .heading{width: 100%;border: none;background-color: #fff;padding: 20px;color: #686f7a;}
.tab-content-2 .heading h4{font-weight: 600;margin: 0px;}
.tab-content-2 .heading h5{margin:0 0 5px;}
.tab-content-2 .heading h5 b{font-size: 16px;}
.tab-content-2 .content span i{border: 2px solid #686f7a;border-radius: 50%;height: 20px;width: 20px;padding: 2px 3px;font-size: 11px;}
.tab-content-2 .content span i.fa-play{padding: 2px 5px;}
.tab-content-2 .content .sub-list{padding-left: 50px;font-weight: 600;}
.tab-content-2 .content li{height: 50px;list-style: none;padding: 16px 25px 42px;border-bottom: 1px solid #f2f3f5;margin: 0;}
.tab-content-2 .content li:hover, .tab-content-2 .content li:active, .tab-content-2 .content li:focus{background: #f2f3f5;}
.tab-content-2 .content li.active{background-color: #d1c4e9;}
.tab-content-2 .content li.active span{color: #000;}
.tab-content-2 .content li.active span i{border: 2px solid #000;}
.tab-content-2 .content li.active span i.fa-play{padding: 3px 5px;}
.tab-content-2 .content li.active a span{color: #000 !important;font-size: 16px;padding-right: 10px;}
.tab-content-2 .content li a{text-decoration: none;color: #686f7a;}
.tab-content-2 .content li a span:hover{color: #686f7a;}
.tab-content-2 .content li span{padding-right: 10px;}
#hideshow-content1{display: none;}
#hideshow-content2{display: none;}
.border-course{border-bottom: 1px solid lightgray;}
.content-list-course{text-align: right;}
.content-list-course ul{margin-top: 3px;}
.content-list-course ul li{list-style: none;display: inline-block;padding-left: 30px;}
.content-list-course ul li.active a{font-weight: 600;}
.content-list-course ul li.active a:hover{background-color: #f2f3f5;}
.content-list-course ul li a{font-size: 16px;color: #686f7a;}
.content-list-course ul li a:hover{background-color: #f2f3f5; text-decoration: underline;}
.Instructor-heading{font-size: 18px;font-weight: 600;}
.heading-black-dash {text-transform: uppercase;font-family: "Lato", Helvetica, Arial, sans-serif;margin-bottom: 5px;font-size: 20px;}
.course-detail-heading .blog-search{margin:5px;}
.all-Courses-section a{color: #000 !important;text-decoration: none;}


/*profile page css*/
.profile-section{margin: 15px 0;}
.profile-section .featurette{border: 1px solid #dedfe0;}
.profile-section .featurette .side-bar{}
.profile-section .featurette .img-block{padding: 15px 30px;}
.profile-section .featurette .img-block h4{font-weight: 600;text-align: center;}
.profile-section .featurette .nav-sidebar h5{text-align: center;font-size: 16px;color: #0056b5;}
.profile-section .featurette .nav-sidebar ul{}
.profile-section .featurette .nav-sidebar ul li a:hover{background-color: #0056b5;color: #fff;}
.profile-section .featurette .nav-sidebar ul li{}
.profile-section .featurette .nav-sidebar ul li a{color: #0056b5;font-size: 16px;padding: 5px 22px;}
.profile-section .featurette .tab-content{border-left: 1px solid #dedfe0;}
.profile-section .featurette .profile-heading{border-bottom: 1px solid #dedfe0;}
.profile-section .featurette .profile-heading h4{font-weight: 600;font-size: 22px;padding: 14px 0 3px;margin: 0;}
.profile-section .featurette .profile-heading p{font-size: 18px;font-weight: 400;color: #29303b;line-height: 25px;margin: 0 0 15px;}
.profile-section .featurette .profile-content.profile{padding: 10px 142px;height: 338px;}
.profile-section .featurette .profile-content.img{padding: 20px 142px;height: 440px;}
.profile-section .featurette .profile-content.pass{padding: 20px 142px;height: 235px;}
.profile-section .featurette .profile-content.course {padding: 20px 50px;height: 700px;}
.profile-section .featurette .profile-content h5{font-size: 15px;}
.profile-section .featurette .profile-content .form-group label{font-size: 16px;}
.profile-section .featurette .profile-content .form-group .form-control{height: 44px;padding: 11px 12px;border-radius: 2px; 	font-size: 16px;}
.profile-section .featurette .profile-content .upload-img{height: 278px;width: 100%;border: 1px solid #dedfe0;padding: 30px;}
.profile-section .featurette .profile-content .upload-img-inner{background: #f2f3f5;}
.profile-section .featurette .profile-content .upload-img-inner img{display: block;margin:0 auto;}
.profile-section .featurette .profile-content .img-content{padding-top: 12px;}
.img-file-upload{margin-top: 15px;font-size: 16px;}
.img-file-upload .file-note{height: 44px;background: #f2f3f5;border: 1px solid #e8e9eb;padding: 5px 10px;border-radius: 2px;}
.img-file-upload .btn-primary{position: relative; overflow: hidden; margin: 0;padding: 8px 50px;background-color: #0056b5;border-color: #0056b5;color: #fff;}
.img-file-upload .file-input{position: absolute; right: 0px; top: 0px; font-family: Arial; font-size: 118px; margin: 0px; padding: 0px; cursor: pointer; opacity: 0; height: 100%;}
.profile-update-btn{border-top: 1px solid #dedfe0;padding: 15px;}
.chang-pass-content1{border-bottom: 1px solid #dedfe0;padding: 20px 142px;}
.chang-pass-content1 label {font-size: 16px;}
.chang-pass-content1 .form-control{border-radius: 2px;height: 44px;font-size: 16px;}

/*vidio page css*/

.sidenav {height: 100%;width: 0;position: fixed;z-index: 1;top: 0;left: 0;background-color: #f2f3f5;overflow-x: hidden;transition: 0.5s;padding-top: 60px;}
.sidenav{overflow-y: scroll;max-height: 100vh;height: 100vh;}
.sidenav .closebtn {position: absolute;top: 0;right: 25px;font-size: 36px;margin-left: 50px;}
#main {transition: margin-left .5s;position: relative;background: #000;}
.navbar-side-btn{display: none;height: 123px;box-shadow: 12;background: linear-gradient(rgba(20,23,28,.9),rgba(20,23,28,0));position: absolute;top: 0;width: 100%;}
#main:hover .navbar-side-btn{display: block;}
#main a{color: lightgray;}
.course-vidio-block{margin: 10px;}
.course-vidio-block .content li{}
.course-vidio-block .content li span {font-size: 12px;}
.course-vidio-block .content .sub-list p{font-size: 12px;}
.opennav-video{font-size:30px;cursor:pointer; position: absolute; top: 20px;left: 30px;z-index: 2000;color: lightgray;}
.go-to-back{font-size:40px;cursor:pointer; position: absolute; top: 20px;right: 30px;z-index: 3000;}

/*your order css*/
.container-order{max-width: 800px;width: 100%;margin: 0 auto;} 
.my-order-block{padding: 0;margin: 15px 0 25px;}
.form-inline .input-group .input-group-addon{background: #00afef;border-color: #00afef;color: #fff;}
.form-inline .form-group span{font-size: 14px;font-weight: 600;}
.btn-search{padding: 0 19px;height: 33px;background-color: #00afef;color: #fff;border:none;}  
.btn-search:hover{color: #000;}  
.price-order{color: red;font-size: 16px;font-weight: 600;padding-top: 15px;}
.order-innr-content h4 {color: #0056b5 !important;font-weight: 600;}
.order-innr-content p {line-height: 33px;text-align: justify;font-size: 16px;}
.new-invoic-block{margin: 15px 0 0 0;border-bottom: 1px solid lightgray;border-top: 1px solid lightgray;}
.new-invoic-block a{color: #00afef;}
.new-invoic-block p{font-size: 16px;}
.new-invoic-block h5{margin-top: 20px;margin-bottom: 2px;font-weight: 600;}
.new-invoic-block .btn-default{background-color: #0056b5;border: none;height: 25px;padding-top: 0px;color: #fff;font-weight: 600;}
.new-invoic-block .dropdown-menu{min-width: 135px;}
.my-order-block .tab-content{padding: 0;border-left: none !important;}

/*your order css end*/

/*group registration page*/

.group-registration-section h2{font-size: 34px;}
.group-registration-section h3{font-size: 28px;}
.group-registration-section p{margin-top: 12px;font-size: 16px;}
.group-registration-section .blog-search{margin:30px 0 0;}
.group-registration-section .blog-search .form-control{height: 34px;}
.group-registration-section .blog-search .btn-default{padding: 6px 12px;}
.group-registration-section .table-bordered.registered tr th{background: gray;width: 145px;text-align: center;color: #fff;}
.group-registration-section .table-bordered.registered tr td{text-align: center;	}
.group-registration-section .form-group .form-control.first{width: 100%;margin-top: 12px;font-size: 16px;}
.group-registration-section .form-group label{font-size: 18px;}
.group-registration-section .form-group .form-control.second{width: 80px;}
.group-registration-section .btn-default{background-color: #6f51c7;border-color: #6f51c7;color: #fff;margin-bottom: 35px;}
.group-registration-section .table-bordered.new-registration tr th{background: gray;width: 145px;text-align: center;color: #fff;}
.group-registration-section .table-bordered.new-registration tr td{text-align: center;	}
.group-registration-section .table-bordered.new-registration tr td a button{background-color: lightgray;border:1px solid lightgray;font-size: 21px;height: 30px;width: 31px;border-radius: 3px;}

/*forgot password page css*/

#forgot-pass .modal-content{padding: 15px;}
#forgot-pass .modal-content .modal-body{padding: 15px;}
#forgot-pass .modal-content .modal-body p{font-size: 16px;}
#forgot-pass .modal-content .modal-body .form-group label{font-size: 16px;}
#forgot-pass .modal-content .modal-body .btn2{margin-top: 5px;}


/*group result page*/

.group-result-section{margin: 30px 0;}
.group-result-section .group-result-inner{ border: 1px solid lightgray;padding: 30px;border-radius: 12px;margin: 20px 0;background-color: #fff;}
.group-result-section .group-result-inner h2{font-weight: 600;margin-top: 0;}
.group-result-section .group-result-inner p{font-size: 16px;}
.group-result-inner .progress{width: 150px;height: 150px;line-height: 150px;background: none;margin: 0 auto;box-shadow: none;position: relative;margin-top: 25px;}
.group-result-inner .progress:after{content: "";width: 100%;height: 100%;border-radius: 50%;border: 12px solid #fff;position: absolute;top: 0;left: 0;}
.group-result-inner .progress > span{width: 50%;height: 100%;overflow: hidden;position: absolute;top: 0;z-index: 1;}
.group-result-inner .progress .progress-left{left: 0;}
.group-result-inner .progress .progress-bar{width: 100%;height: 100%;background: none;border-width: 12px;border-style: solid;position: absolute;top: 0;}
.group-result-inner .progress .progress-left .progress-bar{left: 100%;border-top-right-radius: 80px;border-bottom-right-radius: 80px;border-left: 0;-webkit-transform-origin: center left;transform-origin: center left;}
.group-result-inner .progress .progress-right{right: 0;}
.group-result-inner .progress .progress-right .progress-bar{left: -100%;border-top-left-radius: 80px;border-bottom-left-radius: 80px;border-right: 0;-webkit-transform-origin: center right;transform-origin: center right;animation: loading-1 1.8s linear forwards;}
.group-result-inner .progress .progress-value{width: 90%;height: 90%;border-radius: 50%;background: #44484b;font-size: 24px;color: #fff;line-height: 135px;text-align: center;position: absolute;top: 5%;left: 5%;}
.group-result-inner .progress.yellow .progress-bar{border-color: #fdba04;}
.group-result-inner .progress.yellow .progress-left .progress-bar{animation: loading-2 1.5s linear forwards 1.8s;}
@keyframes loading-1{0%{-webkit-transform: rotate(0deg);transform: rotate(0deg);}100%{-webkit-transform: rotate(180deg);transform: rotate(180deg);}}
@keyframes loading-2{0%{-webkit-transform: rotate(0deg);transform: rotate(0deg);}100%{-webkit-transform: rotate(144deg);transform: rotate(144deg);}}
@keyframes loading-3{0%{-webkit-transform: rotate(0deg);transform: rotate(0deg);}100%{-webkit-transform: rotate(90deg);transform: rotate(90deg);}}
@keyframes loading-4{0%{-webkit-transform: rotate(0deg);transform: rotate(0deg);}100%{-webkit-transform: rotate(36deg);transform: rotate(36deg);}}
@keyframes loading-5{0%{-webkit-transform: rotate(0deg);transform: rotate(0deg);}100%{-webkit-transform: rotate(126deg);transform: rotate(126deg);}}

/*my result page css*/

.my-result-section{margin: 30px 0;}
.my-result-section .my-result-head{margin-top: 65px;}
.my-result-section .my-result-head h2{font-weight: 600;}
.my-result-section .my-result-inner{border: 1px solid lightgray;margin: 20px 0;padding: 30px;border-radius: 12px;}




@media (max-width: 767px) {
#owl-main .item {height: 200px;}
#owl-main .item img {min-height: 200px;}
#owl-main .owl-pagination {left: 42%;bottom: 0%;}
.courses-section{text-align: center;}
.courses-section h4 {margin-top: 0px;}
.video-block{margin-right: 15px;}
.ebook-section .e-book-content {margin-left: 0px;}
.ebook-section p {margin-top: 10px;}
.section-investment {padding: 0;}
.heading-black-index {margin-top: 0px;margin-bottom: 0;}
.section-blue .input-group{margin-bottom: 12px;}
.copy-right{margin-bottom: 12px;text-align: center;}
.footer-logo{text-align: center;}
.glt-box{margin: 12px 0;}
#lc_chat_layout {right: 10px;}
#sidebar.sticky {position: static !important;width: 100% !important;}
.select-program-block {margin-left: 15px;}
.filter-btn {margin-right: 15px;}
.all-program-section .content-block h3 {margin-top: 20px;}
.main_content .pagination li a {margin-right: 0px;}
.logo {padding: 10px 15px;}
.program-innr-overlay {padding: 12px 0;}
.parallax-overlay {padding: 12px 0;}
.program-inner-content {margin-right: 15px;}
.program-content{margin-right: 15px;}
.program-section .right-side-block {position: static;padding: 0;}
.right-side-block .video-block{margin-right: 0 !important;}
.testimonial .headline-section {margin:0;}
.testimonial {margin-top: 0;}
.section-breadcrumb .heading-black {font-size: 24px;margin-bottom: 0;}
.mentoring-block h2 {margin-bottom: 15px;margin-top: 0;}
.program-section2 {margin: 10px 0;}
.program-section2 .panel-default .panel-heading {font-size: 20px;}
.program-section2 .panel-default .panel-body {height: 355px;}
.product-section .panel-default .panel-body {height: 175px;}
.product-section .panel-default .panel-body .btn-default {margin: 5px 0;}
.ebook-section .book-outer-block {height: auto;}
.ebook-section .book-content {margin-bottom: 20px;}
.ebook-section .video-block .content {padding: 35px;}
.ebook-section .video-block .content h5 {margin-top: 10px;}
.program-cart .program-cart-content {height: 1120px;}
#owl-main .item .carousel-caption h1 {font-size: 20px;}
.section-slider .carousel-caption {top: 0;}
.ebook-section .video-block .modal-content .close {opacity: 1;padding-bottom: 12px;position: absolute;right: 0px;top: -27px;}
.program-section .video-block .modal-content .close {opacity: 1;padding-bottom: 12px;position: absolute;right: 0px;top: -30px;}
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
.navbar-side-btn{display:block;}
.sidenav .closebtn {position: absolute;top: -15px;left: -40px;}
.go-to-back {z-index: 0;position: absolute;top: -12px;right: 10px;}
.tab-content-1 {padding: 0;text-align: justify;}
.content-list-course {text-align: left; }
.content-list-course ul li {padding-left: 0;}
.tab-content-2 {margin: 5px;}
.course-detail-heading .tab-content {margin-top: 10px;}
.course-overlay .price-cup {margin: 45px auto 0px;}
.dashboard .navbar-right {margin-left: 0px;}
.main-menu .navbar-nav > li > a {padding: 5px 17px;}
.navbar-collapse .blog-search .form-control {width: 80%;}
.input-group {width: 100%;margin-left: 15px;}
.navbar-collapse .navbar-left {padding: 5px 15px 0;}
.dashboard .navbar-right  ul{margin:0;padding: 0;}
.navbar-collapse .navbar-right .new-biz-dropdown .profil-dropdown {margin-left: 10px;}
.menu-main {padding: 10px 15px;}
.col-adjust{padding: 0 15px !important;}
.event {margin-left: 15px;}
.elern-price-section .elern-price-block .event-right-content {border-left: none;}
.product-section .nav-tabs li a {padding: 12px 8px;}
.product-section .search-block ul li{padding-left: 0px;}
.product-section .search-block ul{padding: 0;}
.product-section .search-block ul li .input-group {padding-top: 10px;width: 134px;}
.blog-section .blog-inner-block img {height: 160px !important;}
.blog-section .blog-search .input-group {margin-left: 0px;}
.my-courses-section .blog-search .input-group{margin: 0px ;}
.group-registration-section .blog-search .input-group{margin: 0px ;}
.group-result-section .group-result-inner {text-align: center;}
.profile-section .featurette .profile-content.profile {padding: 0 15px 0 30px;}
.profile-section .featurette .tab-content {border-left: 0;}
.profile-section .featurette .profile-content.img {padding: 15px;margin-left: 15px;}
.profile-section .featurette .profile-heading {margin: 0 0 0 15px;}
.profile-update-btn {margin: 0 0px 0 15px;}
.chang-pass-content1 {padding: 5px 10px 5px 25px;}
.profile-section .featurette .profile-content.pass {padding: 5px 10px 5px 25px;}
.profile-content .blog-search .input-group{margin-left: 0;}
.profile-section .featurette .profile-content.course {padding: 0 10px 0 25px;height: auto;}
}