@charset "utf-8";
/* CSS Document */	
@font-face {
    font-family: 'ARIAL';
    src: url('../../frontcss/fonts/FuturaMediumBT.TTF');
}

@font-face {
    font-family: 'ARIALB';
    src: url('../fonts/arail/ARIALB.TTF');
}

@font-face {
    font-family: 'ARIAL';
    src: url('../fonts/arail/ARIAL.TTF');
}
@font-face {
    font-family: 'RUI-ABREU-AZOSANS-BOLD';
    src: url('../fonts/rui/RUI ABREU - AZOSANS-BOLD.OTF');
}

@font-face {
    font-family: 'RUI-ABREU-AZOSANS-LIGHT';
    src: url('../fonts/rui/RUI ABREU - AZOSANS-LIGHT.OTF');
}
@font-face {
    font-family: 'RUI-ABREU-AZOSANS-REGULAR';
    src: url('../fonts/rui/RUI ABREU - AZOSANS-REGULAR.OTF');
}

@font-face {
    font-family: 'TT0290M';
    src: url('../fonts/tt/TT0290M.TTF');
}

@font-face {
    font-family: 'TT0292M';
    src: url('../fonts/tt/TT0292M.TTF');
}

@font-face {
    font-family: 'tt1159m';
    src: url('../fonts/tt/tt1159m.ttf');
}

@font-face {
    font-family: 'Humanst521BT';
    src: url('../fonts/humanst521-bt/Humanst521-BT.ttf');
}
@font-face {
    font-family: 'Humanist521BoldBT';
    src: url('../fonts/humanst521-bt/Humanist521BoldBT.ttf');
}
@font-face {
    font-family: 'Humanst521BTBold';
    src: url('../fonts/humanst521-bt/Humanst521BTBold.ttf');
}
@font-face {
    font-family: 'OpenSans-CondBold';
    src: url('../fonts/opensans/OpenSans-CondBold.ttf');
}
@font-face {
    font-family: 'OpenSans-CondLight';
    src: url('../fonts/opensans/OpenSans-CondLight.ttf');
}

@font-face {
    font-family: 'Humanist777BoldCondensedBT';
    src: url('../fonts/humnst777-cn-bt/Humanist777BoldCondensedBT.ttf');
}

@font-face {
    font-family: 'Humanist777CondensedBT';
    src: url('../fonts/humnst777-cn-bt/Humanist777CondensedBT.ttf');
}
@font-face {
    font-family: 'Humanist777CondensedBT';
    src: url('../fonts/raleway/Raleway-Regular.ttf');
}
body {
	font-family: 'ARIAL_0';
	font-size: 14px;
	line-height: 22px;
	padding: 0px;
	margin: 0px;
	color: #737373;
	letter-spacing: .03em;
	background: #FDF0E0;
}
html, span, applet, object, iframe, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0px;
	padding: 0px;
}
footer, header, figure, aside {
	margin: 0px;
	padding: 0px;
	display: block;
}
q:before, q:after {
	content: '';
}
abbr, acronym {
	border: 0;
	font-variant: normal;
}
sup {
	vertical-align: text-top;
}
sub {
	vertical-align: text-bottom;
}
input, select, textarea, button {
	height: 50px;
	font-family: arial, 'Open Sans', sans-serif;
	direction: ltr;
	color: #3e3e3e;
	font-size: 13px;
	margin: 0em;
	margin: 0px;
	padding: 4px 20px;
	border: 1px solid #d2d2d2;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
	border-radius: 0px;
}
input, button {
	overflow: visible;
}
select option {
	padding-left: 4px;
}
p {
	margin: 0px;
	padding-bottom: 15px;
}
input, textarea, a {
	outline: none;
}
a {
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
input[type=file] + input[type=file] {
	margin-left: 5px;
}
input[type=text], input[type=password] {
	line-height: 16px;
}
select + select, input[type=text] + input[type=text], input[type=password] + input[type=password] input[type=text] + select {
	margin-left: 15px;
}
input[type=text] + input[type=submit] {
	margin-left: 10px;
}
input[type=checkbox] {
	height: 13px;
	width: 13px;
	margin-right: 5px;
	position: relative;
	top: 1px;
}
input[type=submit], input[type=button], input[type=reset], a, button {
	cursor: pointer;
}
input[type=submit], input[type=button], input[type=reset], button {
	overflow: visible;
}
input[type=submit] + input[type=submit], input[type=button] + input[type=button], input[type=reset] + input[type=reset], button + button, .btn + .btn, input[type=submit] + input[type=button], input[type=button] + input[type=submit] {
	margin-left: 5px;
}
input[type=radio] {
	margin-right: 4px;
	position: relative;
	top: 1px;
}
input[type=radio] + abbr, input[type=checkbox] + abbr {
	padding-right: 0px;
}
abbr + select, abbr + input {
	margin-left: 15px;
}
select[class*=col-] {
	padding: 7px 8px;
}
a img, a:hover img, img, a:hover, a input {
	text-decoration: none;
}
a img, img, input[type=checkbox], input[type=radio], iframe {
	border: none;
}
ul {
	margin: 0px;
	padding: 20px 0px 12px 20px;
}
del {
	visibility: hidden;
}
textarea {
	width: 100%;
	max-width: 100%;
	min-height: 40px;
	resize: none;
}
input[type=file] {
	padding: 4px 5px;
	display: inline;
}
input[type=file] + input {
	margin-left: 5px;
}
input[type=text]:active, input[type=text]:focus, input[type=password]:active, input[type=password]:focus, textarea:active, textarea:focus, textarea.form-control:active, textarea.form-control:focus, select:active, select:focus { /*box-shadow:inset #e8e8e8 2px 2px 2px;*/
	border: 1px solid #66afe9;
	/*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(101, 172, 5, 0.6);*/
	box-shadow: none;
	border-radius: 0;
	outline: 0 none;
	border-top: solid 1px #4d9ad3;
	border-bottom: solid 1px #4d9ad3;
}
input, input:focus, input:active, .btn:focus, .btn:active:focus, .btn.active:focus {
	outline: none;
	box-shadow: none;
}
.form-control, .form-control:focus, .form-control:hover {
	box-shadow: none;
	border-radius: 0;
	border: solid 1px #ccc;
}
a {
	color: #65ac05;
}
a:hover {
	color: #3e3e3e;
}
a:visited {
	text-decoration: none;
}
a:hover, a:focus, a:active {
	color: #484848;
	text-decoration: none;
	outline: none;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 0px;
	padding-bottom: 15px;
}
h5 {
	font-size: 12px;
	font-weight: bold;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
td {
	vertical-align: top;
}
select {
	max-width: 255px;
}
input[type=submit], input[type=button], input[type=reset], button, .btn {
	text-decoration: none;
	font-size: 14px;
	color: #fff;
	padding: 16px 50px 14px;
	background-color: transparent;
	text-transform: uppercase;
	border-radius: 0px;
	text-align: center;
	font-family: arial, 'Open Sans', sans-serif;
	border-color: none;
	color: #65ac05;
}
/*input[type=submit]:hover, input[type=button]:hover, input[type=reset]:hover, button:hover, .btn:hover, .btn.focus, .btn:focus, .btn:hover {
	background-color: #b1bc34;
	color: #FFF;
}*/
.btn_red{
  background-color:red !important;
}
img {
	max-height: 100%;
	max-width: 100%;
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
}
{
opacity:0.5;
filter:alpha(opacity=50);
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
hr {
	color: #D0D0D0;
}
address p {
	padding-bottom: 5px;
}
*:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
::-webkit-scrollbar {
width:8px;
}
::-webkit-scrollbar-button {
width:8px;
height:5px;
}
::-webkit-scrollbar-track {
background-color:#DDD;
border: skinny plain lightgray;
box-shadow: 0px 0px 3px #dfdfdf inset;
}
::-webkit-scrollbar-thumb {
background-color:#999;
border: skinny plain gray;
}
::-webkit-scrollbar-thumb:hover {
background:#1b1e24;
}
::-webkit-input-placeholder {
font-family: arial, 'Open Sans', sans-serif;
direction: ltr;
font-size:13px;
color:#7a7a7f;
}
::-moz-placeholder {
font-family: arial, 'Open Sans', sans-serif;
direction: ltr;
font-size:13px;
color:#7a7a7f;
opacity:1;
}
:-ms-input-placeholder {
font-family: arial, 'Open Sans', sans-serif;
direction: ltr;
font-size:13px;
color:#7a7a7f;
opacity:1;
}
input:-moz-placeholder {
font-family: arial, 'Open Sans', sans-serif;
direction: ltr;
font-size:13px;
color:#7a7a7f;
opacity:1;
}
::selection {
	background-color: #65ac05;
	color: #FFF;
}
::-moz-selection {
background-color:#65ac05;
color:#FFF;
}
h1 {
	font-size: 33px;
	color: #000;
	padding-bottom: 15px;
	font-family: arial, 'Open Sans', sans-serif;
	text-align: center;
	padding-bottom: 28px;
}
h2 {
	font-size: 38px;
	font-family: arial, 'Open Sans', sans-serif;
	color: #000;
	padding-bottom: 30px;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
h3 {
	font-size: 27px;
	font-family: arial, 'Open Sans', sans-serif;
	color: #000;
	padding-bottom: 15px;
	text-transform: uppercase;
}
h4 {
	font-family: arial, 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-size: 16px;
	color: #000;
	padding-bottom: 15px;
}
/*-------------------------------------------------------------------------------------------RESET CSS CLOSE*/	
/*-------------------------------------------------------------------------------------------COMMON CSS START*/
.fa {
	min-width: 14px;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}
.fa + .fa {
	padding-left: 10px;
}
input[class*=col-], select[class*=col-], textarea[class*=col-] {
	float: none;
}
html body .mandatory {
	color: #F00;
	font-size: 13px;
	vertical-align: top;
}

#logo {
	float: left;
	padding: 0px;
}
.table-box {
	padding-bottom: 15px;
	width: 100%;
	display: inline-block;
}
.table-box .trow {
	font-family: 'Open Sans', sans-serif;
	float: left;
	width: 100%;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}
.table-box .trow:first-child .tcolumn {
	background-color: #000;
	color: #FFF;
	text-transform: uppercase;
	font-size: 11px;
}
.table-box .trow .tcolumn + .tcolumn {
	margin-left: 2%;
}
.table-box .trow:hover {
	background-color: #EEE;
}
.table-box .trow .tcolumn {
	float: left;
	width: 32%;
	background-color: #FFF;
	color: #000;
	padding: 5px 10px;
	margin-bottom: 2%;
	font-size: 13px;
}
.table-box .trow .w12 {
	width: 12%;
}
.table-box .trow .w24 {
	width: 24%;
}
.tcolumn a {
	color: #393972;
	text-decoration: none;
}
.tcolumn a:hover {
	text-decoration: underline;
}
.fleft {
	float: left;
}
.fright {
	float: right;
}
.frow {
	width: 100%;
	padding-bottom: 35px;
	display: inline-block;
}
.frow > div:first-child {
	float: left;
	width: 182px;
	text-align: center;
}
.frow > div:first-child span {
	color: #F00;
}
.frow > div + div {
	position: relative;
	margin-left: 202px;
}
.frow > div + div p {
	padding-bottom: 10px;
}
.frow > div + div .fa-calendar-o {
	position: absolute;
	top: 10px;
	left: 230px;
}
.crow, .ccrow {
	width: 100%;
	display: inline-block;
}
.ccrow {
	padding-bottom: 15px;
}
.date {
	color: #949494;
	font-size: 11px;
}
ul.list-normal, ul.list-normalN {
	width: 100%;
	list-style: none;
	display: inline-block;
	padding: 5px 0px 20px 0px;
}
ul.list-normal > li + li {
	padding-top: 10px;
}
button.close {
	position: relative;
	z-index: 100;
}
button.close:hover {
	background: none;
}
.carousel {
	margin-bottom: 0px;
}
.navbar-default .navbar-toggle:hover {
	border-color: #333;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #333;
}
.navbar-default {
	background: none;
}
.modal-body {
	padding: 10px 0px 0px 0px;
}
.modal-content {
	padding: 15px 20px 25px;
}
.nrow {
	padding-bottom: 15px;
}
.nrow > div:first-child {
	font-weight: bold;
}
.f11 {
	font-size: 11px;
}
.bold {
	font-weight: bold;
}
.bposi {
	position: relative;
}
article {
	min-height: 200px;
	margin-top: 7%;
}
/*-------------------------------------------------------------------------------------------COMMON CSS CLOSE*/
/**Bootstrap CSS Changes Start*/
.progress-bar {
	background-color: #f9a21a;
}
.row + .row {
	padding-top: 18px;
}
/**Bootstrap CSS Changes End*/ 

.mainBodyPanel {
	background: url(../images/background-cover.png) fixed center center / cover;
	width: 100%;
}
header {
	min-height: 100px;
	background: #4B4B4D;
	color: #fff;
	/* padding: 10px 60px; */
	padding-bottom: 0;
	display: block;
	position: fixed;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 1000;

}
header h1.logo {
  margin: 0 28px;
  padding: 0;
  text-align: left;
}
header .logo img {
	max-width: 180px;
	width: 100%;
	padding: 6px 0;
	text-align: left;
}
.vedioPanel {
	margin: 0;
	padding: 20px 60px;
	background: #858688;
}
.chPanel img {
	border: solid 1px #fff;
}
.chPanel p {
  background: hsl(0, 0%, 100%) none repeat scroll 0 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  color: #858688;
 font-family: 'OpenSans-CondBold';
  font-size: 11px;
  margin: 0 9px;
  padding: 0 3px;
  text-align: center;
}
header .hRhtPanel {
	margin: 0;
	padding: 0;
	text-align: right;
	display: flex;
	vertical-align: text-bottom;
	float: right;
	margin-top: 1em;
	max-width: 460px;
	width: 100%;
	;
}
.hRhtPanel .btn-default {
  background: #858688 none repeat scroll 0 0;
  border: 0 none;
  border-radius: 12px;
  color: #fff;
  font-weight: bold;
  height: 30px;
  margin: 28px 6px 0;
  padding: 3px 10px;
  width: auto;
  font-family: 'Humanst521BT';
  text-transform: none;
  font-size: 16px;
}
.hRhtPanel .btn-default:hover {
	background: #666;
}
.hRhtPanel .btn-default img {
	width: 25%;
	margin-right: 10px;
	vertical-align: middle;
}
.hRhtPanel p {
	margin:8px 4px 0;
	margin-bottom: 0;
	padding-bottom: 0;
	color: #999;
	font-size: 16px;
	font-family: 'Humanst521BT';
}
.hRhtPanel p:nth-child(2){
	margin:0 4px 0;

}
.hRhtPanel p span {
	display: inline-block;
	color: #fff;
}
.hRhtPanel figure {
	max-width: 50px;
	width: 100%;
	text-align: right;
	margin-top: 14px;
}
.middlePanelBody {
	min-height: 600px;
}
.middlePanelBody .darkGrayPanel {
	background: #fff;
	color: #4B4B4D;
	padding: 35px 20px;
	text-align: center;
	margin: 0 15px;
	 font-family: 'RUI-ABREU-AZOSANS-REGULAR';
}
.darkGrayPanel h2 {
	font-size: 24px;
	text-transform: none;
	line-height: 36px;
	color: #333;
	margin-bottom: 0;
	padding-bottom: 0;
	font-family: 'RUI-ABREU-AZOSANS-LIGHT';
	
}
.darkGrayPanel h2 span {
	display: block;
	text-transform: none;
	font-size: 22px;
}
.charGuage {
	text-align: center;
}
.charGuage img {
	max-width: 80%;
	width: 100%;
	text-align: center;
	margin: 0 auto;
}
.charDetailsPanel {
	position: relative;
	margin-top: 3em;
	padding-left: 3em;
	padding-right: 3em;
}
.charDetailsPanel:before {
	content: '';
	position: absolute;
	top: 25%;
	left: 0;
	border-left: solid 1px #666;
	width: 6px;
	height: 70%;
}
.charDetailsPanel p {
	border-bottom: solid 1px #666;
	line-height: 42px;
	font-size: 19px;
	text-align: left;
	margin: 0;
	padding: 0;
	font-family: 'RUI-ABREU-AZOSANS-REGULAR';
}
.charDetailsPanel p:nth-child(3) {
	color: #EC3A36;
	line-height: 22px;
	padding: 8px 0;
}
.charDetailsPanel p:nth-child(4) {
	color: #443F93;
}
.lowWidth {
	max-width: 44%;
	width: 100%;
	text-align: center;
}
.largeWidth {
	max-width: 55%;
	width: 100%;
}
/* css for gnu score panel */
.scoreSectionPanel {
	background: #858688;
	display: flex;
}
.scoreSectionPanel {
	min-height: 200px;
	margin: 0;
	padding: 0 !important;
}
.scoreSectionPanel h2 {
	color: #4B4B4D;
	background: #fff;
	padding: 6px;
	margin: 10px 2em;
	font-size: 24px;
	font-weight: bold;
	text-transform: none;
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
	font-family: 'RUI-ABREU-AZOSANS-BOLD';
}
/*.lftGradpanel {
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 82%, rgba(217,217,217,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(82%, rgba(245,245,245,1)), color-stop(100%, rgba(217,217,217,1)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 82%, rgba(217,217,217,1) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 82%, rgba(217,217,217,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 82%, rgba(217,217,217,1) 100%);
	background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 82%, rgba(217,217,217,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d9d9d9', GradientType=1 );
	padding-bottom: 2em;
}*/
.halfCirclePanel ul {
	list-style-type: none;
	margin: 0;
	padding: 0 0 0 3em;
}
.halfCirclePanel ul li {
	list-style-type: none;
	margin: 0 1.2em;
	padding: 0;
	display: inline-block;
	width: 120px;
}
.halfCirclePanel ul li span {
	display: flex;
	padding: 20px;
	text-align: center;
	font-size: 19px;
	color: #fff;
	font-family: 'RUI-ABREU-AZOSANS-LIGHT';
}
.halfCirclePanel ul li span:first-child {
	border-top-left-radius: 100em;
	border-top-right-radius: 100em;
	text-align: center;
	padding: 23px 20px 13px 20px;
}
.halfCirclePanel ul li span:last-child {
	text-align: center;
	border-bottom-left-radius: 100em;
	border-bottom-right-radius: 100em;
	padding: 13px 0 23px 0;
}
.redCircle span:first-child {
	background: #EC3A36;
	color: #fff;
	text-align: center;
	display: block;
	text-transform: uppercase;
	padding: 23px 20px 13px 20px;
}
.redCircle span:last-child {
	background: #fff;
	color: #EC3A36;
	text-align: center;
	display: block;
	font-size: 25px;
	font-weight: bold;
	padding: 13px 20px 23px 20px;
	font-family: 'RUI-ABREU-AZOSANS-BOLD';
}
.orangeCircle span:first-child {
	background: #F58634;
	color: #fff;
	text-align: center;
	display: block;
	text-transform: uppercase;
	padding: 33px 20px 13px 20px;
}
.orangeCircle span:last-child {
	background: #fff;
	color: #F58634;
	text-align: center;
	display: block;
	font-size: 25px;
	font-weight: bold;
	padding: 13px 20px 23px 20px;
	font-family: 'RUI-ABREU-AZOSANS-BOLD';
}
.greenCircle span:first-child {
	background: #008F02;
	color: #fff;
	text-align: center;
	display: block;
	text-transform: uppercase;
	text-transform: none;
}
.greenCircle span:last-child {
	background: #fff;
	color: #008F02;
	text-align: center;
	display: block;
	font-size: 25px;
	font-weight: bold;
	font-family: 'RUI-ABREU-AZOSANS-BOLD';
}
/* css for section wise panel */
.sectionWisePanel {
	background: #8B2F30;
	min-height: 200px;
	padding: 10px 3em;
	margin: 0 0 1em 0;
	color: #fff;
	padding-bottom: 1em;
}
.sectionWisePanel h2 {
	text-align: center;
	background: #fff;
	color: #8B2F30;
	font-size: 24px;
	padding: 6px 10px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	text-transform: none;
	margin: 5px auto;
	max-width: 370px;
	font-family: 'RUI-ABREU-AZOSANS-BOLD';
}
.lftacc1, .rhtacc2 {
	color: #8B2F30;
	padding: 10px;
	min-height: 194px;
	position: relative;
}
.lftacc1 {
	background: #fff url(../images/accuracy.png) no-repeat center center;
	background-size: 80% 80%;
	padding-top: 8em;
	 font-family: 'RUI-ABREU-AZOSANS-REGULAR';
}
.rhtacc2 {
	background: #fff url(../images/thumbs.png) no-repeat center center;
	background-size: 80% 80%;
	padding-top: 10em;
	font-family: 'RUI-ABREU-AZOSANS-REGULAR';
}
.rhtacc2 span {
  display: block;
  font-size: 11px;
  line-height: 16px;
  margin-top: 5px;
  max-width: 184px;
  padding-left: 2em;
  text-align: center;
  width: 100%;
}
.lftSecAcc .col-md-6 {
	padding-right: 0;
	color: #8B2F30;
	padding-left: 8px;
}
.lftSecAcc {
	font-size: 10px;
	text-align: center;
}
.lftSecAcc strong {
	font-size: 18px;
	display: block;
	text-align: center;
	font-family: 'RUI-ABREU-AZOSANS-BOLD';
}
.rhtacc2 strong {
	font-size: 18px;
}
.rhtTableSecWise tr th {
	color: #333;
	background: #CD8185;
}
.rhtTableSecWise tr td, .rhtTableSecWise tr th {
	border: solid 1px #8B2F30
}
.rhtTableSecWise tr td {
	color: #333;
	padding: 14px!important;
}
.iconsAcc {
	position: relative;
}
.iconsAcc:before {
	position: absolute;
	content: '';
	top: -11px;
	left: 0;
	width: 226px;
	height: 124px;
	background: url(../images/stopwatch.png) no-repeat 2em 0;
	background-size: 30% 55%;
}
.aveQues {
	background: #CC8085;
	color: #333;
	font-size: 19px;
	padding: 10px 20px;
	padding-left: 5em;
	font-family: 'Humanist777CondensedBT';
}
.aveQues span:last-child {
	float: right;
	 font-family: 'Humanist777BoldCondensedBT';
	 font-size: 19px;
}
.cv {
	max-width: 200px;
	width: 100%;
}
/* css fof footer panel */
footer {
	border-top: solid 1px #999;
	padding-top: 10px;
	font: bold 11px arial;
	text-align: left;
	color: #999;
}
.btnAdv {
	text-align: center;
	background: #666;
	padding: 5px;
	max-width: 240px;
	width: 100%;
	margin: 20px auto;
	float: none;
	
	border-radius: 10px;
}
.btnAdv a {
	color: #fff;
	font-family: "RUI-ABREU-AZOSANS-BOLD";
	font-size: 22px;
}
.threeInOneBtn {
	text-align: center;
	max-width: 672px;
	width: 100%;
	margin: 10px auto;
}
.threeInOneBtn a {
	display: block;
}
.threeInOneBtn img {
	max-width: 92%;
	width: 100%;
}
.footPanel {
	font: bold 12px Arial, Helvetica, sans-serif;
	padding: 2px 0;
	color: #000;
	margin-bottom: 2em;
}
.threeInOneBtn ul {
	list-style-type: none;
}
.threeInOneBtn li {
	list-style-type: none;
	text-align: center;
	margin-bottom: 1em;
}
.roundSirLec {
	border: solid 1px #fff;
	padding: .5em 1em;
	border-radius: 12px;
	max-width: 300px;
	width: 100%;
	position: relative;
	font-size:25px;
	font-family: 'OpenSans-CondBold';
	text-align: center;
	margin: .6em auto;
	color: #fff;
	line-height: 28px;
}
.roundSirLec::before {
  border-bottom: 1px solid hsl(0, 0%, 100%);
  content: "";
  height: 1px;
  left: -41px;
  position: absolute;
  top: 53%;
  width: 40px;
}



.roundSirLec span::before {
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 20px;
  content: "";
  height: 13px;
  left: -54px;
  position: absolute;
  top: 46%;
  width: 13px;
}
.roundSirLec::after {
  border-bottom: 1px solid hsl(0, 0%, 100%);
  content: "";
  height: 1px;
  left: 100%;
  position: absolute;
  top: 53%;
  width: 40px;
}
.roundSirLec span::after {
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 20px;
  content: "";
  height: 13px;
  position: absolute;
  top: 46%;
  width: 13px;
}

.roundSirLec span::after {
  right: -53px;
}
.bWCol {
	min-height: 250px;
	display: flex;
	margin: 0 15px;
	text-align: center;
	border-top: solid 6px #fff;
}
.bWCol .textC1 {
	color: #fff;
	padding: 20px 15px;
	background: #4b4b4d url(../images/white%20over%20circle.png) no-repeat 70% center;
	background-size: 52% 70%;
}
.bWCol .textC1, .bWCol .textC3, .bWCol .textC2 {
	position: relative;
}
.bWCol .textC1 p, .bWCol .textC3 p, .bWCol .textC2 p {
	position: absolute;
	top: 56%;
	left: 42%;
	color: #fff;
	font-size:70px;
	 font-family: 'ARIAL';
	z-index: 9;
}
.textC3 p {
	color: #000;
}
.bWCol .textC1 h3, .bWCol .textC3 h3, .bWCol .textC2 h3 {
	text-transform: uppercase;
	max-width: 100px;
	width: 100%;
	font-size: 20px;
	color: #fff;
	margin:0;
	 font-family: 'Humanst521BT';
}
.bWCol .textC2 h3 {
	color: #000;
	text-align: left;
	max-width: 130px;
	margin-left: 0;
}
.bWCol .textC3 h3 {
	color: #fff;
	text-align: left;
}
.bWCol .textC2 {
	color: #000;
	padding: 20px 15px;
	background: #fff url(../images/black%20over%20circle.png) no-repeat 70% center;
	background-size: 52% 70%;
}
.bWCol .textC3 {
	color: #fff;
	padding: 20px;
	background: #4B4B4D url(../images/white%20over%20circle.png) no-repeat 70% center;
	background-size: 52% 70%;
}
.textC2 p {
	color: #666 !important;
}
.lenghtTextDate {
	text-align: center;
	font-size: 28px;
	color: #fff;
	background: #858688;
	padding: 20px;
	border-bottom: solid 6px #fff;
	border-top: solid 6px #fff;
	font-family: 'Humanst521BT';
}
.lenghtTextDate p {
	margin: 0;
	padding: 0;
}
.lenghtTextDate p span {
	background: #4B4B4D;
	padding: 6px 22px;
	border-radius: 18px;
	color: #fff;
	margin-left: 2em;
	font-size: 24px;
}
.m-t-15 {
	padding-top: 0 !important;
}


 .demoTextBox{
			background:#8B2F30;
			padding:10px 30px;
			padding-bottom:2em;
			margin-bottom:2em;
		}
		 .demoTextBox h2{
			 text-align:center;
			 font-size:28px;
			 font-family: 'Humanst521BT';
			 margin:0;
			 padding:0;
			 color:#fff;
			 position:relative;
			 z-index:9;
			 text-transform: none;
		 	}
		 	.demoTextBox h2 span {
  padding-left: 30px;
}
		.textDetailsPanel{
			background:#fff;
			padding:30px;
			min-height:300px;
			}
		.demoTextBox h2:before{
			content:'';
			position:absolute;
			width:360px;
			height:20px;
			background:#8B2F30;
			left: 35.0%;
			top: 100%;
			border-bottom-right-radius:12px;
			border-bottom-left-radius:12px;
			z-index:1;
			}
		.textDetailsPanel{
			text-align:center;
		}
		.textDetailsPanel p{
			padding:0;
			color:#353535;
			font-weight: 600;
			font-size:16px;
			font-family: 'Humanst521BT';
		}
		.textDetailsPanel p span{
			display:block;
		}
		.dtDemo{
			margin-top:1em;
			padding:0;
		}
       .dtDemo .col-md-4{
		   background:url(../images/demo.png) no-repeat center center;
		   background-size:95% 76%;
		   min-height:270px;
		   position: relative;		    
	   	}
		.dtDemo h3{
			text-align:center;
			font-size:28px;
			font-family: 'Humanst521BT';
			color:#fff;
			margin-top:1.4em;
			text-transform: none;
			}
		.dtDemo p{
			margin:0;
			padding:0;
			color:#fff;
			text-align:center;
		}
		.dtDemo p span{
			font:normal 24px Arial, Helvetica, sans-serif;
			padding:0;
			float:left;
			padding-top:4px;
			}
		.dtDemo p span:first-child {
  font-size: 28px;
  left: 28px;
  padding-left: 62px;
  position: absolute;
  top: 40%;
}
.dtDemo p span:last-child {
  font-size: 28px;
  padding-left: 52px;
  position: absolute;
  right: 85px;
  top: 40%;
  font-family: 'Humanst521BT';
}
		.dtDemo p small:first-child{
			display:block;
			font-size:14px;
			font-weight:normal;
			font-family: 'Humanst521BT';
			}
.dtDemo a {
  bottom: 29px;
  clear: both;
  color: #fff;
  display: block;
  font-family: "Humanst521BT";
  font-size: 24px;
  left: 24%;
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 12px;
  position: absolute;
  text-align: center;
  padding-bottom: 12px;
}			
			
/* css for progressing bar panel */
			 .rst h2{
			text-align:center;
			font-size:28px;
			font-family: 'Humanst521BT';
			text-transform:none;
		}
		.rst h2 span{
			background:#606062;
			color:#fff;
			padding: 5px 20px;
			border-radius:15px;
			margin-bottom:20px;
			margin-right: 15px;
		}
		
		.progressBarPanel{
			display:block;
			
			padding:0 20px;
			}
		.progressBarPanel .pbp:nth-child(1){
			
			
			}
		.progressBarPanel .pbp:nth-child(3){	
			}
		.progressBarPanel .pbp p{
			background:#858688;
			color:#fff;
			padding:15px 5px;
			text-align:center;
			font-size:17px;
			font-family: 'Humanst521BT';
			margin-bottom:2em; 
			}
		.progressBarPanel .pbp p span{
			display:block;
		}
 	.pbp .lftBarCont1{
		   max-width:200px;
		   width:100%;
		   float:left;
		   font-size:16px;
		   text-align:right;
		   font-family: 'RUI-ABREU-AZOSANS-LIGHT';
		   color: #000;
	   }
	   .pbp .rhtBarCont1{
		   max-width:100px;
		   width:100%;
		   float:right;
		   font-size:16px;
		   text-align:left;
	   }
	     .pbp .rhtBarCont1 span{
			 display:block;
		 }
	    .pbp .midBarCont1{
			max-width:400px;
		   width:100%;
		   float:left;
		   font-size:16px;
		   text-align:right;
		   padding:0 10px;
		}		
		
/* css for progressive bar */
progress[value]{
    -webkit-apperance: none;
    apperance: none;
    
    width: 100%;
    height: 20px;
}

progress{
        -webkit-apperance: progress-bar;
        box-sizing: border-box;
        display:inline-bloack;
        height: 1em;
        width: 10em;
        vertical-align: -0.2em;
}

input, textarea, keygen, button, isindex, user agent stylesheet meter, progress{
    -webkit-writing-mode: horizontal-tb;
}

progress[value]::-webkit-progress-bar{
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.25) inset;
}

progress[value]::-webkit-progress-value{
    background-image:#ccc;
        
    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}		
			
	
	
/* end here css First Page */
.p-0{padding: 0;}
.row-white{background-color: #fff; padding: 40px 0; height: 210px;}
.media-demo .media-object {width: 75px;}
.section-demo-test{overflow: hidden;}
.media-demo .media-body {
   padding: 4px 12px 0;
}
.media-demo .media-body .media-heading {
  padding-bottom: 0;
  text-transform: none;
  color: #4c4c4e;
  font-family: 'Humanst521BT';
  font-size: 24px;
}
.heading-black {
  font-weight: bold;
  color: #4c4c4e;
  text-transform: none;
  font-size: 28px;
  font-family: 'Humanst521BT';

}
.row-red{ background-color: #8b2f30; position: relative; }
.circle > img {
  width: 195px;
  border: 10px solid #8b2f30;
  border-radius: 50%;
}
.question-circle {
  position: relative;
  text-align: center;
  top: -65px;
}
.title {color: #ffffff;font-family: 'Humanst521BT';font-size: 18px;margin-top: 20px;}
.row-gray{background-color: #d2d3d5;  padding-top: 0 !important;}
.heading-instruct{font-size: 18px;color: #1a1a1c; font-family: 'RUI-ABREU-AZOSANS-BOLD';margin-left: 60px; text-transform: none;text-align: center; padding-bottom: 0;}
.instructions-info {
  color: #1d1e20;
  font-family: "RUI-ABREU-AZOSANS-REGULAR";
  font-size: 15px;
  padding: 0px 48px;
}
.col-read{border-top-right-radius: 28px;padding: 12px 5px 0;position: relative;top: -20px;background-color: #d2d3d5;}
.row-light-gray{background-color: #e6e7e9;padding: 50px 0 !important;}
.btn-start {
  background-color: #8b2f30;
  border-color: #8b2f30;
  border-radius: 20px;
  color: hsl(0, 0%, 100%);
  height: auto;
  padding: 2px 0;
  width: 130px;
  font-family: 'Humanst521BT';
 /* font-family: 'Humanst521BT';*/
  text-transform: none;
  font-size: 17px;
}
.btn-start:hover,.btn-start:focus,.btn-start:active{background-color: #8b2f30;border-color: #8b2f30; color: #fff;}
.btn.btn-start .bnt-circle {
	background-color: #cd8185;
	display: block;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	float: right;
	margin-right: 2px;
	margin-top: 2px;
  
}
.btn.btn-start span {
  float: left;
  padding: 0 10px;

}
.col-start{text-align: center;}
.btn-cancel{background-color: #858688;
  border-color: #858688;
  border-radius: 20px;
  color: hsl(0, 0%, 100%);
  height: auto;
  padding: 2px 0;
  width: 130px;font-size: 16px;}
  .btn-cancel:hover,.btn-cancel:focus,.btn-cancel:active{background-color: #858688;border-color: #858688; color: #fff;}


  .btn.btn-cancel .bnt-circle {
	background-color: #aaabaf;
	display: block;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	float: right;
	margin-right: 2px;
	margin-top: 2px;
  
}
.btn.btn-cancel span {
  float: left;
  padding: 0 10px;
  /*font-family: 'Humanst521BT';*/
  text-transform: none;

}
.col-start .btn{margin:0 40px;}
.main-container{width: 1000px;}

/*Exit page css*/
.container-exit{width: 800px;}
.row-light-red{background-color: #cd8185; position: relative; padding:70px 0 !important;}
.heading-white{text-transform: none; color: #fff; text-align: center;line-height: 38px;}
.student-img {
  bottom: -85px;
  left: 11%;
  position: absolute;
}
.student-img > img {
  width: 145px;
}
.row-back{background-color: #fff; height: 500px;}
.col-back{text-align: center; padding-top:20px;}
.btn-sure{width: auto;}
.col-back p{margin-bottom: 15px;}
.col-back .btn{margin:0 10px;}

/*Test page css*/

.btn-gray{font-family: 'RUI-ABREU-AZOSANS-LIGHT';background-color: #4b4b4d !important; border-color: #4b4b4d; color: #fff; border-radius: 20px; height: auto;padding: 4px 40px;}
.btn-gray:hover,.btn-gray:focus,.btn-gray:active{background-color: #4b4b4d; border-color: #4b4b4d;color: #fff;}
.btn-gray-border{font-family: 'RUI-ABREU-AZOSANS-LIGHT';border-color: #4b4b4d; color: #4b4b4d;border-radius: 20px; height: auto;padding: 4px 40px;}
.btn-gray-border:hover,.btn-gray-border:focus,.btn-gray-border:active{background-color: #4b4b4d !important; border-color: #4b4b4d;color: #fff;}
.btn-padd{padding: 4px 20px;}


.heading-demo{color: #4b4b4d;  font-family: 'Humanst521BTBold';text-transform: none;}
.question-title{border-bottom: 3px solid #84342b;}
.question-title span{font-family: 'Humanst521BT'; background-color:#84342b; border-top-right-radius: 20px; color: #fff;padding: 5px 15px;}
.question-type{padding: 20px 0;}
/* radio button */
.other-option {list-style: none; padding:0;}
.other-option a{color:#777;}
.other-option a:hover,.other-option a:focus,other-option a:active{ color:#84342b;}


label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + span{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + span{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #84342b;
  border-radius: 50%;
  background-color: #84342b;
}

.icon-number{font-size:15px;background-color:silver; border-radius: 50%; height: 30px !important; width: 30px !important; color: #fff;padding: 4px; text-align: center; }
.question-no a{padding: 0 20px 0 0;}
.question-type p{padding-bottom: 0;}
.question-type div p{padding-bottom: 0; padding-left: 26px;}

.right-side{background-color:#eee;}

.btn-group4 .btn {
  margin: 2px;
}
.right-side {
  background-color: #858688;
  height: 100%;
  padding: 50px 0 0;
  position: fixed;
  top: 100px; 
  width: 362px;
  right:0;
  bottom: auto;
}

.btn-group5 {
  margin: 20px;
  padding: 0 20px;
}
.title2.mark-review {
  width: 203px;
}

.btn-number{background-color:#fff;  border-color:#fff; color:#4d4d4f;height: 45px;
  padding: 10px 0;
  text-align: center;
  width: 45px;
  border-radius: 4px;
  }
.btn-number:hover,.btn-number:focus,.btn-number:active{ color:#fff; background-color:#4b4b4d;border-color: #4b4b4d; }
.btn.active{background-color: #4d4d4f; border-color: #4d4d4f;color:#fff;}
.btn-red {
  background-color: #FF5E00;
  border-color: #FF5E00;
  border-radius: 4px;
  color: #fff;
  height: 45px;
  padding: 10px 0;
  text-align: center;
  width: 45px;
  font-family: 'ARIAL';
}
.btn-violet {
  background-color: #F18932;
  border-color: #F18932;
  color: #fff;
  height: 45px;
  padding: 10px 0;
  text-align: center;
  width: 45px;
}
.btn-green3 {
  background-color: #00A958;
  border-color: #00A958;
  color: #fff;
  height: 45px;
  padding: 10px 0;
  text-align: center;
  width: 45px;
}
/* radio button  css end*/

.col-white{background-color: rgba(255,255,255,0.7); position: relative; padding: 20px 0; margin-top: 7.2%;}
.heading-overview {
  color: hsl(0, 0%, 100%);
  font-family: "Humanst521BT";
  text-transform: none;
}

/*check box css*/
.checkbox{color: #fff;}
.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #00a958;
    border-radius: 0;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
    background-color: #00a958;
    color: #fff;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: 1;
}
.btn-group4 {
  padding: 0 41px;
}
.cr-orange{background-color: #f18932 !important; border-color:#f18932 !important; }
.cr-blue{background-color: #D50000 !important; border-color: #D50000 !important;}
.cr-white{background-color: #fff !important; color: #4B4B4D !important; border-color: #fff !important;}
.attempt-box{margin:15px 35px 0px; font-family: "Humanist777CondensedBT";}
.btn-qust {
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  color: hsl(210, 1%, 53%);
  font-family: "Humanst521BT";
  font-size: 18px;
  font-weight: bold;
  height: auto;
  margin-left: 0;
  padding: 5px 20px;
  text-transform: none;
}
.btn-qust:hover,.btn-qust:focus,.btn-qust:active{background-color:#4b4b4d;border-color: #4b4b4d;color: #fff; }
.bottom-section{background-color: #858688;}
.right-panel{width: 360px;}
.left-panel {
  width: 662px;
}
.bottom-section {
  bottom: 0;
  left: 0;
  padding: 10px 0;
  position: fixed;
  right: 0;
  text-align: center;
  width: 75%;
  z-index: 99;
}

.btn-white{background-color: #fff; text-transform: none; border-color: #fff; color: #4b4b4d; height: auto; padding: 4px 20px; border-radius: 20px;}
.btn-white:hover{background-color: #4b4b4d; border-color: #4b4b4d; color: #fff;}
/*.btn-white:active,.btn-white:focus{background-color: #fff; border-color: #fff; color: #4b4b4d;}*/
.right-side{z-index: 100;}
.btn-save{padding: 4px 50px;}
.btn-skip{padding: 4px 54px;}
.btn-review{padding: 4px 25px;}
.btn-clear{padding: 4px 20px;}
.section-demo-test{background: hsla(0, 0%, 0%, 0) url("../images/background-cover.png"); background-size: cover; background-repeat:no-repeat; background-position: center center;  height: 100%; background-attachment: fixed;}
.question-type {
  min-height: 525px;
  font-family: 'RUI-ABREU-AZOSANS-LIGHT';
  
}
.first-col{min-height: 530px;}
.left-box{padding: 0 50px;}
.progress{background-color: #d2d3d5;}
.bg-gray{background-color: #858688;}
.middlePanelBody{overflow: hidden;}

.modal-intsruction .modal-content {
  padding: 0;
}
.modal-intsruction .modal-content  .modal-header .modal-title{padding-bottom: 0;line-height: 48px; text-transform: none; color: #fff;}
.modal-intsruction .modal-content  .modal-header{padding: 0 15px; background-color: #4B4B4D;}
.modal-intsruction .modal-content  .modal-header .close{color: #fff;opacity: 1;}
.hRhtPanel span b{color: #7b7b7d; font-size: 20px;}
.chPanel{position: relative;}
.play-icon-block {
  left: 36%;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  top: 30%;
}
.play-icon-block.text-center img {
  border: medium none;
  width: 45px;
}
/*media css*/

@media (max-width: 1200px){
.halfCirclePanel ul li{margin:0 5px;}
.first-col {padding: 0;width: 0;min-height: auto;}
.left-panel {width: 66.6667%;}
.right-side { position: relative;width: 100%;min-height: 800px;}
.right-panel {float: left;width: 33.3333%;}
.bottom-section{width: 100%;position: relative;}
.left-box {min-height: 590px; }
.col-white{width: 100%;}
.right-panel {float: left;width: 100%;}
}

@media (max-width: 992px){
	.main-container {width: 100%;}
	.dtDemo .col-md-4 {position: relative;background: hsla(0, 0%, 0%, 0) url("../images/demo.png") no-repeat scroll center center / 50% 84%;}
	.test1 > h3 {margin-top: 0;padding-top: 30px;}
	.test2 > h3 {margin-top: 0;padding-top: 30px;}
	.test3 > h3 {margin-top: 0;padding-top: 30px;}
	.dtDemo p{padding: 16px;}
	.dtDemo p span:first-child {left: 38%;padding-left: 0;position: absolute;  top: auto;}
	.dtDemo p span:last-child {font-size: 28px;padding-left: 0;right: 38%;position: absolute;top: auto;}
	.dtDemo a {bottom: 30px; left: 45%;position: absolute;text-align: center;}
	.container-exit{width: 100%}
	.left-panel {width: 100%;}
	.right-panel {width: 100%;}
	.left-box {min-height: auto;}
	.right-side{min-height: auto;}
	.col-white{padding: 50px 0 3px;}
	.bottom-section .btn{margin-bottom: 5px;}


}

@media (max-width: 768px){
	.dtDemo .col-md-4 {background: hsla(0, 0%, 0%, 0) url("../images/demo.png") no-repeat scroll center center / 60% 84%;position: relative;}
	.dtDemo p span:first-child {left: 35%;}
	.dtDemo p span:last-child {right: 35%;}
	.lenghtTextDate p span {margin-left: 0;padding: 6px 22px; display: block;}
	.bWCol { display: block;min-height: auto;}
	.bWCol .textC1, .bWCol .textC3, .bWCol .textC2 {min-height: 200px;}
	.bWCol .textC1 {
  background: hsl(240, 1%, 30%) url("../images/white%20over%20circle.png") no-repeat scroll center center / 28% 80%; }
  .bWCol .textC2 {
  background: hsl(0, 0%, 100%) url("../images/black%20over%20circle.png") no-repeat scroll center center / 28% 80%;}
  .bWCol .textC3 {
  background: hsl(240, 1%, 30%) url("../images/white%20over%20circle.png") no-repeat scroll center center / 28% 80%;}
  .bWCol .textC1 p, .bWCol .textC3 p, .bWCol .textC2 p {font: bold 50px Arial,Helvetica,sans-serif;left: 43%;
 top: 48%;}
.progressBarPanel .pbp p{text-align: left;}
.progressBarPanel {padding: 0 20px 20px;}
.pbp {text-align: center;}
.halfCirclePanel ul li {margin: 8px 6px;}
.halfCirclePanel > ul {padding: 0; text-align: center;}
.lowWidth {max-width: 100%;}
.threeInOneBtn img {height: 60px;max-width: 100%;width: auto;margin: 0 auto;}
.largeWidth {max-width: 100%;}
.scoreSectionPanel {display: block;}
.student-img {left: 0;}
.row-back{height: auto;}
.btn-gray{padding: 4px 30px;}
.btn-gray-border{padding: 4px 30px;}
.btn-padd {padding: 4px 12px;}

}

@media (max-width: 600px){
	.bWCol .textC1 {
  background: hsl(240, 1%, 30%) url("../images/white%20over%20circle.png") no-repeat scroll center center / 39% 80%; }
  .bWCol .textC2 {
  background: hsl(0, 0%, 100%) url("../images/black%20over%20circle.png") no-repeat scroll center center / 39% 80%;}
  .bWCol .textC3 {
  background: hsl(240, 1%, 30%) url("../images/white%20over%20circle.png") no-repeat scroll center center / 39% 80%;}
.bWCol .textC1 p, .bWCol .textC3 p, .bWCol .textC2 p {left: 39%;}
.dtDemo .col-md-4 {background: hsla(0, 0%, 0%, 0) url("../images/demo.png") no-repeat scroll center center / 80% 84%;
  }
  .dtDemo p span:first-child {left: 30%;}
  .dtDemo p span:last-child {right: 30%;}
  .roundSirLec{font: bold 21px Arial,Helvetica,sans-serif;}
  .roundSirLec::after{content: none;}
  .roundSirLec::before{content: none;}
  .roundSirLec span::after{content: none;}
  .roundSirLec span::before{content: none;}
  .student-img {bottom: 0;position: absolute;}
  .student-img > img {width: 100px;}
  .col-start .btn {margin: 5px 40px;}
}


@media (max-width: 480px){
	.bWCol .textC1 {
  background: hsl(240, 1%, 30%) url("../images/white%20over%20circle.png") no-repeat scroll center center / 52% 80%; }
  .bWCol .textC2 {
  background: hsl(0, 0%, 100%) url("../images/black%20over%20circle.png") no-repeat scroll center center / 52% 80%;}
  .bWCol .textC3 {
  background: hsl(240, 1%, 30%) url("../images/white%20over%20circle.png") no-repeat scroll center center / 52% 80%;}
  .bWCol .textC1 p, .bWCol .textC3 p, .bWCol .textC2 p {left: 36%;}
.dtDemo .col-md-4 {background: hsla(0, 0%, 0%, 0) url("../images/demo.png") no-repeat scroll center center / 100% 84%;
min-height: 230px;}
.dtDemo p span:first-child {left: 22%;padding: 5px;}
.dtDemo p span:last-child {right:22%;padding: 5px;}
.dtDemo a {bottom: 24px;left: 39%;}
.test1 > h3 {padding-top: 25px;}
.test2 > h3 {padding-top: 25px;}
.test3 > h3 {padding-top: 25px;}
.student-img > img {width: 64px;}
.col-back .btn {margin: 6px 10px;}



}

.tab-quetion {
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 0 18px 0 hsl(0, 0%, 87%);
  margin-bottom: 20px;
  padding: 0;
  position: relative;
  margin-top: 120px;
}

.head-desc {
  background-color: #eee;
  margin-top: 10px;
  padding: 10px;
}


/*analysis css*/
 .tab-analysis {
 background-color: #8B2F30;
  padding: 0;
}
/*.tab-analysis li{width: 33.33%;}*/
.tab-analysis > li.active > a, .tab-analysis > li.active > a:focus, .tab-analysis > li.active > a:hover{
	 background-color:  #9a3e3f;border:none; color: #fff;
}
.tab-analysis > li a:hover,.tab-analysis > li a:focus,.tab-analysis > li a:active{background-color:  #9a3e3f; border-color:#9a3e3f; }
.tab-analysis > li a{color: #fff;font-family: 'Humanst521BT';font-size: 16px;padding: 14px 25px;}
.analysis-content{background-color: #fff;}
.question_analysis ol{padding: 0 20px;}
.question_analysis{padding:0 20px;}
.rightAnswerExpla {
  border: 2px solid hsl(185, 18%, 88%);
  border-radius: 5px;
  box-sizing: border-box;
  float: left;
  margin-bottom: 20px;
  margin-top: 30px;
  padding: 25px;
  position: relative;
  width: 100%;
}
.rightAnswerExpla i.ExplanationMark {
  background: hsla(0, 0%, 0%, 0) url("../images/answerBoxArrow.png") no-repeat scroll 0 0;
  height: 13px;
  left: 25px;
  position: absolute;
  top: -13px;
  width: 25px;
}
.heading-alrt {
  font-size: 24px;
  margin-top: 20px;
  padding-bottom: 10px;
}
.correct-naswer{color: #5ED181;}
.section-analysis{padding: 20px 0;}
.mt-20{margin-top: 20px;}
.analysis-content .tab-pane{padding-top: 20px;}
.panel-box .panel-heading{background-color: #8B2F30;color: #fff; font-size: 20px; padding:20px;}

.highcharts-button-symbol {
  display: none;
}
.charGuage {
  height: 255px !important;
  position: relative;
}
.chart-tag {
  bottom: 0;
  position: absolute;
}
.center-padding-bottom span {
  padding: 0;
  font-size: 12px;
}
.cb {
  height: 15px;
  margin-right: 8px;
  width: 15px;
  display: inline-block;
}
.span-red {
  background-color: red;
}
.span-yellow {
  background-color: yellow;
}
.span-blue {
  background-color: #0080FF;
}
.span-green {
  background-color: #1BCD6B;
}

.rhtTableSecWise .table tr th,.rhtTableSecWise .table tr td{ text-align: center; }
.vedioPanel .col-md-6{width: 56%;}
.vedioPanel .col-md-3{width: 22%;}

/* manisha css*/
.textC1{position: relative;}
.textC1 p:nth-child(1) {
  left: 85px;
  position: absolute;
  top: 43px;
  font-family: "Humanst521BT";
  font-size:26px;
  line-height: 27px;
}
.textC2 p:nth-child(1) {
  font-family: "Humanst521BT";
  font-size: 24px;
  left: 52px;
  line-height: 27px;
  position: absolute;
  top: 43px;
}
.textC3 p:nth-child(1) {
  left: 74px;
  position: absolute;
  top: 43px;
  font-family: "Humanst521BT";
  font-size: 26px;
  line-height: 27px;
}

.user-name {
  margin-top: 5px;
}
.header-container{padding-right: 20px;padding-left: 45px;}
.lftacc1 > span {
  font-size: 11px;
}
.rhtTableSecWise .table {font-family: 'Humanist777BoldCondensedBT';}
.rhtTableSecWise .table tr th{padding: 8px;font-size: 18px; }
.rhtTableSecWise .table tr td{border-top: 2px solid #8B2F30;}
.rhtTableSecWise .table tr:first-child td{border-top: 4px solid #8B2F30;}
.halfCirclePanel {padding-bottom: 20px;}
.sectionWisePanel .col-md-7{padding-left: 8px;padding-right: 8px;}
.tab-answer{margin: 0 0 20px;}
.col-answer{ margin-top: 10%; }
.rhtTableSecWise {margin-bottom: 5px;}
/*.container-white{background-color: #fff;}*/
.test-container{margin-top: 8%;}
.media-demo{font-family: 'Humanst521BT';}
.questionNoOutter .quesNo {
  font-weight: bold;
  height: 31px;
  line-height: 22px;
  width: 31px;
}
.questionNoOutter ul li {
  border: 1px solid hsl(180, 13%, 86%);
  border-radius: 50px;
  color: hsl(0, 0%, 40%);
  float: left;
  font-family: calibri,calibriregular;
  font-size: 16px;
  height: 35px;
  line-height: 32px;
  margin-right: 10px;
  position: relative;
  text-align: center;
  width: 35px;
}
.questionNoOutter li {
  list-style: outside none none;
}
.questionNoOutter ul li .questionIcons {
  background: hsla(0, 0%, 0%, 0) url("../images/questionIcons.png") no-repeat scroll 0 -3px;
  height: 10px;
  position: absolute;
  right: -1px;
  top: -5px;
  width: 10px;
}
.questionIcons.wrongAnswer {
  background-position: 0 -16px !important;
}
.questionNoOutter ul li .notattempted{background-position: 0 -29px !important;}

/*footer css*/
/*footer {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
}*/
#footer {
  background-color: #000;
  color: hsl(0, 0%, 100%);
  padding:15px 0;
}

.footer-content{ font-size: 14px;font-family: 'Futura MD BT'; font-weight: normal;}
.btn-group5 .btn {
  margin-left: 0;
}
.btn-group4{max-height: 250px; min-height: 250px; overflow: auto;}
.hRhtPanel > span {font-family: 'Humanst521BT'; font-size: 18px;}
.hRhtPanel strong {
  font-size: 30px;
}
.pbp .btn-sure {
  margin-top: 15px;
  
}
.instructions-info ol li {
 padding-left: 20px;
}
.media-demo .media-body .heading-black {font-family: 'Humanst521BTBold';}
.btn-group5 {
  bottom: 5px;
  margin: 0 auto;
  position: fixed;
  text-align: center;
  width: 362px;
}
#myModal .modal-content .modal-body .instructions-info{padding: 0 30px;}
.analysis-box .tabcontent{padding:0 30px;}
.analysis-box #tab4{padding: 0 5px;}
.start-btn .btn-start {
  background-color: hsl(359, 49%, 36%);
  border-color: hsl(359, 49%, 36%);
  border-radius: 20px;
  color: hsl(0, 0%, 100%);
  font-family: "Humanst521BT";
  font-size: 23px;
  font-weight: normal;
  height: 29px;
  line-height: 27px;
  padding: 0;
  text-transform: none;
  width: 140px;
}

.start-btn .btn-cancel{background-color: #858688;
  border-color: #858688;
  border-radius: 20px;
  color: hsl(0, 0%, 100%);
  height: auto;
   height: 29px;
  padding: 0;
  line-height: 27px;
  font-family: 'Humanst521BT';
  width: 140px; font-size: 23px;}
  .start-btn .btn.btn-cancel .bnt-circle {
	background-color: #aaabaf;
	display: block;
	height: 24px;
	width: 24px;
	border-radius: 50%;
	float: right;
	margin-right: 2px;
	margin-top: 1px;
  
}
.start-btn .btn.btn-cancel span:first-child{padding-left: 25px;}
.start-btn .btn.btn-start .bnt-circle {
  background-color: hsl(357, 43%, 65%);
  border-radius: 50%;
  display: block;
  float: right;
  height: 24px;
  margin-right: 2px;
  margin-top: 1px;
  width: 24px;
}
.start-btn .btn.btn-start span:first-child{padding-left: 25px;}

.bWCol .textC1 .num, .bWCol .textC3 .num, .bWCol .textC2 .num {
	position: relative;
	color: #fff;
	font-size: 50px;
	font-family: 'ARIAL';
	z-index: 9;
	margin-top: 0;
	left: 0;
}
/*media css*/
@media(max-width: 1200px){
	.bWCol .textC1,.bWCol .textC2,.bWCol .textC3{background-size: 64% 70%;}
	.bWCol .textC1 .num, .bWCol .textC3 .num, .bWCol .textC2 .num {
	left: -15px;margin:3px auto 0;}
	.textC1 p:nth-child(1) {left: 70px !important;font-size: 18px;}
	.textC2 p:nth-child(1) {font-size: 18px;left: 45px !important;}
	.textC3 p:nth-child(1) {left: 60px !important;font-size: 18px;}
	.dtDemo p span:first-child { left: 37%;top: 40%;}
	.dtDemo p span:last-child{top: 40%;right: 56%;}
	.dtDemo a{left: 12%;}
	.test-container{margin-top: 10%;}
	.btn-group5{position: relative;}
	.btn-group4 {max-height: 100%;min-height: auto;}
	.right-side{top: 0;padding-bottom: 50px;min-height: auto;}
	.left-box {min-height: auto;}
	.question-type {min-height: auto;}

}

@media(max-width: 992px){
	header .hRhtPanel {max-width: 396px;}
	.vedioPanel .col-md-3 { width: 80%; margin: 0 auto;}
	.vedioPanel .col-md-6 {width: 100%;}
	.middlePanelBody {margin-top: 30px;}
	.bWCol .textC1,.bWCol .textC2,.bWCol .textC3{background-size: 80% 70%;}
	.bWCol .textC1 p, .bWCol .textC3 p, .bWCol .textC2 p {left: 31%;}
	.textC1 p:nth-child(1) {left: 22px !important;}
	.textC2 p:nth-child(1) {left: 0 !important;}
	.textC3 p:nth-child(1) {left: 18px !important;}
	.lenghtTextDate p span {margin-top: 10px;display: block;}
	.demoTextBox h2::before {content: none;}
	.dtDemo p span:first-child { left: 37%;top: 40%;}
	.dtDemo p span:last-child{top: 40%;right: 36%;}
	.dtDemo a {bottom: 21px;left: 32%;}
	.bWCol .textC1 .num, .bWCol .textC3 .num, .bWCol .textC2 .num{left: -26px;}
	.pbp .midBarCont1{max-width: 370px;}
	.progressBarPanel .pbp:nth-child(3) {text-align: center;margin-bottom: 10px;}
	header{top: 0;}
	.rhtacc2{background-size: 40% 80%;position: relative;}
	.rhtacc2 span {text-align: center;margin: 0 auto;}
	.col-md-4.logo.hvr-push1.animated.slideInLeft {width: 25% !important;float: left;}
	header .col-md-8.hRhtPanel {max-width: 100%;float: right;width: 50%;display: inline-block;
	margin-right: 50px;}
	header{min-height: 74px;}

}
@media(max-width: 768px){.middlePanelBody {margin-top: 21%;}
header h1.logo {text-align: center;}
.bWCol .textC1, .bWCol .textC2, .bWCol .textC3 {background-size: 32% 79%;}
.textC1 p:nth-child(1) {left: 30% !important;top: 18px;}
.textC2 p:nth-child(1) {left: 24% !important;top: 18px;}
.textC3 p:nth-child(1) {left: 30% !important;top: 18px;}
.bWCol .textC1 p, .bWCol .textC3 p, .bWCol .textC2 p {left: 42%;}
.dtDemo p span:first-child {left: 35%;}
.dtDemo p span:last-child {right: 35%;}
.dtDemo a {left: 28%;}
.play-icon-block {left: 44%;top: 38%;}
.bWCol .textC1 .num, .bWCol .textC3 .num, .bWCol .textC2 .num {left: -37px;top: 72px;}
.progressBarPanel .pbp p{text-align: center;}
.test-container{margin-top: 20%;}
.section-dept {margin-top: 10%;}
.rhtacc2 {background-size: 60% 80%;}
.sectionWisePanel{padding: 10px 20px;}
.instructions-info {text-align: justify;}
.instructions-info ol{padding:0 10px;}
.instructions-info ol ol{padding:0 10px;}
header .col-md-8.hRhtPanel{margin-right: 20px;}
.hRhtPanel strong {font-size: 20px;}
.heading-demo {font-size: 23px;}
.left-box {padding: 0 20px;}
.left-box  .text-right {text-align: left;}
.btn-gray-border {padding: 4px 12px 0;margin-bottom: 10px;font-size: 12px;
	line-height: 22px;vertical-align: middle;}
.btn-white{padding: 4px 12px;}
.btn-group4 {padding: 0 38px;}
.btn-group4 .btn{width: 38px;height: 38px;}
.btn-group5{width: auto;}
}
@media(max-width: 600px){
	.bWCol .textC1, .bWCol .textC2, .bWCol .textC3 {background-size: 37% 79%;}
	.textC3 p:nth-child(1) {left: 28% !important;}
	.dtDemo p span:first-child {left: 30%;}
	.dtDemo p span:last-child {right: 29%;}
	.vedioPanel .col-md-3{width: 100%}
	.play-icon-block {top: 29%;}
	.vedioPanel {padding: 20px 20px;}
	header .hRhtPanel{margin-top: 0;}
	.hRhtPanel .btn-default img{margin-right: 0;}
	.hRhtPanel .btn-default {margin: 8px 1px 0;	font-size: 14px;}
	figure .img-responsive {width: 28px;}
	.scoreSectionPanel h2{margin: 10px 0;font-size: 16px;}
	.sectionWisePanel h2{font-size: 16px;margin: 5px 6px 5px 14px;}
	.tab-analysis > li a {font-size: 12px;padding: 14px 8px;}
	.analysis-box .tabcontent {padding: 0;}
	.first_time_tab {padding: 0 20px;}

}

@media(max-width: 480px){header .logo img {max-width: 115px;}
figure .img-responsive {width: 41px;}
.play-icon-block {left: 37%;top: 29%;}
.bWCol .textC1, .bWCol .textC2, .bWCol .textC3 {background-size: 60% 79%;}
.textC1 p:nth-child(1) {left: 18% !important;}
.textC2 p:nth-child(1) {left: 5% !important;}
.textC3 p:nth-child(1) {left: 13% !important;}
.test1 > h3 {padding-top: 35px;font-size: 20px;}
.dtDemo .col-md-4 {
	background: hsla(0, 0%, 0%, 0) url("../images/demo.png") no-repeat scroll center center / 100% 75%;
}
.dtDemo p span:first-child{font-size: 18px;left: 20%;}

.dtDemo p span:last-child{font-size: 18px;right: 18%;}
.dtDemo p span small{font-size: 12px !important;}
.dtDemo a {left: 0;bottom: 22px;font-size: 20px;}
.lenghtTextDate{font-size: 14px;}
.middlePanelBody {margin-top: 32%;}
.circle > img {	width: 120px;}
.instructions-info{padding: 0;}
.heading-instruct{margin-left: 0;}
.media-demo .media-body .heading-black{font-size: 20px;}
.media-demo .media-body .media-heading{font-size: 20px;}
.aveQues{font-size: 14px;}
.aveQues span:last-child{font-size: 14px;}
.iconsAcc::before {width: 160px;height: 94px;}
}


  /*excellence-gurukul css*/

.all-program-section{margin: 30px 0;}
.full-select-section{margin: 20px 0;}
.all-program-section .full-select-section .input-group{margin-bottom: 15px;}
.all-program-section .full-select-section .input-group .input-group-btn .btn.btn-default {background-color: #C74724;border-color: #C74724;color: #fff;padding: 9px;}
.all-program-section .list-heading{background-color: #f2f2f2;border-radius: 0;display: block;padding: 12px 15px;font-weight: 600;}
.all-program-section .list-heading .program-checks{padding: 12px 0;}
.all-program-section .list-heading .program-checks .checkbox{padding-top: 6px;}
.all-program-section .list-heading .program-checks .checkbox input{outline: none;}
.all-program-section .list-heading .program-checks label{font-size: 18px;}
.full-select-section .heading-select{font-size: 14px;font-weight: 600;}
.select-program-block{background: rgba(44,47,60,0.87);border-radius: 600px;height: 26px;min-width: 40px;margin-right: 10px;display: inline-block;padding: 1px 0;margin-top: 5px;}
.select-program-block .select-text {font-size: 14px;color: #fff;padding-right: 6px;padding-left: 14px;line-height: 26px;float: left;}
.select-program-block .select-cross {background: #333;border-radius: 600px;width: 22px;height: 22px;margin-right: 6px;cursor: pointer;float: right;}
.select-program-block .select-cross .select-close-x {color: rgba(255,255,255,0.58);font-size: 19px;line-height: 17px;font-weight: lighter;margin-top: 2px;text-align: center;vertical-align: middle;}
.filter-btn {background-color: #f3f3f3;height: 36px;width: 60px;border: 1px solid rgba(179,179,179,0.5);border-radius: 600px;outline: none;float: right;}
.cross-check{background: rebeccapurple;padding: 12px 30px;}
.all-program-section .content-block{padding: 15px;margin-bottom: 20px;}
.modal-checks{margin: 0 40px;}
.show-more-link{margin: 0 50px;border-top: 2px solid gray;position: relative;padding-top: 12px;}
.show-more-link a {text-decoration: none;font-size: 16px;}
.show-more-link a i{position: absolute;right: 0;top: 12px;}
.language-popup .modal-dialog{margin: 200px auto !important;}
.language-popup .modal-content .sub-heading:after{
  top: 44px;
}
.language-popup .modal-content .modal-header {
  border-bottom: none;
}
.language-popup .modal-content .modal-body{padding-bottom: 0;}
.language-popup .modal-content .modal-footer{border: none;padding-top: 0;}
.language-popup .modal-content .modal-footer .btn-default{padding: 12px 20px;color: #fff;background:#6f51c7;border: none;font-size: 18px;}
.main_content .pagination li a.btn-default{
  border: 1px solid #C74724;}
.main_content .pagination li a{color: #000;font-size: 16px;border:none;margin-right: 5px;}
.main_content .pagination li a:hover, .main_content .pagination li a:focus, .main_content .pagination li a:active, .main_content .pagination li a.active{border-radius:7px;background:#C74724;color: #fff;}
.all-program-section .content-block .btn-register{
width: 105px;
padding: 3px;
}

#sidebar.sticky {
  float: none;
  position: fixed;
  top: 20px;
  z-index: 6;
  left: auto;
  width: 225px;
}
.show-more-link a{
color: #D55220;
}

.sticky .list-menu .sub-heading:after{
  right: 0px;
left: 0px;
}

@media (max-width: 768px){
  #sidebar.sticky {
  position: static;
  width: auto;
}
.all-program-section .content-block {
  padding: 0;
  margin-bottom: 20px;
}
.main_content .pagination li a {
  margin-right: 2px;
}
.all-program-section {

  padding: 0 !important;
}
}